<% if @company.errors.count > 0 %>
  <div class="ui error message">
    <div class="header">
      There was some problems
    </div>
    <ul class="list">
      <% @company.errors.messages.each do |attribute, messages| %>
        <% messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>



<%= form_for [:staff, @company], html: {class: 'ui form segment', multipart: true } do |f| %>

  <div class="ui segment">
    <h2>Personal / Owner</h2>

    <%= f.hidden_field :lead_id %>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>

    <div class="field">
      <%= f.label :phone %>
      <%= f.text_field :phone %>
    </div>

    <div class="field">
      <%= f.label :homepage %>
      <%= f.text_field :homepage %>
    </div>

    <% unless @company.new_record? %>
      <div class="two fields">
        <div class="field">
          <%= f.label :password %>
          <%= f.password_field :password %>
        </div>
        <div class="field">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="ui segment">
    <h2>Company</h2>

    <div class="field">
      <%= f.label :company_name %>
      <%= f.text_field :company_name %>
    </div>

    <div class="field">
      <%= f.label :company_email %>
      <%= f.text_field :company_email %>
    </div>

    <div class="field">
      <%= f.label :cvr %>
      <%= f.text_field :cvr %>
    </div>

    <div class="field">
      <%= f.label :address %>
      <%= f.text_field :address %>
    </div>

    <h2>Supported services</h2>
    <% @service_fields.each do |service_field| %>
      <p><%= service_field.name %></p>

      <div class="field">
        <div class="ui checkbox">
          <%= params[:service_field] %>
          <% enabled = @company.service_fields.include?(service_field) %>
          <%= check_box_tag 'company[service_field_ids][]', service_field.id, enabled, id: "service_field_ids_#{service_field.id}" %>
          <%= f.label service_field.name, for: "service_field_ids_#{service_field.id}" %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="field">
    <%= f.submit 'Save', class: 'ui green submit button' %>
    <%= link_to 'Cancel', session[:return_to], class: 'ui blue submit button' %>
  </div>
<% end %>