<% content_for :statistics do %>
  <h4 class="stat"><em>Total companies: <span><%= @companies.count %></span></em></h4>
<% end %>
<div class="content header">
  <%= link_to '<i class="add icon"></i> Register Company'.html_safe, new_staff_company_path, class: 'ui small green labeled icon button pull-right' %>
	<h2>Companies</h2>
</div>
<table class="ui table segment">
  <thead>
    <tr>
      <th>Id</th>
      <th>Company name</th>
      <th>Owner name</th>
      <th>Email</th>
      <th>Active</th>
      <th>Register date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @companies.each do |company| %>
    <tr>
      <td><%= company.id %></td>
      <td><%= company.company_name %></td>
      <td><%= company.name %></td>
      <td><%= company.email %></td>
      <td class="<%= company.active ? 'positive' : 'negative' %>"><%= company.active ? 'Yes' : 'No' %></td>
      <td><%= company.created_at %></td>
      <td>
        <%= link_to '<i class="trash icon"></i> X'.html_safe, staff_company_path(company), class: 'ui icon button tiny labeled red pull-right', confirm: 'Are you sure?', method: :delete  %>
        <%= link_to '<i class="edit icon"></i> Edit'.html_safe, edit_staff_company_path(company), class: 'ui icon button tiny labeled blue pull-right'%>
        <%= link_to '<i class="unhide icon"></i> Details'.html_safe, staff_company_path(company), class: 'ui icon button tiny labeled green pull-right', style: 'margin-top: 5px; width: 197px'%>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>