<% content_for :statistics do %>
  <h4 class="stat"><em>Total companies: <span><%= @companies.count %></span></em></h4>
<% end %>

<% content_for :scripts do %>
  <script>
    $(document).ready(function() {
      var companyCords, service, mode, distance, filter = "";
      companyCords = <%= @company_cords.html_safe %>;
      // Init initial markers.
      L.updateMap(companyCords, 'radius', 10000);

      // On company update map.
      $('#update-map').click(function (e) {
        e.preventDefault();

        service = $('#service').val();
        if(/service-/.test(service)) {
          // Pick id of service-x
          service = service.substr(8);
          filter = '?service=' + service
        }else if(service.length > 0) {
          filter = '?service_field=' + service
        }

        mode = $('#mode').val();
        distance = $('#distance').val();
        if(distance.length == 0) {
          distance = 10000
        }

        $.ajax({
          type: 'GET',
          url: '/maps/companies.json' + filter,
          success: function(cords) {
            L.updateMap(cords, mode, distance);
          }
        });
      });
    });
  </script>
<% end %>

<div class="content header">
  <h2>Company map</h2>
</div>

<div class="ui segment blue">
  <h2>Map settings</h2>

  <%= form_tag staff_company_map_path, method: 'GET', class: 'ui form' do  %>
    <div class="three fields">
      <div class="field input">
        <div class="ui fluid selection dropdown">
          <%= hidden_field_tag :service %>
          <div class="text">Service(field)</div>
          <i class="dropdown icon"></i>
          <div class="menu" style="z-index: 1001;">
            <% @service_fields.each do |sf| %>
              <div class="item" data-value="<%= sf.id %>"><%= sf.name %></div>
              <% sf.services.each do |s| %>
                <div class="item" data-value="service-<%= s.id %>">- <%= s.name %></div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="field input">
        <div class="ui fluid selection dropdown">
          <%= hidden_field_tag :mode %>
          <div class="text">Kort visning</div>
          <i class="dropdown icon"></i>
          <div class="menu" style="z-index: 1001;">
              <div class="item" data-value="radius">Radius</div>
            <div class="item" data-value="pins">Pins</div>
          </div>
        </div>
      </div>
      <div class="field input">
        <%= text_field_tag :form, params[:form], placeholder: 'Circle radius (meter)', id: 'distance' %>
      </div>
    </div>
    <%= submit_tag 'Update map', class: 'ui small green submit button', id: 'update-map' %>
  <% end %>
</div>


<div class="ui table segment">
  <div id="map" style="height: 800px; width: 100%"></div>
</div>