<div class="ui segment">
  <div class="content header">
    <h2>Personal / Owner</h2>
	</div>
  <h5 class="ui dividing header">Owner name</h5>
  <p><%= @company.name %></p>
  <h5 class="ui dividing header">Email</h5>
  <p><%= @company.email %></p>
  <h5 class="ui dividing header">Phone</h5>
  <p><%= @company.phone %></p>
  <h5 class="ui dividing header">Homepage</h5>
  <p><%= @company.homepage %></p>
</div>

<div class="ui segment">
  <div class="content header">
    <h2>Company</h2>
	</div>
  <h5 class="ui dividing header">Name</h5>
  <p><%= @company.company_name %></p>
  <h5 class="ui dividing header">Email</h5>
  <p><%= @company.company_email.present? ? @company.company_email : @company.email %></p>
  <h5 class="ui dividing header">CVR</h5>
  <p><%= @company.cvr %></p>
  <h5 class="ui dividing header">Address</h5>
  <p><%= @company.address %></p>

  <h5 class="ui dividing header">Supported services</h5>
  <% @service_fields.each do |service_field| %>
    <% if @company.services.collect(&:service_field).include? service_field %>
      <p><%= service_field.name %></p>
      <% service_field.services.each do |service| %>
        <small><%= service.name if @company.services.include?(service)%></small><br>
      <% end %>
    <% end %>
  <% end %>
</div>
