<section class="dimmable">
  <div class="dimmer">
    <div class="content">
      <p class="big">Gemmer</p>
      <i class="fa large fa-circle-o-notch fa-spin"></i>
    </div>
    <div class="success">
      <i class="fa green huge fa-check-circle-o"></i>
    </div>
  </div>

	<div class="container_16">
		<div class="grid_10 push_3">

      {{error-messages for=this}}

			<table class="small">
				<thead>
        <tr>
          <th style="width: 25%;"><h5 class="tiny no-margin">Kontoinstillinger</h5></th>
					<th></th>
        </tr>
				</thead>
				<tbody>
					<tr>
						<td><p>Navn</p></td>
            <td>{{input type="text" value=name class="small fluid"}}</td>
					</tr>
          <tr>
            <td>{{t 'company_panel.settings.account.phone'}}</td>
            <td>{{input type="text" value=phone class="small fluid"}}</td>
          </tr>
          <tr>
            <td>{{t 'company_panel.settings.account.email'}}</td>
            <td>{{input type="text" value=email class="small fluid"}}</td>
          </tr>
          <tr>
            <td><p>Nyhedsbrev</p></td>

            <td {{action 'subscribeNewsletter'}}>
		          {{#if newsletter}}
	              <i class="small fa fa-check-square-o"></i>
		          {{else}}
	              <i class="small fa fa-square-o"></i>
		          {{/if}}
	            {{t 'company_panel.settings.account.newsletterDescription' }}
            </td>
          </tr>
					<tr>
						<td>{{t 'company_panel.settings.account.password'}}</td>
            <td>{{input type="password" value=password class="small fluid"}}</td>
					</tr>
          <tr>
            <td>{{t 'company_panel.settings.account.passwordAgain'}}</td>
            <td>{{input type="password" value=passwordConfirmation class="small fluid"}}</td>
          </tr>
				</tbody>
			</table>
      <input type="submit" {{translateAttr value="company_panel.settings.account.saveButton"}} class="orange huge button pull-right" {{action 'saveAccount'}}>
		</div>
	</div>
</section>
<br>