<section class="dimmable">
  <div class="dimmer">
    <div class="content">
      <p class="big">Gemmer</p>
      <i class="fa large fa-circle-o-notch fa-spin"></i>
    </div>
    <div class="content success">
      <i class="fa green huge fa-check-circle-o"></i>
    </div>
  </div>

	<div class="container_16">

    {{error-messages for=this}}

		<div class="grid_4">
      <table class="small">
        <tbody>
	        <tr>
	          <td><img {{bind-attr src=logo}} style="width: 192px; height: 192px; border-radius: 3px; border: 1px solid #e9e9e9;"><br></td>
	        </tr>
	      </tbody>
        <tfoot>
        <tr>
          <td class="text-center">
            <div class="file-field text-center">
              <div class="blue tiny button no-text-shadow">Upload logo</div>
              <input type="file" id="logo-upload" name="company[logo]" class="hide">
            </div>
          </td>
        </tr>
	      </tfoot>
      </table>

      <table class="small">
        <tbody>
        {{#each allServiceFields}}
	        <tr>
	          <td>{{name}}</td>
            <td>{{input type="checkbox" checked=selected}}</td>
	        </tr>
        {{/each}}
        </tbody>
      </table>

		</div>
		<div class="grid_12 no-padding">
			<table class="small">
				<tbody>
	        <tr>
	          <td>{{input type="text" value=companyName class="fluid"}}</td>
	        </tr>
				</tbody>
			</table>
			<div class="segment">
				{{textarea id='wysiwyg' value=description class="big" placeholder="Beskriv din praksis og hvad du/i tilbyder.."}}
			</div>
		</div>
	</div>
	<div class="container_16">
		<div class="grid_11">
      <table class="small">
        <tbody>
	        <tr>
	          <td><p>{{t 'company_panel.settings.practice.number'}}</p></td>
	          <td style="width: 70%;">{{input type="text" value=cvr class="small fluid"}}</td>
	        </tr>
	        <tr>
	          <td><p>{{t 'company_panel.settings.practice.email'}}</td>
	          <td>{{input type="text" value=companyEmail class="small fluid"}}</td>
	        </tr>
	        <tr>
	          <td><p>{{t 'company_panel.settings.practice.phone'}}</p></td>
	          <td>{{input type="text" value=phone class="small fluid"}}</td>
	        </tr>
        </tbody>
      </table>
			<table class="small">
				<thead>
        <tr>
          <th><h5 class="tiny no-margin">{{t 'company_panel.settings.practice.address'}}</h5></th>
        </tr>
				</thead>
				<tbody>
        <tr>
          <td style="width: 76%;">{{input type="text" value=address class="small fluid"}}</td>
          <td><a href="#" class="small button blue" {{action 'processAddress' target=view}}>Bekræft adresse</a></td>
        </tr>
				</tbody>
			</table>
			<div class="segment">
         <div class="ui transition hidden" id="map" style="width: 100%; height: 235px;"></div>
				{{#if view.addressNotFound}}
          <p class="red">Vi kunne desværre ikke finde din addresse, prøv venligst igen.</p>
				{{/if}}
			</div>
      <table class="small facilities">
        <thead>
        <tr>
          <th><h5 class="tiny no-margin">Faciliteter</h5></th>
          <th></th>
          <th></th>
          <th></th>
          <th class="no-padding">
            {{#if canUploadFacilityImage}}
              <div class="file-field pull-right">
                <div class="blue tiny button no-text-shadow">Upload nyt billede</div>
                <input type="file" id="facilities-upload" name="facility_image[image]">
              </div>
            {{else}}
              <p>Slet et billede, for at uploade nye billeder.</p>
            {{/if}}
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          {{#each facilityImages}}
            <td class="text-center">
              <img class="center" {{bind-attr src=thumb}} style="width: 89px; height: 89px; border-radius: 3px; border: 1px solid #ccc;"><br>
              <a href="" class="tiny red button center no-text-shadow" {{action 'removeImage' this}}>Fjern</a>
            </td>
          {{/each}}
        </tr>
        </tbody>
      </table>
      <input type="submit" {{translateAttr value="company_panel.settings.practice.saveButton"}} class="huge button orange fluid" {{action 'updateProfile'}}>
		</div>
    <div class="grid_5">
	    <table class="small columns">
        <thead>
        <th><h5 class="tiny no-margin">{{t 'company_panel.settings.practice.openingHoursTitle'}}</h5></th>
        <th><small>{{t 'company_panel.settings.practice.example'}}</small></th>
        </thead>
		    <tbody>
		      <tr>
            <td><p>{{t 'company_panel.settings.practice.monday'}}</p></td>
            <td>{{input type="text" value=openingHours.monday class="tiny fluid"}}</td>
		      </tr>
			    <tr>
				    <td><p>{{t 'company_panel.settings.practice.tuesday'}}</p></td>
				    <td>{{input type="text" value=openingHours.tuesday class="tiny fluid"}}</td>
			    </tr>
          <tr>
						<td><p>{{t 'company_panel.settings.practice.wednesday'}}</td>
            <td>{{input type="text" value=openingHours.wednesday class="tiny fluid"}}</td>
          </tr>
          <tr>
            <td><p>{{t 'company_panel.settings.practice.thursday'}}</p></td>
            <td>{{input type="text" value=openingHours.thursday class="tiny fluid"}}</td>
          </tr>
          <tr>
            <td><p>{{t 'company_panel.settings.practice.friday'}}</p></td>
            <td>{{input type="text" value=openingHours.friday class="tiny fluid"}}</td>
          </tr>
          <tr>
            <td><p>{{t 'company_panel.settings.practice.saturday'}}</p></td>
            <td>{{input type="text" value=openingHours.saturday class="tiny fluid"}}</td>
          </tr>
          <tr>
            <td><p>{{t 'company_panel.settings.practice.sunday'}}</p></td>
            <td>{{input type="text" value=openingHours.sunday class="tiny fluid"}}</td>
          </tr>
		    </tbody>
	    </table>
      <table class="small">
        <thead>
        <tr>
          <th style="width: 25%;"><h5 class="tiny no-margin">{{t 'company_panel.settings.practice.paymentMethods'}}</h5></th>
        </tr>
        </thead>
        <tbody>
        {{#each paymentMethods}}
            <tr>
              <td>
                <label>{{input type="checkbox" checked=enabled}} {{name}}</label>
              </td>
            <tr>
        {{/each}}
        </tbody>
      </table>
    </div>
	</div>
</section>
<br>
<div class="medium modal uploading">
	<div class="segment attached top">
		<h5 class="tiny no-margin text-center">Uploader billede...</h5>
	</div>
	<div class="segment no-margin">
	  <div class="progress-bar">
	    <span class="bar blue bg"></span>
	  </div>
  </div>
</div>