<section class="dimmable">
  <div class="dimmer">
    <div class="content">
      <p class="big">Gemmer</p>
      <i class="fa large fa-circle-o-notch fa-spin"></i>
    </div>
    <div class="success">
      <i class="fa green huge fa-check-circle-o"></i>
    </div>
  </div>

  <div class="container_16">
    <div class="grid_16">
      <table>
        <thead>
        <tr>
          <th>Navn</th>
          <th>Beskrivelse</th>
          <th>Varighed (I minutter)</th>
          <th>Pris</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        {{#each menuItems}}
          {{#if editing}}
            <tr>
              <td>{{input value=name}}</td>
              <td>{{textarea value=description}}</td>
              <td>{{input value=duration}}</td>
              <td>{{input value=price}}</td>
              <td>
                <a {{action 'updateMenuItem' this}}>Gem</a>
                <a {{action 'cancelEdit' this}}>Afbryd</a>
              </td>
            </tr>
          {{else}}
            <tr>
              <td>{{name}}</td>
              <td>{{description}}</td>
              <td>{{duration}}</td>
              <td>{{numberFormat price true false}}</td>
              <td>
                <a {{action 'editMenuItem' this}}>Ret</a>
                <a {{action 'deleteMenuItem' this}}>Slet</a>
              </td>
            </tr>
          {{/if}}
        {{/each}}

        <tr>
          <td>{{input value=newMenuItem.name placeholder="Navn"}}</td>
          <td>{{textarea value=newMenuItem.description placeholder="Beskrivelse"}}</td>
          <td>{{input value=newMenuItem.duration placeholder="Varighed"}}</td>
          <td>{{input value=newMenuItem.price placeholder="Pris"}}</td>
          <td><input class="button tiny green" type="submit" value="Tilføj" {{action "addMenuItem"}} ></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</section>