<%= form_for [:staff, @service_field], html: {class: 'ui form segment', multipart: true } do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :practitioner_term %>
    <%= f.text_field :practitioner_term %>
  </div>

  <div class="field">
    <%= f.label :short_description %>
    <%= f.text_area :short_description %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :meta_description %>
    <%= f.text_area :meta_description %>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>

    <% if @service_field.image? %>
      <p>Avatar:</p> <%= image_tag @service_field.image_url(:avatar) %>
      <p>Small avatar:</p> <%= image_tag @service_field.image_url(:small_avatar) %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <div class="field">
    <div class="ui checkbox">
      <%= f.check_box :published %>
      <%= f.label :published %>
    </div>
  </div>
  <div class="field">
    <div class="ui checkbox">
      <%= f.check_box :flow_active %>
      <%= f.label :flow_active %>
    </div>
    <br>
    <small>Should service field, be available in flow.</small>
  </div>

  <div class="field">
    <%= f.submit 'Save', class: 'ui green submit button' %>
    <%= link_to 'Cancel', staff_service_fields_path, class: 'ui blue submit button' %>
  </div>
<% end %>