
<% content_for :statistics do %>
	<h4 class="stat"><em>Total Service Fields: <span><%= @service_fields.count %></span></em></h4>
  <h4 class="stat"><em>Total Services: <span><%= Service.count %></span></em></h4>
<% end %>

<div class="content header">
  <%= link_to '<i class="add icon"></i> Service field'.html_safe, new_staff_service_field_path, class: 'ui small green labeled icon button pull-right' %>
  <%= link_to '<i class="add icon"></i> Service'.html_safe, new_staff_service_path, class: 'ui small green labeled icon button pull-right' %>
	<h2>Service Fields</h2>
</div>
<table class="ui table segment">
  <thead>
    <tr>
      <th width="30"></th>
      <th>Name</th>
      <th>Published</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @service_fields.each do |service_field| %>
    <tr>
      <td><% if service_field.services.present? %><i class="level down icon flipped"></i> <% end %></td>
      <td><strong><%= service_field.name %></strong></td>
      <td class="<%= service_field.published ? 'positive' : 'negative' %>"><%= service_field.published ? 'Yes' : 'No' %></td>
      <td >
        <%= link_to '<i class="trash icon"></i> X'.html_safe, staff_service_field_path(service_field), class: 'ui icon button tiny labeled red pull-right', confirm: 'Are you sure?', method: :delete  %>
        <%= link_to '<i class="edit icon"></i> Edit'.html_safe, edit_staff_service_field_path(service_field), class: 'ui icon button tiny labeled blue pull-right'%>
      </td>
    </tr>
    <% service_field.services.each do |service| %>
      <tr class="alert">
        <td><i class="double angle right icon"></i></td>
        <td><%= service.name %></td>
        <td class="<%= service.published ? 'positive' : 'negative' %>"><%= service.published ? 'Yes' : 'No' %></td>
        <td>
          <%= link_to '<i class="trash icon"></i> X'.html_safe, staff_service_path(service), class: 'ui icon button tiny labeled red pull-right', confirm: 'Are you sure?', method: :delete  %>
          <%= link_to '<i class="edit icon"></i> Edit'.html_safe, edit_staff_service_path(service), class: 'ui icon button labeled tiny blue pull-right'%>
        </td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>