<div class="container_16">
	<div class="grid_4 segment">
		{{#each serviceField in serviceFields}}
			{{#link-to 'home.wiki.service_field' serviceField.slug}}<h3 class="small"> {{ serviceField.name }} </h3>{{/link-to}}
      <ul>
				{{#each service in serviceField.services}}
          <li>
            <i class="double angle right icon"></i>
						{{#link-to 'home.wiki.service' serviceField.slug service.slug }} {{ service.name }} {{/link-to}}
          </li>
				{{/each}}
      </ul>
		{{/each}}
	</div>
  <div class="grid_12 segment">
    {{start-flow serviceField=this hideServiceField=true globalInitFlow="globalInitFlow"}}
  </div>
	<div class="grid_12">
		<div class="segment attached top">
			<h1 class="medium no-margin">
        <strong>{{name}}</strong>
			</h1>
		</div>
		<div class="segment">
      <h2 class="tiny">{{{description}}}</h2>
			<p>{{{model.content}}}</p>
      <div class="social">
				{{view Sanatid.SocialShareView}}
      </div>
		</div>
	</div>
</div>

{{search-city globalInitFlow="globalInitFlow"}}
