<%= form_for [:staff, @clip], html: {class: 'ui form segment', multipart: true } do |f| %>
  <div class="field">
    <%= f.label :status %>
    <%= f.select :status, [:confirmed, :declined, :undecided] %>
  </div>

  <div class="field">
    <%= f.submit 'Save', class: 'ui green submit button' %>
    <%= link_to 'Cancel', staff_clips_path, class: 'ui blue submit button' %>
  </div>
<% end %>