
<% content_for :statistics do %>
	<h4 class="stat"><em>Total unaccepted clips: <span><%= @clips.count %></span></em></h4>
<% end %>
<div class="content header">
	<h2>Unaccepted Clips</h2>
</div>
<table class="ui table segment">
  <thead>
    <tr>
      <th>Customer id</th>
      <th>Customer name</th>
      <th>Customer contact</th>
      <th>Company id</th>
      <th>Company name</th>
      <th>Company contact</th>
      <th>Clipped at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @clips.each do |clip| %>
    <% customer = clip.voucher.customer %>
    <% company = clip.voucher.company %>
    <tr>
      <td><%= customer.id %></td>
      <td><%= customer.name %></td>
      <td><%= customer.email %> <br> Tlf. <%= customer.phone if customer.phone.present? %></td>
      <td><%= company.id %></td>
      <td><%= company.name %> (<%= company.company_name %>)</td>
      <td><%= company.email %> <br> Tlf. <%= company.phone if company.phone.present? %></td>
      <td><%= clip.created_at %></td>
      <td class="clip-actions">
        <%= link_to '<i class="unhide icon"></i> Details'.html_safe, staff_clip_path(clip), class: 'ui icon button tiny labeled green'%>
        <%= link_to '<i class="edit icon"></i> Edit'.html_safe, edit_staff_clip_path(clip), class: 'ui icon button tiny labeled blue'%>
        <%= link_to '<i class="trash icon"></i> Delete'.html_safe, staff_clip_path(clip), class: 'ui icon button tiny labeled red', confirm: 'Are you sure?', method: :delete  %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>