<div class="content header">
  <div class="pull-right" style="margin: 25px 25px 0 0;">Id. <%= @clip.id %>, clipped at <%= @clip.created_at %></div>
  <h2>Clip</h2>
</div>
<div class="ui segment">
  <div class="subheader text-center"><h3>Between</h3></div>
  <div class="ui grid">
    <div class="segment eight column wide">
      <div class="subheader text-center"><h3>Customer</h3></div>
      <div class="ui divided list">
        <div class="item">
          <div class="ui blue horizontal label">Name</div>
          <%= @clip.voucher.customer.name %>
        </div>

        <div class="item">
          <div class="ui blue horizontal label">Email</div>
          <%= @clip.voucher.customer.email %>
        </div>

        <div class="item">
          <div class="ui blue horizontal label">Phone</div>
          <%= @clip.voucher.customer.phone %>
        </div>
      </div>
    </div>
    <div class="segment eight column wide">
      <div class="subheader text-center"><h3>Company</h3></div>
      <div class="ui divided list">
        <div class="item">
          <div class="ui blue horizontal label">Name</div>
          <%= @clip.voucher.company.name %>
        </div>

        <div class="item">
          <div class="ui blue horizontal label">Company name</div>
          <%= @clip.voucher.company.company_name %>
        </div>

        <div class="item">
          <div class="ui blue horizontal label">Email</div>
          <%= @clip.voucher.company.email %>
        </div>

        <div class="item">
          <div class="ui blue horizontal label">Phone</div>
          <%= @clip.voucher.company.phone %>
        </div>

        <div class="item">
          <div class="ui blue horizontal label">More details</div>
          <%= link_to 'View company', staff_company_path(@clip.voucher.company) %>
        </div>
      </div>
    </div>
  </div>



</div>