<h2>Current invoices</h2>

<table class="ui table segment">
  <thead>
  <tr>
    <th>Reference id</th>
    <th>State</th>
    <th>Start</th>
    <th>End</th>
    <th>Due date</th>
    <th>Current total</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>

  <tr>
    <td><%= @company.active_invoice.reference_id %></td>
    <td><%= @company.active_invoice.state %></td>
    <td><%= l @company.active_invoice.start_date, format: :short %></td>
    <td><%= l @company.active_invoice.end_date, format: :short %></td>
    <td><%= l @company.active_invoice.due_date, format: :short if @company.active_invoice.due_date.present? %></td>
    <td><%= @company.active_invoice.total %></td>
    <td>
      <%= link_to '<i class="unhide icon"></i> Details'.html_safe, staff_company_invoice_path(@company, @company.active_invoice), class: 'ui icon button tiny labeled green pull-right', style: 'margin-top: 5px; width: 197px'%>
    </td>
  </tr>

  </tbody>
</table>

<h2>Previous invoices</h2>
<table class="ui table segment">
  <thead>
  <tr>
    <th>Reference id</th>
    <th>State</th>
    <th>Start</th>
    <th>End</th>
    <th>Due date</th>
    <th>Payed</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @prev_invoices.each do |invoice| %>
    <tr>
      <td><%= invoice.reference_id %></td>
      <td><%= invoice.state %></td>
      <td><%= l invoice.start_date, format: :short %></td>
      <td><%= l invoice.end_date, format: :short %></td>
      <td><%= l invoice.due_date, format: :short if invoice.due_date.present? %></td>
      <td><%= invoice.paid_at if invoice.paid_at.present? %></td>
      <td>
        <%= link_to '<i class="unhide icon"></i> Details'.html_safe, staff_company_invoice_path(@company, invoice), class: 'ui icon button tiny labeled green pull-right', style: 'margin-top: 5px; width: 197px'%>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>