Sanatid.CompanyPanelSettingsProfileView = Ember.View.extend
  map: null
  mapPointer: null
  addressNotFound: false

  didInsertElement: ->

    initEditor = ->
      new nicEditor(
        iconsPath : '<%= asset_path('nicEdit/nicEditorIcons.gif') %>'
        buttonList: ['bold', 'italic', 'underline', 'left', 'center', 'right', 'ol', 'ul']
      ).panelInstance('wysiwyg')

      $('.nicEdit-main').parent('div').addClass('wysiwyg')

      $("div.nicEdit-main, .nicEdit-button").bind 'keyup click', ->
        nicEditors.findEditor('wysiwyg').saveContent()

      $('#wysiwyg').trigger('change')

    # Load in nicEdit.
    unless bkLib?
      $.getScript "<%= asset_path 'nicEdit.js' %>", ->
        initEditor()
    else
      initEditor()

    $('#facilities-upload').fileupload
      url: "/api/facility_images.json",
      method: 'POST'
      add: (e, data) =>
        types = /(\.|\/)(jpe?g|png)$/i
        file = data.files[0]
        if types.test(file.type) || types.test(file.name)

          $('.uploading.modal').showModal(shade: true)
          data.submit()

        else
          alert("#{file.name} is not jpeg, or png image file")

      done: (e, data) =>
        @get('controller.model').reload()

        $('.uploading .progress-bar').addClass('complete')

        setTimeout ->
          $('.uploading.modal').hideModal()

          # Reset.
          $('.uploading .progress-bar').removeClass('complete')
          $('.uploading .bar').width(0)
        , 1500

      progress: (e, data) =>
        progress = parseInt(data.loaded / data.total * 100, 10)
        $('.uploading .bar').animate(width: progress + '%', 1000)


    $('#logo-upload').fileupload
      url: "/api/companies/#{@get('controller.id')}.json",
      method: 'PUT'
      add: (e, data) =>
        types = /(\.|\/)(jpe?g|png)$/i
        file = data.files[0]
        if types.test(file.type) || types.test(file.name)

          $('.uploading.modal').showModal(shade: true)
          data.submit()

        else
          alert("#{file.name} is not jpeg, or png image file")

      done: (e, data) =>
        @get('controller.model').reload()

        $('.uploading .progress-bar').addClass('complete')

        setTimeout ->
          $('.uploading.modal').hideModal()

          # Reset.
          $('.uploading .progress-bar').removeClass('complete')
          $('.uploading .bar').width(0)
        , 1500

      progress: (e, data) =>
        progress = parseInt(data.loaded / data.total * 100, 10)
        $('.uploading .bar').animate(width: progress + '%', 1000)

    # Lazy load in Leaflet.
    $.getScript "<%= asset_path 'leaflet.js' %>", =>
      @set('map', L.map('map', {
        dragging: false
        touchZoom: false
        scrollWheelZoom: false
        doubleClickZoom: false
        boxZoom: false
        zoomControl: false
        attributionControl: false
      }))
      @get('map').setView([0, 0], 14);
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(@get('map'))

      @set('mapPointer', L.marker([0, 0]))
      @get('mapPointer').addTo(@get('map'))

      # If company already have a address set, show it.
      if @get('controller.address')
        @send('processAddress')

    # Init file buttons
    Ember.run.next ->
      $('.file-field').each (index, context) ->
        $(context).find('.button').click =>
          $(context).find('input[type=file]').trigger('click')


  actions:
    processAddress: ->
      $.getScript "https://www.google.com/jsapi", =>
        google.load 'maps','3.6', other_params:'sensor=false', callback: =>
          geocoder = new google.maps.Geocoder()
          geocoder.geocode {'address': @get('controller.address')}, (results, status) =>
            Ember.run =>
              data = results[0]
              if data
                # Save the current address.
                @set('controller.address', data.formatted_address)
                # Scale in the map, if hidden.
                if $('#map').hasClass('hidden')
                  $('#map').transition('scale')
                  @get('map').invalidateSize()
                # Set pointer on map.
                @get('map').setView([data.geometry.location.lat(), data.geometry.location.lng()], 14);
                @get('mapPointer').setLatLng([data.geometry.location.lat(), data.geometry.location.lng()])
                @set('addressNotFound', false)
              else
                @set('addressNotFound', true)


