@import "compass/layout/sticky-footer";

footer {
  width: 100%;
  color: #FFF;
  font-size: 12px;
  overflow: auto;

  .footer-arrow {
    position: absolute;
    right: 10px;
    top: 10px;

    &:hover i {
      color: red;
      cursor: pointer;
    }

    i {
      font-size: 30px;
    }
  }

  ul {

    li a {
      color: #FFF;
    }

    li {
      font-weight: 200;
      padding: 5px 0;
      font-size: 14px;
      color: #FFF;
    }
  }

  .extra {
    height: 90px;
  }
}

#wrapper.frontpage .footer-push {
  margin-bottom: 0px;
}

// Sticky footer!

body > .ember-view {
  height: 100%;

  footer {
    height: 313px;
  }

  #wrapper {
    margin-bottom: -313px;
  }
}

@include sticky-footer(313px, "#wrapper", ".footer-push", "footer");
