nav ul {
  margin: 30px 0;
  float: right;

  li {
    display: inline-block;
    vertical-align: middle;
    padding: 0 20px;

    a {
      font-size: 16px;
      color: #FFF;
      font-weight: 200;

      &.active {
        background-color: #DE6F00;
        padding: 10px;
        border-radius: 5px;
        color: #000;
      }
    }

    &:last-of-type {
      padding-right: 0;
    }
  }
}

.site-navigation {
  position: fixed;
  right: 120px;
  top: 0;
  width: 120px;
  height: 100%;
  margin-right: -120px;
  overflow-x: hidden;
  overflow-y: auto;


  ul.nav {
    position: absolute;
    right: 40px;
    width: 40px;
    &.top {
      top: 20px;
    }
    &.bottom {
      bottom: 0;
    }
    li {
      height: 60px;
      width: 40px;
      text-align: center;
      i {
        font-size: 34px;
        color:#FFF;
      }
    }
  }
}