.ui-selectmenu-menu {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  display: none;

  .ui-menu {
    overflow: auto;
    /* Support: IE7 */
    overflow-x: hidden;
    padding-bottom: 1px;

    .ui-selectmenu-optgroup {
      font-size: 1em;
      font-weight: bold;
      line-height: 1.5;
      padding: 2px 0.4em;
      margin: 0.5em 0 0 0;
      height: auto;
      border: 0;
    }
  }
}

.ui-selectmenu-open {
  display: block;
}

.ui-selectmenu-button {
  display: inline-block;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  padding: 7px 0 6px 0;
  border-radius: 5px;
  font-size: 16px;
  line-height: 28px;
  color: #333;
  font-weight: bold;
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
  vertical-align: middle;
  border: 1px solid #ccc;
  border-color: rgba(0,0,0,0.2) rgba(0,0,0,0.2) rgba(0,0,0,0.5);
  -moz-box-shadow: 0 0 3px 1px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 0 3px 1px rgba(0,0,0,0.2);
  box-shadow: 0 0 3px 1px rgba(0,0,0,0.2);

  span.ui-icon {
    right: 0.5em;
    left: auto;
    margin-top: -8px;
    position: absolute;
    top: 50%;
  }

  span.ui-selectmenu-text {
    text-align: left;
    padding: 0.4em 2.1em 0.4em 1em;
    display: block;
    line-height: 1.4;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.ui-menu-item {
  line-height: 30px;
  vertical-align: middle;
  padding-left: 10px!important;

  &:hover, &.ui-state-focus {
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    background-color: rgba(0,0,0,0.1);
  }

  &.ui-state-disabled {
    display: none;
  }
}
