<div class="ui attached black button top pull-right" style="width: 640px; margin-top: 10px;">Login for Sanatid Staff members</div>
<div class="ui attached form segment pull-right" style="width: 640px; margin-top: 0;">
<%= form_for :staff_session, url: staff_sessions_path do |f| %>
    <div class="field">
      <%= f.label :email %>
      <div class="ui left labeled icon input">
        <%= f.text_field :email %>
        <i class="mail icon"></i>
        <div class="ui corner label">
          <i class="icon asterisk"></i>
        </div>
      </div>
    </div>
    <div class="field">
      <%= f.label :password %>
      <div class="ui left labeled icon input">
        <%= f.password_field :password %>
        <i class="lock icon"></i>
        <div class="ui corner label">
          <i class="icon asterisk"></i>
        </div>
      </div>
    </div>
    <%= f.submit 'Login', class: 'ui green fluent button' %>
<% end %>
</div>

