<% content_for :statistics do %>
  <h4 class="stat"><em>Total newsletter subscribers: <span><%= @subscribers.count %></span></em></h4>
<% end %>
<div class="content header">
	<h2>Newsletter subscribers</h2>
</div>

<table class="ui table segment">
  <thead>
    <tr>
      <th>Id</th>
      <th>Email</th>
      <th>Date subscribed</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @subscribers.each do |subscriber| %>
    <tr>
      <td><%= subscriber.id %></td>
      <td><%= subscriber.email if subscriber.email.present? %></td>
      <td><%= subscriber.created_at %></td>
      <td >
        <%= link_to '<i class="trash icon"></i> X'.html_safe, staff_newsletter_subscriber_path(subscriber), class: 'ui icon button tiny labeled red pull-right', confirm: 'Are you sure?', method: :delete  %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>