<% @product.errors.messages.each { |e| puts e } if @product.errors %>

<%= form_for [:staff, @product], html: {class: 'ui form segment', multipart: true } do |f| %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :handle %>
    <%= f.text_field :handle %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :duration %>
    <%= f.text_field :duration %>
    <small>How long should the product be active, stated in months, ex. one year would be "12". Leave empty, if recurring payment, as billing period will be used instead.</small>
  </div>

  <div class="field">
    <%= f.label :product_family_id %>
    <%= f.collection_select(:product_family_id, @product_families, :id, :name) %>
  </div>

  <div class="field">
    <%= f.label :billing_period %>
    <%= f.select(:billing_period, [[:none, nil], :monthly, :yearly]) %>
    <small>How often is the price billed. Leave none, if product is a one time payment.</small>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price %>
    <small>Decimal value ex. "500.95", "100.00"</small>
  </div>

  <div class="field">
    <div class="ui checkbox">
      <%= f.check_box :active %>
      <%= f.label :active %>
    </div>
  </div>

  <div class="field">
    <%= f.label :icon_class %>
    <%= f.text_field :icon_class %>
    <small>Should only be filled by developers. Determines the css class on the product icons</small>
  </div>

  <div class="field">
    <%= f.label :weight %>
    <%= f.text_field :weight %>
    <small>Decides which order the products are shown.</small>
  </div>

  <div class="ui segment two fields">
    <div class="field">
      <div class="ui checkbox">
        <%= f.check_box :fundamental %>
        <%= f.label :fundamental %> <br>
        <small>Is this product fundamental for using Sanatid, meaning is it required to have in order to do stuff</small>
      </div>
    </div>

    <div class="field">
      <h4 class="ui header">Fundamental settings</h4>
      <small>Fill only if fundamental is checked.</small>

      <div class="field">
        <%= f.label :commission %>
        <%= f.text_field :commission %>
        <small>Percentage we get of sales, ex. "5".</small>
      </div>
    </div>
  </div>
  <br>

  <div class="field">
    <%= f.submit 'Save', class: 'ui green submit button' %>
    <%= link_to 'Cancel', staff_products_path, class: 'ui blue submit button' %>
  </div>
<% end %>