<% content_for :statistics do %>
  <h4 class="stat"><em>Total products: <span><%= Product.count %></span></em></h4>
<% end %>


<div class="content header">
  <%= link_to '<i class="add icon"></i> Add product family'.html_safe, new_staff_product_family_path, class: 'ui small green labeled icon button pull-right' %>
	<h2>Product Families</h2>
</div>

<% @product_families.each do |product_family| %>
  <div class="ui segment">
    <div class="content header">
      <%= link_to '<i class="trash icon"></i> X'.html_safe, staff_product_family_path(product_family), class: 'ui icon button tiny labeled red pull-right', confirm: 'Are you sure?', method: :delete %>
      <%= link_to '<i class="edit icon"></i> Edit'.html_safe, edit_staff_product_family_path(product_family), class: 'ui icon button tiny labeled blue pull-right' %>
      <h2><%= product_family.name %></h2>
    </div>
		<div class="ui two column grid">
		  <div class="column">
			  <div class="ui segment">
			    <h3>Description</h3>
			    <p><%= product_family.description %></p>
			  </div>
			</div>
		</div>
    <div class="subheader">
      <%= link_to '<i class="add icon"></i> New product'.html_safe, new_staff_product_path, class: 'ui small green labeled icon button pull-right' %>
      <h3>Products</h3>
    </div>
    <table class="ui table segment">
      <thead>
	      <tr>
          <th>Weight</th>
	        <th>Name</th>
	        <th>Price</th>
	        <th>Duration</th>
	        <th>Billing period</th>
	        <th>Active</th>
	        <th>Fundamental</th>
	        <th>Actions</th>
	      </tr>
      </thead>
      <tbody>
	      <% product_family.products.each do |product| %>
	        <tr>
            <td><%= product.weight %></td>
	          <td><%= product.name %></td>
	          <td><%= product.price %></td>
	          <td><%= product.duration %></td>
            <td><%= product.billing_period %></td>
            <td class="<%= product.active ? 'positive' : 'warning' %>"><%= product.active ? 'Yes' : 'No' %></td>
            <td><%= product.fundamental ? 'Yes' : 'No' %></td>
	          <td>
	            <%= link_to '<i class="trash icon"></i> X'.html_safe, staff_product_path(product), class: 'ui icon button tiny labeled red pull-right', confirm: 'Are you sure?', method: :delete  %>
	            <%= link_to '<i class="edit icon"></i> Edit'.html_safe, edit_staff_product_path(product), class: 'ui icon button tiny labeled blue pull-right'%>
	          </td>
	        </tr>
	      <% end %>
      </tbody>
    </table>
  </div>
<% end %>