<% content_for :statistics do %>
  <h4 class="stat"><em>Total Contact Submissions: <span><%= @submissions.count %></span></em></h4>
<% end %>

<div class="content header">
  <%= form_tag staff_submissions_path, method: 'GET', class: 'ui form pull-right' do  %>
    <div class="three fields">
      <div class="field input">
        <%= text_field_tag :form, params[:form], placeholder: 'Form' %>
      </div>
      <div class="field input">
        <%= text_field_tag :subject, params[:subject], placeholder: 'Subject' %>
      </div>
      <div class="field fluent">
        <%= submit_tag :search, name: nil, class: 'ui small green submit button' %>
      </div>
    </div>
  <% end %>

  <h2>Form submissions</h2>
</div>


<table class="ui table segment">
  <thead>
    <tr>
      <th>Id</th>
      <th>Form</th>
      <th>Subject</th>
      <th>Name</th>
      <th>Email</th>
      <th>Submitted at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @submissions.each do |s| %>
    <tr>
      <td><%= s.id %></td>
      <td><%= s.form %></td>
      <td><%= s.subject %></td>
      <td><%= s.name %></td>
      <td><%= s.email %></td>
      <td><%= l s.created_at, format: :short_time %></td>
      <td>
        <%= link_to '<i class="trash icon"></i> X'.html_safe, staff_submission_path(s), class: 'ui icon button tiny labeled red pull-right', data: { confirm: 'Are you sure?' }, method: :delete  %>
        <%= link_to '<i class="unhide icon"></i> View'.html_safe, staff_submission_path(s), class: 'ui icon button tiny labeled green pull-right' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>