<div class="content header">
  <h1>Details for <%= @submission.name %></h1>
</div>
<div class="ui divided  list">
  <span class="item">
    <div class="ui blue horizontal label">Form</div>
    <%= @submission.form %>
  </span>

  <span class="item">
    <div class="ui blue horizontal label">Submitted at</div>
      <%= @submission.created_at %>
  </span>

  <div class="item">
    <div class="ui blue horizontal label">Name</div>
    <%= @submission.name %>
  </div>

  <div class="item">
    <div class="ui blue horizontal label">Email</div>
    <%= @submission.email %>
  </div>

  <div class="item">
    <div class="ui blue horizontal label">Subject</div>
    <%= @submission.subject %>
  </div>

  <div class="item">
    <div class="ui blue horizontal label">message</div>
    <%= @submission.message %>
  </div>
</div>