<% @product_family.errors.messages.each { |e| puts e } if @product_family.errors %>

<%= form_for [:staff, @product_family], html: {class: 'ui form segment' } do |f| %>

  <div class="ui segment">
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>
  </div>

  <div class="field">
    <%= f.submit 'Save', class: 'ui green submit button' %>
    <%= link_to 'Cancel', staff_products_path, class: 'ui blue submit button' %>
  </div>
<% end %>