
server {
  server_name www.<%= fetch(:domain) %>;
  return 301 $scheme://<%= fetch(:domain) %>$request_uri;
}

server {
  <% if fetch(:app_environment) == 'production' %>
    listen 80;
    listen [::]:80 default_server ipv6only=on;
    listen 443 default_server ssl;

    ssl_certificate /etc/nginx/ssl/sanatid.dk-chain.crt;
    ssl_certificate_key /etc/nginx/ssl/sanatid.dk-private.key;

    ssl_session_timeout  5m;
    ssl_protocols  SSLv2 SSLv3 TLSv1;
    ssl_ciphers  HIGH:!aNULL:!MD5;
    ssl_prefer_server_ciphers   on;
  <% else %>
    listen 80;
  <% end %>

  root /home/deployer/sanatid/<%= fetch(:app_environment) %>/sanatid/current/public;
  index index.html index.htm;
  passenger_enabled on;
  rails_env <%= fetch(:app_environment) %>;

  server_name <%= fetch(:domain) %> staff.<%= fetch(:domain) %>;

  access_log  /home/deployer/sanatid/<%= fetch(:app_environment) %>/log/access.log;
  error_log   /home/deployer/sanatid/<%= fetch(:app_environment) %>/log/error.log info;

  location ^~ /assets/ {
    gzip_static on;
    expires max;
    add_header Cache-Control public;
  }

  <% if fetch(:app_environment) == 'production' %>
    ### If a bot requests an escaped URL then rewrite the request to SEO44ajax location
    if ($args ~* _escaped_fragment_=) {
      rewrite  ^(.*)$  /seo4ajax/$1  last;
    }

    ### SEO4ajax location to handle proxyfication to SEO4Ajax API
    location /seo4ajax/ {
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header Host api.seo4ajax.com;
      proxy_pass http://api.seo4ajax.com/ef32bd1a3edafa2f9c57747ad91b8320/;
    }
  <% end %>
}
