<%= form_for [:staff, @company, @product_subscription], html: { class: 'ui form segment' } do |f| %>
  <h2>Product</h2>

  <div class="field disabled">
    <%= f.label :staff, 'Seller' %>
    <%= f.text_field :staff, value: current_user.name, readonly: true %>
  </div>

  <div class="ui selection fluid dropdown">
    <%= f.hidden_field :product_id %>
    <div class="text">Select product</div>
    <i class="dropdown icon"></i>
    <div class="product menu">
      <% @product_families.each do |product_family| %>
        <div class="item"><%= product_family.name %></div>
        <% product_family.products.each do |product| %>
          <div class="item" data-value="<%= product.id %>">- <%= product.name %></div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="ui form segment product hidden">
    <h3>Product preview</h3>
    <h4 class="name"></h4>
    <p class="description"></p>
    <strong class="price"></strong>
    <span class="commission"></span>
  </div>
  <br>

  <div class="field">
    <%= f.label :price, 'Recurring price:', class: 'price-label' %>
    <%= f.text_field :price, class: 'price' %>
  </div>

  <div class="field">
    <%= f.submit 'Create', class: 'ui button green' %>
  </div>
<% end %>
