<% content_for :statistics do %>
  <h4 class="stat"><em>Total active subscriptions: <span><%= @product_subscriptions.active.count %></span></em></h4>
<% end %>
<div class="content header">
  <%= link_to '<i class="add icon"></i> Create subscription'.html_safe, new_staff_company_product_subscription_path(@company), class: 'ui small green labeled icon button pull-right'  %>
  <h2>Active product subscriptions</h2>
</div>

<table class="ui table segment">
  <thead>
    <tr>
      <th>Subscription id</th>
      <th>Product</th>
      <th>Renewed at</th>
      <th>Next renewal</th>
      <th>Expires at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @product_subscriptions.active.each do |product_subscription| %>
    <tr>
      <td><%= product_subscription.id %></td>
      <td><%= product_subscription.product.name %></td>
      <td><%= product_subscription.renewed_at %></td>
      <td><%= product_subscription.next_renewal_at %></td>
      <td><%= product_subscription.expires_at %></td>
      <td>
        <%= link_to 'Details', staff_company_product_subscription_url(product_subscription.company, product_subscription), class: 'ui button tiny green pull-right' %>
        <%= link_to 'Cancel subscription', staff_company_cancel_subscription_path(product_subscription.company, product_subscription), class: 'ui button tiny red pull-right' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<% if @product_subscriptions.inactive.count > 0 %>

  <h2>Inactive product subscriptions</h2>
  <table class="ui table segment">
    <thead>
    <tr>
      <th>Subscription id</th>
      <th>Order id (Product offer id)</th>
      <th>Company</th>
      <th>Renewed at</th>
      <th>Next renewal</th>
      <th>Expires at</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @product_subscriptions.inactive.each do |product_subscription| %>
      <tr>
        <td><%= product_subscription.id %></td>
        <td><%= product_subscription.product_offer.id if product_subscription.product_offer.present? %></td>
        <td><%= product_subscription.company.company_name %></td>
        <td><%= product_subscription.renewed_at %></td>
        <td><%= product_subscription.next_renewal_at %></td>
        <td><%= product_subscription.expires_at %></td>
        <td></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>