<h2>Showing details for subscription #<%= @subscription.id%></h2>


<div class="ui table segment">
  <h2>Subscription</h2>

  <div class="ui <%= @subscription.active? ? 'green' : 'red' %> label">
    <%= @subscription.active? ? 'Active' : 'Inactive' %>
  </div>

  <div class="ui list">
    <div class="item">
      <div class="content">
        <div class="header">Created at</div>
        <div class="description"><%= l @subscription.created_at, format: :short_time %></div>
      </div>
    </div>

    <div class="item">
      <div class="content">
        <div class="header">Renewed at</div>
        <div class="description"><%= l @subscription.renewed_at, format: :short %></div>
      </div>
    </div>

    <% if @subscription.next_renewal_at.present? %>
      <div class="item">
        <div class="content">
          <div class="header">Next renewal at</div>
          <div class="description"><%= l @subscription.next_renewal_at, format: :short %></div>
        </div>
      </div>
    <% end %>

    <% if @subscription.expires_at.present? %>
      <div class="item">
        <div class="content">
          <div class="header">Expires at</div>
          <div class="description"><%= l @subscription.expires_at, format: :short %></div>
        </div>
      </div>
    <% end %>

    <div class="item">
      <div class="content">
        <div class="header">Price</div>
        <div class="description"><%= @subscription.price %> <%= @subscription.product.billing_period %></div>
      </div>
    </div>

    <div class="item">
      <div class="content">
        <div class="header">Sold by</div>
        <div class="description"><%= @subscription.staff.name %></div>
      </div>
    </div>
  </div>
</div>

<div class="ui table segment">
  <h2>Product</h2>

  <div class="ui list">
    <div class="item">
      <div class="content">
        <div class="header">Name</div>
        <div class="description"><%= @subscription.product.name %></div>
      </div>
    </div>
  </div>

  <div class="ui list">
    <div class="item">
      <div class="content">
        <div class="header">Description</div>
        <div class="description"><%= @subscription.product.description %></div>
      </div>
    </div>
  </div>

  <div class="ui list">
    <div class="item">
      <div class="content">
        <div class="header">Billing period</div>
        <div class="description"><%= @subscription.product.billing_period %> (<%= @subscription.product.billing_period_in_days %> Days)</div>
      </div>
    </div>
  </div>

  <% if @subscription.product.duration.present? %>
    <div class="ui list">
      <div class="item">
        <div class="content">
          <div class="header">Duration</div>
          <div class="description"><%= @subscription.product.commission %></div>
        </div>
      </div>
    </div>
  <% end %>

  <% if @subscription.product.commission.present? %>
    <div class="ui list">
      <div class="item">
        <div class="content">
          <div class="header">Commission</div>
          <div class="description"><%= @subscription.product.commission %>%</div>
        </div>
      </div>
    </div>
  <% end %>
</div>
