<segment>
	<div class="container_16">
		<div class="grid_12 center">
			<div class="segment attached top">
        <h1 class="blue small no-margin">{{title}}</h1>
			</div>
			<div class="segment">
				{{{model.content}}}
			</div>

		</div>
	</div>
</segment>

{{search-city globalInitFlow="globalInitFlow"}}