<% content_for :content do %>
  <h1>Details for <%= @company.company_name %></h1>

  <div class="ui grid two column">

    <div class="three wide column">
      <div class="ui vertical fluid menu">
        <div class="header item">
          <i class="user icon"></i>
          Actions
        </div>
        <div class="item">
          Actions
          <div class="menu">
            <%= link_to 'Subscriptions'.html_safe, staff_company_product_subscriptions_path(@company), class: 'item' %>
            <%= link_to 'Invoices'.html_safe, staff_company_invoices_path(@company), class: 'item' %>
          </div>
        </div>
        <div class="item">
          Manage
          <div class="menu">
            <%= link_to 'Details'.html_safe, staff_company_path(@company), class: 'item' %>
            <%= link_to 'Edit'.html_safe, edit_staff_company_path(@company), class: 'item' %>
            <%= link_to 'Delete'.html_safe, staff_company_path(@company), class: 'item', confirm: 'Are you sure?', method: :delete  %>
          </div>
        </div>
      </div>
    </div>

    <div class="thirteen wide column">
      <%= yield %>
    </div>

  </div>
<% end %>


<%= render template: "layouts/staff_application" %>