<section class="map-denmark no-padding no-margin no-border">
  <div class="container_16">
    <div class="grid_16 text-center push-down-5">
      <h2 class="big white text-center">Søg blandt 8871 praksisser</h2>
      <form>
        <div class="grid_4 push_5">
          {{input class="fluid huge" value=city placeholder="Bynavn eller Postnr."}}
        </div>
        <div class="grid_2 push_5">
          <input type="submit" class="huge blue button fluid" value="Søg" {{action 'processCity' }}>
        </div>
      </form>
    </div>
  </div>
</section>