{{#if errors.length}}
  <div class="message red">
    <h5 class="tiny">Hov, vi fandt nogle fejl i formen</h5>
    <ul class="medium">
      {{#each baseErrors}}
        <li>
          {{message}}
        </li>
      {{/each}}

      {{#each errors}}
        <li>
          * {{message}}
        </li>
      {{/each}}
    </ul>
  </div>
{{/if}}