<div {{bind-attr class="large:huge :heart-rating :center"}}>
  <div class="text-center">
    {{#unless hideStatus}} {{ratingStatus}} <br> {{/unless}}
    <strong>{{averageRating}}/10</strong>
  </div>

  <div class="wrapper">
    <div {{bind-attr class="large:huge :base"}}>
      <i class="fa fa-heart-o"></i>
      <i class="fa fa-heart-o"></i>
      <i class="fa fa-heart-o"></i>
      <i class="fa fa-heart-o"></i>
      <i class="fa fa-heart-o"></i>
    </div>

    <div {{bind-attr class="large:huge :fill-in"}} style="width: calc({{unbound averageRating}} * 10%)">
      <div class="heart-wrapper">
        <i class="fa fa-heart"></i>
        <i class="fa fa-heart"></i>
        <i class="fa fa-heart"></i>
        <i class="fa fa-heart"></i>
        <i class="fa fa-heart"></i>
      </div>
    </div>
  </div>
  <small class="text-center">
    {{reviewCount}} {{t "home.company_page.reviews.reviews"}}
  </small>
</div>