<ul class="ui horizontal bulletless list">
  <li class="item"><div id="fb" class='fb-like' data-href='https://sanatid.dk' data-layout='button_count' data-action='like' data-show-faces='true' data-share='true'></div></li>
  <li class="item twitter-container"></li>
</ul>


