<h2 class="small text-center">Indtast din adresse og find andre {{serviceField.name}}praksisser nær dig:</h2>
<form>
  <div class="grid_5 margin-y-10 push_1 margin-l-5">
    {{input class="fluid small" value=address placeholder="Dit vejnavn og nummer."}}
  </div>
  <div class="grid_2 margin-y-10 push_1 margin-l-15">
    {{input class="fluid small" value=city placeholder="Postnr."}}
  </div>
  <div class="grid_3 margin-y-10 push_1 margin-l-10">
    <input type="submit" {{action 'processAddress'}} class="small orange button" value="Find praksis">
  </div>
</form>
