{{#if active}}
  <div class="before-content blue-gradient">
    <div class="ui breadcrumb">
      {{#each paths}}
        {{#if linkParams}}
          {{#link-to linkRoute linkParams classNames="section"}}{{path}}{{/link-to}}
        {{else}}
          {{#link-to linkRoute classNames="section"}}{{path}}{{/link-to}}
        {{/if}}
        <i class="right arrow icon"></i>
      {{/each}}
      <div class="active section">{{active}}</div>
    </div>
  </div>
{{/if}}