<section>
  <div class="container_16">
    <div class="grid_4">
      <div class="segment">
        <img {{bind-attr src=logo}} style="width: 175px; height: 175px; border-radius: 3px; border: 1px solid #FFF;">
      </div>
    </div>

    <div class="grid_8">
      <div class="segment">

        <h1 class="small no-margin">
	        {{#if cvr}}
	        <i class="fa fa-check-circle orange"></i>
	        {{/if}} {{companyName}}
        </h1>
      </div>
			{{#if isLead}}
				<table class="small">
					<thead>
						<tr>
							<th class="red">Information</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><em>{{companyName}} er desværre ikke tilmeldt Sanatid.dk endnu, så der findes ingen information om virksomheden, og der skal tages forbehold for at kontakt- oplysninger kan være daterede.</em></td>
						</tr>
					</tbody>
				</table>
	    {{else}}
	      <table class="small facilities">
	        <thead>
	        <tr>
	          <th colspan="5"><small>Faciliteter</small></th>
	        </tr>
	        </thead>
	        <tbody>
	        <tr>
	          {{#each facilityImages}}
	            <td><img {{bind-attr src=thumb}} {{action 'viewFacilityImage' this}} style="width: 63px; height: 63px; border-radius: 3px; border: 1px solid #FFF;"></td>
	          {{else}}
	            <td><p>{{companyName}} har ingen billeder tilgængelige</p></td>
	          {{/each}}
	        </tr>
	        </tbody>
	      </table>
			{{/if}}
    </div>

    <div class="grid_4">
      <div class="segment">
        <div id="map" style="height: 175px; width: 175px; border-radius: 3px; border: 1px solid #FFF;"></div>
      </div>
    </div>
  </div>

  <div class="container_16">
    <div class="grid_4">

      <table class="small">
        <tbody>
        <tr>
          <td>{{#link-to "home.company.index" slug class="item"}}<i class="fa fa-question-circle small"></i><strong>Om os</strong>{{/link-to}}</td>
        </tr>
        <tr>
          <td>{{#link-to 'home.company.services' slug}}<i class="fa fa-list small"></i><strong>Ydelser</strong>{{/link-to}}</td>
        </tr>
        </tbody>
      </table>

      <table class="small hidden">
        <thead>
        <tr>
          <th>
            Praksissens vurdering
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="text-center">
            {{#if reviewCount}}
              {{heart-rating averageRating=averageRating reviewCount=reviewCount}}
            {{else}}
              <small>Ingen bedømmelser</small>
            {{/if}}
          </td>
        </tr>
      </table>

      {{#if paymentMethods}}
        <table class="small">
          <thead>
          <tr>
            <th>Betalingstyper</th>
            <th class="text-center"><i class="fa fa-credit-card"></i></th>
          </tr>
          </thead>
          <tbody>
          {{#each paymentMethods}}
            <tr>
              <td>{{name}}</td>
              <td class="text-center"><i {{bind-attr class="enabled:green:red :fa enabled:fa-check:fa-times"}}></i></td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      {{/if}}

      {{#if openingHours}}
        <table class="small">
          <thead>
          <tr>
            <th>Åbningstider</th>
            <th><i class="fa fa-clock-o"></i></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Mandag</td>
            <td>{{openingHours.monday}}</td>
          </tr>
          <tr>
            <td>Tirsdag</td>
            <td>{{openingHours.tuesday}}</td>
          </tr>
          <tr>
            <td>Onsdag</td>
            <td>{{openingHours.wednesday}}</td>
          </tr>
          <tr>
            <td>Torsdag</td>
            <td>{{openingHours.thursday}}</td>
          </tr>
          <tr>
            <td>Fredag</td>
            <td>{{openingHours.friday}}</td>
          </tr>
          <tr>
            <td>Lørdag</td>
            <td>{{openingHours.saturday}}</td>
          </tr>
          <tr>
            <td>Søndag</td>
            <td>{{openingHours.sunday}}</td>
          </tr>
          </tbody>
        </table>
      {{/if}}
    </div>

    {{#if isOnFrontpage}}

        {{#if isLead}}
	        <div class="grid_4">
		        <div class="segment attached top">
			        <h5 class="tiny no-margin">Kontaktoplysninger</h5>
            </div>
		        <div class="segment text-center">
              {{#if showContact}}
                <p>Tlf.: <strong>{{phone}}</strong></p>
                <p><a {{bind-attr href=absoluteHomepage}} target="_blank"> {{homepage}}</a></p>
                <p>{{email}}</p>
              {{else}}
                <a class="huge green button no-text-shadow" {{action 'showContactInformation'}}>Vis information</a>
              {{/if}}
		        </div>
	        </div>
          <div class="grid_12 segment">
	          {{start-flow serviceField=serviceField hideServiceField=true initFlow="initFlow"}}
          </div>
        {{else}}
          <div class="grid_12 segment">
	          {{{description}}}
          </div>
        {{/if}}

    {{/if}}

    {{outlet}}
  </div>
</section>

<div class="small modal image">
  <div class="content text-center"></div>
</div>