<div class="row without margin">
  <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.dk/maps?f=q&amp;source=s_q&amp;hl=da&amp;geocode=&amp;q=langdraget+27,+st.tv&amp;aq=&amp;sll=55.897131,12.422187&amp;sspn=1.941967,3.949585&amp;t=m&amp;ie=UTF8&amp;hq=&amp;hnear=Langdraget+27,+2720+K%C3%B8benhavn,+Vanl%C3%B8se&amp;z=14&amp;ll=55.681882,12.489395&amp;output=embed"></iframe><br /><small><a href="https://maps.google.dk/maps?f=q&amp;source=embed&amp;hl=da&amp;geocode=&amp;q=langdraget+27,+st.tv&amp;aq=&amp;sll=55.897131,12.422187&amp;sspn=1.941967,3.949585&amp;t=m&amp;ie=UTF8&amp;hq=&amp;hnear=Langdraget+27,+2720+K%C3%B8benhavn,+Vanl%C3%B8se&amp;z=14&amp;ll=55.681882,12.489395" style="color:#0000FF;text-align:left"></a></small>
</div>
<div class="ui grid">
  <div class="column eleven wide">
    <form class="ui blue segment form dimmable">
      {{partial "partials/dimmer_loaders"}}

      <div class="ui icon input field text-center">
        {{input type='text' value=name placeholderTranslation="home.contact.name" }}
        <i class="edit icon"></i>
        {{#if validated}}
          {{#if errors.name}}
            <div class="ui red pointing above ui label fluent"><p>{{errors.name}}</p></div>
          {{/if}}
        {{/if}}
      </div>

      <div class="ui icon input field text-center">
        {{#if app.currentUser.email}}
          <input id="contact_email" type="text" value="{{unbound app.currentUser.email}}">
        {{else}}
          {{input type='text' value=email placeholderTranslation="home.contact.email"}}
        {{/if}}
        <i class="mail outline icon"></i>
        {{#if validated}}
          {{#if errors.email}}
            <div class="ui red pointing above ui label fluent">
              {{#each errors.email}}
                <p>{{this}}</p>
              {{/each}}
            </div>
          {{/if}}
        {{/if}}
      </div>

      <div class="field">
        <div class="ui selection dropdown">
          <input id="contact-subject" type="hidden">
          <div class="text">{{t home.contact.subject}}</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            {{#each subjects}}
              <div class="item" {{action "changeSubject" this}} {{bind-attr data-value=this}}>{{this}}</div>
            {{/each}}
          </div>
        </div>
        {{#if validated}}
          {{#if errors.subject}}
            <div class="ui red pointing left ui label"><p>{{errors.subject}}</p></div>
          {{/if}}
        {{/if}}
      </div>

      <div class="field text-center">
        {{textarea value=message placeholderTranslation="home.contact.message"}}
        {{#if validated}}
          {{#if errors.message}}
            <div class="ui red pointing above ui label fluent">
              {{#each errors.message}}
                <p>{{this}}</p>
              {{/each}}
            </div>
          {{/if}}
        {{/if}}
      </div>

      <input type="submit" {{translateAttr value="home.contact.send"}} class="ui success submit button" {{action "submitContact"}}>
    </form>
  </div>
	<div class="column five wide ">
    <h2>Sanatid IVS</h2>
    <p>Langdraget 27, st.tv</p>
    <p>2720 Vanløse, København</p>
		<p>Denmark</p>
		<br />
		<p><i class="phone sign icon"></i> (+45) 53 61 73 31</p>
		<p><i class="mail icon"></i> kontakt@sanatid.dk</p>
    <ul class="social">
      <li><a href="https://www.facebook.com/sanatiddk" target="_blank"><i class="facebook sign icon"></a></i></li>
      <li><a href="https://twitter.com/sanatid" target="_blank"><i class="twitter sign icon"></i></a></li>
      <li><a href="http://www.linkedin.com/company/sanatid-dk" target="_blank"><i class="linkedin sign icon"></i></a></li>
      <li><a href="https://plus.google.com/+SanatidDk" target="_blank"><i class="google plus sign icon"></i></a></li>
      <li><i class="rss sign icon"></i></li>
    </ul>
	</div>
</div>
{{partial 'partials/customer_callout'}}
