
<div class="ui form segment login center">
  <form class="demo-form dimmable">
    <div class="ui dimmer inverted">
      <div class="content">
        <div class="center ui text loader">{{t "home.demo.bootingDemo"}}</div>
      </div>
    </div>
  <div class="field">
    <label>{{t home.demo.email}}</label>
    <div class="ui left labeled icon input">
	    {{input id="email" value=email}}
      <i class="mail icon"></i>
      <div class="ui corner label">
        <i class="icon asterisk"></i>
      </div>
    </div>
  </div>
  <div class="field">
    <label>{{t home.demo.name}}</label>
    <div class="ui left labeled icon input">
	    {{input value=name}}
      <i class="user icon"></i>
      <div class="ui corner label">
        <i class="icon asterisk"></i>
      </div>
    </div>
  </div>
  <div class="field">
    <label>{{t home.demo.companyName}}</label>
    <div class="ui left labeled icon input">
      {{input value=companyName}}
      <i class="building icon"></i>
      <div class="ui corner label">
        <i class="icon asterisk"></i>
      </div>
    </div>
  </div>
    <div class="field">
      <label>{{t home.demo.phone}}</label>
      <div class="ui left labeled icon input">
        {{input value=phone}}
        <i class="phone icon"></i>
        <div class="ui corner label">
          <i class="icon asterisk"></i>
        </div>
      </div>
    </div>
  <div class="ui error message">
    <div class="header">We noticed some issues</div>
  </div>
    <input type="submit" class="ui green submit button fluent" {{translateAttr value="home.demo.startDemo"}} {{action "start"}}>
	</form>
</div>