<section>
	{{#each}}
	<div class="container_16 center" style="margin: 50px 0;">
		<div class="grid_4 text-right"><img {{bind-attr src=avatar}}></div>
		<div class="grid_8">
      <div class="column about">
        <h2 class="no-margin"><strong>{{name}}</strong></h2>
        <h4 class="blue bottom-padded">{{jobTitle}}</h4>
        <p>{{{description}}}</p>
      </div>
    </div>
		<div class="grid_4">
		<ul class="big">
			<li><a class="tiny button green" href="mailto:{{unbound email}}">{{email}}</a></li>
      <li><a target="_blank" class="tiny button blue" href="http://twitter.com/{{unbound twitter}}">@{{twitter}}</a></li>
      <li><a target="_blank" class="tiny button orange" href="{{unbound linkedin}}">LinkedIn</a></li>
		</ul>
    </div>
	</div>
	{{/each}}
</section>