<section class="container_16">
	<section class="grid_8 segment attached top center">
		<h5 class="small text-center no-margin">Glemt password</h5>
	</section>
	<form class="grid_8 segment center">
	  <!--
	  <div class="dimmer">
	    <div class="content text-center">
	      <p>Vi sender dig en mail med et link til password-reset..</p>
	      <i class="fa fa-circle-o-notch fa-spin"></i>
	    </div>
	  </div>
	  -->
	  <p>Har du glemt dit password, så indtast din mail herunder.</p>
	  <div class="field">
	    <label><i class="fa fa-envelope-o"></i> {{t 'home.user.email' }}</label>
	    <div class="ui left labeled icon input">
		    {{input id="email" value=email class="fluid"}}
	    </div>
	  </div>

	  <input type="submit" class="green huge fluid button" value="Reset password" {{action "reset" on="click"}}>

		{{#if success}}
	    <div class="ui green message">Vi har sendt dit nye password til din email.<br> {{link-to 'Klik her' 'home.forgot'}} for at komme tilbage til login.</div>
		{{/if}}
		{{#if failure}}
	    <div class="ui red message">Vi kunne ikke finde en bruger i vores system, med den angivet email, prøv venligst igen.</div>
		{{/if}}
	</form>
</section>