<div class="ui segment text-center">
  <h1 class="ui big blue header">404</h1>
  <h4 class="ui header">Er du faret vild?</h4>
  <h4 class="ui header">Bare rolig, vi kan hjælpe dig {{link-to 'Hjem' 'home' classNames="info-link blue"}}</h4>
</div>