<div class="wiki">
  <div class="ui vertically divided grid">
    <div class="three column row">
      <div class="column category-list">
        <div class="ui animated list">
          {{#each ordered}}
            <div class="item service-field">
              <div class="header">
                {{link-to title 'home.guides.show' slug }}
              </div>
              {{#each children}}
                <div class="item service">
                  <i class="double angle right icon"></i>
                  {{link-to title 'home.guides.show' slug }}
                </div>
              {{/each}}
            </div>
          {{/each}}
        </div>
      </div>

      <div class="column category-description">
        {{outlet}}
      </div>
    </div>
  </div>
</div>