<div class="window">
  <div class="background"></div>
	{{#link-to logoLink }}
    <div class="big-logo"></div>
	{{/link-to}}
  <div class="color-overlay"></div>
  <div class="content">

    <div class="container">
      <h1 class="text-center white huge fat">Find den bedste massage nær dig - hurtigt og enkelt</h1>

    </div>
    <form>
      <div class="container small">
        <div class="grid-7 grid-mobile-24">
			    {{input class="fluid padding" value=flowCity placeholder="Dit postnr."}}
        </div>
        <div class="grid-13 grid-mobile-24">
			    {{input class="fluid" value=flowAddress placeholder="Vejnavn og nummer"}}
        </div>

        <div class="grid-4 grid-mobile-24">
          <input type="submit" {{action processAddress}} class="fluid huge green button" value="Søg">

        </div>
      </div>
    </form>
  </div>
</div>


<section class="gray bg">
	<div class="container">
	  <div class="grid-4 grid-mobile-4">
		  <div class="how-to">
			  <h5 class="number huge no-margin">1</h5>
			  <h3 class="description no-margin">Fortæl os hvor du befinder dig</h3>
			  <div class="clear"></div>
		  </div>
	  </div>
    <div class="grid-4 grid-mobile-4">
      <div class="how-to">
        <h5 class="number huge no-margin">2</h5>
        <h3 class="description no-margin">Vælg en massage- klinik og ydelse</h3>
        <div class="clear"></div>
      </div>
    </div>
    <div class="grid-4 grid-mobile-4">
      <div class="how-to">
        <h5 class="number huge no-margin">3</h5>
        <h3 class="description no-margin">Bestil tid til ydelse og bliv ringet op</h3>
        <div class="clear"></div>
      </div>
    </div>
	  <div class="grid-10 push-2 grid-mobile-12">
	    <h4 class="big margin-y-25 text-right gray">5 klinikker tilmeldt</h4>
	  </div>
	</div>
</section>

{{partial 'partials/callout'}}

<section class="gray bg padding-y-50">
  <h5 class="big purple thin text-center no-margin">Udvalgte massageklinikker</h5>
  <div class="container padding-y-20">

			{{#each companies}}
        <div class="grid-4 margin-y-15">
          <div class="company-box">
						{{#link-to 'home.company' this }}
              <img class="logo" {{bind-attr src=logo}}>
              <div class="title purple"><strong>{{companyName}}</strong></div>
              <div class="city"><small>{{zip}} {{city}}</small></div>
							{{#link-to 'home.company' this class="tiny light-gray button"}}Vis profil{{/link-to}}
						{{/link-to}}
          </div>
        </div>
			{{else}}
        <div class="loader">
          <i class="fa gray fa-circle-o-notch fa-spin"></i>
        </div>
			{{/each}}
	    {{#each companies}}
        <div class="grid-4 margin-y-15">
          <div class="company-box">
				    {{#link-to 'home.company' this}}
              <img class="logo" {{bind-attr src=logo}}>
              <div class="title purple"><strong>{{companyName}}</strong></div>
              <div class="city"><small>{{zip}} {{city}}</small></div>
              <a href="#" class="tiny light-gray button">Vis profil</a>
				    {{/link-to}}
          </div>
        </div>
	    {{else}}
        <div class="loader">
          <i class="fa gray fa-circle-o-notch fa-spin"></i>
        </div>
	    {{/each}}
	    {{#each companies}}
        <div class="grid-4 margin-y-15">
          <div class="company-box">
				    {{#link-to 'home.company' this}}
              <img class="logo" {{bind-attr src=logo}}>
              <div class="title purple"><strong>{{companyName}}</strong></div>
              <div class="city"><small>{{zip}} {{city}}</small></div>
              <a href="#" class="tiny light-gray button">Vis profil</a>
				    {{/link-to}}
          </div>
        </div>
	    {{else}}
        <div class="loader">
          <i class="fa gray fa-circle-o-notch fa-spin"></i>
        </div>
	    {{/each}}

  </div>
</section>

<section>
  <div class="container">
    <div class="grid-12 padding-30 relative border-right">
      <h5 class="small thin dark-gray surfboard">Senest tilmeldt: </h5>
      <div class="grid-5 image offer-three small"></div>
      <div class="grid-19 padding-top-5">
        <h5 class="small normal dark-gray no-margin">Bay's fysiurgiske massage og velvære</h5>
        <h5 class="tiny thin gray no-margin">3300 Frederiksværk</h5>
        <p><a class="big thin purple" href="#">Vis profilside</a></p>
      </div>
      <ul class="bullet-chooser">
        <li><a class="active" href="#">◆</a></li>
        <li><a href="#">◆</a></li>
        <li><a href="#">◆</a></li>
        <li><a href="#">◆</a></li>
      </ul>
      <div class="slider arrow left"></div>
      <div class="slider arrow right"></div>
    </div>
    <div class="grid-12 padding-30 relative">
      <h5 class="small thin dark-gray">
        <strong>Blog:</strong> Hvorfor overhovedet få massage?
      </h5>
      <p class="big gray thin">Hvis du dyrker intensiv motion, kender du sikkert følelsen af, at man godt kunne bruge en massage. Men denne hungren efter en massage, kan også opstå igennem hårdt eller stillesiddende arbejde, hvor muskler ufrivilligt spænder – fordi...</p>
      <p><a class="big purple thin" href="#">Læs mere</a></p>
      <ul class="bullet-chooser">
        <li><a class="active" href="#">◆</a></li>
        <li><a href="#">◆</a></li>
        <li><a href="#">◆</a></li>
        <li><a href="#">◆</a></li>
      </ul>
    </div>
  </div>
</section>

<section class="map-denmark padding-y-10">
  <div class="container">
    <div class="grid-14 push-5 padding-top-50">
      <div class="grid-20 push-2">
        <h2 class="text-center dark-gray normal big"><i class="fa fa-map-marker purple large"></i> Find den bedste massage i din by</h2>
      </div>
      <form>
        <div class="container small">
          <div class="grid-20 grid-mobile-24">
						{{input class="fluid" value=flowAddress placeholder="Postnr. eller bynavn"}}
          </div>
          <div class="grid-4 grid-mobile-24">
            <input type="submit" {{action processAddress}} class="fluid huge purple button" value="Søg">
          </div>
        </div>
      </form>
      <div class="grid-5 push-2 padding-top-30">
        <h5 class="purple tiny normal">Populære byer:</h5>
      </div>
      <div class="grid-15 push-2 padding-top-30">
        <ul class="inline-list label-items white popular-cities">
          <li>{{#link-to 'home.companies' (query-params address="København K" lat='55.6760968' lon='12.5683371') }}København K{{/link-to}}</li>
          <li>{{#link-to 'home.companies' (query-params address="Aarhus c" lat='56.165278' lon='10.227222') }}Aarhus C{{/link-to}}</li>
          <li>{{#link-to 'home.companies' (query-params address="Odense" lat='55.394786' lon='10.3833951') }}Odense C{{/link-to}}</li>
          <li>{{#link-to 'home.companies' (query-params address="Silkeborg" lat='56.176362' lon='9.5549216') }}Silkeborg{{/link-to}}</li>
          <li>{{#link-to 'home.companies' (query-params address="Frederiksberg" lat='55.69377' lon='12.51267800000005') }}Frederiksberg{{/link-to}}</li>
          <li>{{#link-to 'home.companies' (query-params address="Kgs. Lyngby" lat='55.763516' lon='12.4949429') }}Kgs. Lyngby{{/link-to}}</li>
          <li>{{#link-to 'home.companies' (query-params address="Esbjerg" lat='55.476466' lon='8.459405') }}Esbjerg{{/link-to}}</li>
          <li>{{#link-to 'home.companies' (query-params address="Roskilde" lat='55.64191' lon='12.087845') }}Roskilde{{/link-to}}</li>
          <li>{{#link-to 'home.companies' (query-params address="Hillerød" lat='55.927909' lon='12.300806') }}Hillerød{{/link-to}}</li>
          <li>{{#link-to 'home.companies' (query-params address="Aalborg" lat='57.0488195' lon='9.921747') }}Aalborg{{/link-to}}</li>
          <li>{{#link-to 'home.companies' (query-params address="Vejle" lat='55.7113112' lon='9.536354099999999') }}Vejle{{/link-to}}</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="padding-y-25">
  <div class="container">
    <h2 class="thin medium purple text-center">På Sanatid.dk kan du læse om forskellige massagetyper</h2>
	  <h3 class="tiny thin dark-gray text-center">Vi har skrevet om forskellige massagetyper, hvordan de normalt udføres og hvorledes de kan gavne dig.</h3>
    <div class="grid-16 push-4">
      <ul class="inline-list label-items services text-center">
	      <li>{{#link-to 'home.wiki.service_field' 'massage'}}Fodmassage{{/link-to}}</li>
				{{#each service in serviceFields.services}}
          <li class="dark-green bg">{{#link-to 'home.wiki.service' serviceField.slug service.slug }}{{ service.name }}{{/link-to}}</li>
				{{else}}
		      <div class="loader">
		        <i class="fa gray fa-circle-o-notch fa-spin"></i>
		      </div>
				{{/each}}
      </ul>
    </div>
  </div>
</section>

