<div class="container_16">

	<div class="segment grid_8 center attached top">
    <h5 class="medium no-margin text-center"><strong>Log ind</strong></h5>
	</div>

  <form class="segment grid_8 center dimmable">
    <div class="dimmer">
      <div class="content text-center">
        <p>{{t home.login.loggingIn}}</p>
        <i class="fa fa-circle-o-notch fa-spin"></i>
      </div>
    </div>

    {{#if unsuccessfulLogin}}
      <div class="ui message red login center">{{t 'home.user.errorMessage'}}</div>
    {{/if}}

    <div class="field">
      <label><i class="fa fa-envelope-o"></i> {{t 'home.user.email' }}</label>
      <div class="ui left labeled icon input">
        {{input id="email" value=email class="fluid"}}
      </div>
    </div>

    <div class="field">
      <label><i class="fa fa-key"></i> {{t 'home.user.password' }}</label>
      <div class="ui left labeled icon input">
        {{input name="user[password]" type="password" value=password class="fluid"}}
      </div>
    </div>

    <p class="text-center">Har du glemt dit password? {{link-to 'klik her' 'home.forgot' class="dark-orange"}}</p>
    <input type="submit" class="green huge button fluid" {{translateAttr value="home.login.loginButton"}} {{action "login" on="click"}}>
	</form>
</div>

<br>