
<nav>
	<ul>
    {{#if app.currentUser}}
      <li>{{#link-to 'company_panel.settings.profile' classNames="login"}}Rediger side{{/link-to}}</li>
      <li><a href="#" class="tiny red button" {{action 'logout'}}><i class="fa fa-times"></i> Log ud</a></li>
    {{else}}
      <li>{{#link-to 'home.login' classNames="login"}}Log ind{{/link-to}}</li>
      <li>{{#link-to 'home.products' classNames="small blue button"}}For praksisser{{/link-to}}</li>
    {{/if}}
	</ul>
</nav>