<section class="window sign-up dimmable">
  <div class="dimmer center-focus">
    <div class="content">
      <p class="big">Opretter</p>
      <i class="fa large fa-circle-o-notch fa-spin"></i>
    </div>
    <div class="success content">
      <i class="fa green huge fa-check-circle-o"></i>
    </div>
  </div>

  <div class="background"></div>
  <div class="overlay"></div>
	<div class="content">
		<div class="container_16">

      {{error-messages for=this}}

      {{#if created}}
        <div class="message green">
          <p>Tak fordi du har valgt at bruge Sanatid.dk, vi har oprettet dig og sendt dig en mail med nærmere information.</p>
        </div>
      {{/if}}

			{{partial 'partials/signup_information'}}

			{{partial 'partials/company_signup'}}
		</div>
  </div>
</section>

{{search-city globalInitFlow="globalInitFlow"}}
