{{t 'home.unsubscribe.header' tagName="h2"}}
<form class="ui form">
  <div class="field">
    <div class="ui hidden success message">
      {{t 'home.unsubscribe.success'}}
    </div>
    {{input value=email placeholderTranslation="home.unsubscribe.email"}}
  </div>
  <div class="field">
    <input type="submit" class="ui button red" value="Afmeld" {{action "unsubscribe"}} {{translateAttr value='home.unsubscribe.submit'}}>
  </div>
</form>
