
{{t 'customer_panel.vouchers.activeVouchersTitle' tagName="h2"}}
<table class="ui six table segment">
  <thead>
    <tr>
      <th class="two wide">{{t 'customer_panel.vouchers.voucherNumber'}}</th>
      <th class="two wide">{{t 'customer_panel.vouchers.companyName'}}</th>
      <th class="four wide">{{t 'customer_panel.vouchers.vouchersUsed'}}</th>
      <th class="four wide">{{t 'customer_panel.vouchers.issuedDate'}}</th>
      <th class="four wide">{{t 'customer_panel.vouchers.voucherDetails'}}</th>
    </tr>
  </thead>
  {{#each}}
    <tr>
      <td>{{id}}</td>
      <td>{{company.companyName}}</td>
      <td>{{clips.length}}/{{clipCount}}</td>
      <td>{{dateFormat createdAt}}</td>
      <td>
        {{#link-to 'customer_panel.vouchers.show' id class="ui green button tiny"}}{{t 'customer_panel.vouchers.showVoucherButton'}}{{/link-to}}
        {{#link-to 'customer_panel.vouchers.show' id class="ui button tiny"}}{{t 'customer_panel.vouchers.makeAppointmentButton'}}{{/link-to}}
      </td>
    </tr>
  {{/each}}
  <tbody>
</tbody>
</table>

