Sanatid.HomeCompanyView = Ember.View.extend
  map: null
  mapPointer: null

  didInsertElement: ->
    # Lazy load in Leaflet.
    return @setupMap() if L?

    $.getScript "<%= asset_path 'leaflet.js' %>", =>
      @setupMap()

  setupMap: ->
    @set('map', L.map('map', {
      dragging: false
      touchZoom: false
      scrollWheelZoom: false
      doubleClickZoom: false
      boxZoom: false
      zoomControl: false
      attributionControl: false
    }))
    @get('map').setView([0, 0], 14);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(@get('map'))
    @set('mapPointer', L.marker([0, 0]))
    @get('mapPointer').addTo(@get('map'))

    return @fetchPosition() if google?

    # Load in google api.
    $.getScript "https://www.google.com/jsapi", =>
      google.load 'maps','3.6', other_params:'sensor=false', callback: =>
        @fetchPosition()

  fetchPosition: ->
    geocoder = new google.maps.Geocoder()
    geocoder.geocode {'address': @get('controller.address')}, (results, status) =>
      Ember.run =>
        data = results[0]
        if data
          # Set pointer on map.
          @get('map').setView([data.geometry.location.lat(), data.geometry.location.lng()], 14);
          @get('mapPointer').setLatLng([data.geometry.location.lat(), data.geometry.location.lng()])
