
  {{#link-to 'company_panel.jobs.list' 'open' 1 class="ui black button tiny floated right"}}Se flere opgaver{{/link-to}}
  <div class="panel-title" style="margin-top: 70px;">
    <i class="basic chart icon"></i>{{t 'company_panel.dashboard.statisticsTitle'}}
  </div>

  <table class="ui six table segment">
    <thead>
    <tr>
	    <th class="six wide"></th>
      <th class="three wide">Antal bud</th>
      <th class="two wide">Vundne bud</th>
      <th class="five wide">Omsætning</th>
    </tr>
    </thead>
    <tbody>
      <tr>
	      <td>Idag:</td>
	      <td>{{statistics.offers.now.day}} stk</td>
        <td>{{statistics.winningOffers.now.day}} stk</td>
        <td class="text-right"><strong>{{statistics.revenue.now.day}} kr.</strong></td>
      </tr>
      <tr>
	      <td>Igår:</td>
        <td>{{statistics.offers.last.day}} stk</td>
        <td>{{statistics.winningOffers.last.day}} stk</td>
        <td class="text-right"><strong>{{statistics.revenue.last.day}} kr.</strong></td>
      </tr>
      <tr>
	      <td>Denne uge:</td>
        <td>{{statistics.offers.now.week}} stk</td>
        <td>{{statistics.winningOffers.now.week}} stk</td>
        <td class="text-right"><strong>{{statistics.revenue.now.week}} kr.</strong></td>
      </tr>
      <tr>
	      <td>Sidste uge:</td>
        <td>{{statistics.offers.last.week}} stk</td>
        <td>{{statistics.winningOffers.last.week}} stk</td>
        <td class="text-right"><strong>{{statistics.revenue.last.week}} kr.</strong></td>
      </tr>
      <tr>
        <td>Denne måned:</td>
        <td>{{statistics.offers.now.month}} stk</td>
        <td>{{statistics.winningOffers.now.month}} stk</td>
        <td class="text-right"><strong>{{statistics.revenue.now.month}} kr.</strong></td>
      </tr>
      <tr>
        <td>Sidste måned:</td>
        <td>{{statistics.offers.last.month}} stk</td>
        <td>{{statistics.winningOffers.last.month}} stk</td>
        <td class="text-right"><strong>{{statistics.revenue.last.month}} kr.</strong></td>
      </tr>
      <tr>
        <td>I år:</td>
        <td>{{statistics.offers.now.year}} stk</td>
        <td>{{statistics.winningOffers.now.year}} stk</td>
        <td class="text-right"><strong>{{statistics.revenue.now.year}} kr.</strong></td>
      </tr>
      <tr>
        <td>Sidste år:</td>
        <td>{{statistics.offers.last.year}} stk</td>
        <td>{{statistics.winningOffers.last.year}} stk</td>
        <td class="text-right"><strong>{{statistics.revenue.last.year}} kr.</strong></td>
      </tr>
    </tbody>
  </table>


  {{#if reviews}}
    <div class="ui two column grid">
      <section class="column">
        <div class="sanatid ui segment">
          <div class="ui top attached label lightgold-bg">
            <h2><strong>Anmeldelser</strong></h2>
          </div>
          {{heart-rating averageRating=averageRating reviewCount=reviewCount large=true hideStatus=true}}
        </div>
      </section>

      <section class="column">
        <div class="sanatid ui segment">
          <div class="ui top attached label lightgold-bg">
            <h2><strong>Seneste anmeldelse</strong></h2>
          </div>
          <div class="avg-rating center">
            <div class="item" style="padding-top: 20px;">
              <div class="header" style="margin-bottom: 10px;"><span style="color: #D4D4D4; font-weight: normal;"> {{dateFormat reviews.firstObject.createdAt 'short'}} </span> {{reviews.firstObject.customer.name}}</div>
              <div class="ui heart rating" {{bind-attr data-rating=reviews.firstObject.rating}}>
                <i class="icon active"></i>
                <i class="icon active"></i>
                <i class="icon active"></i>
                <i class="icon active"></i>
                <i class="icon active"></i>
              </div>
              <p>{{reviews.firstObject.content}}</p>
            </div>
          </div>
        </div>
      </section>
    </div>
  {{/if}}
