<nav>
  <ul>
    <li>{{#link-to 'home.company' slug}}<strong>{{companyName}}</strong>{{/link-to}}</li>

    <li>{{#link-to 'company_panel.settings.services'}}Services{{/link-to}}</li>
    <li>{{#link-to 'company_panel.settings.profile'}}{{t 'company_panel.settings.profile.title'}}{{/link-to}}</li>
    <li>{{#link-to 'company_panel.settings.account'}}{{t 'company_panel.settings.account.title'}}{{/link-to}}</li>

    <li><a href="#" class="tiny red button" {{action 'logout'}}><i class="fa fa-times"></i> Log ud</a></li>
  </ul>
</nav>