{{#if showMessage}}
  <div class="ui success message">
    <i class="close icon"></i>
    <div class="header">
      Vi har modtaget din forspørgsel!
    </div>
    <p>Og vi har opdateret dit abonnement.</p>
  </div>
{{/if}}

{{#if loadingSubscription}}
  <div class="ui active inverted dimmer">
    <div class="ui text loader">Arbejder..</div>
  </div>
{{/if}}

<div class="sanatid ui segment">

	<div class="ui top attached label">
		<h2><strong>{{fundamentalProductFamily.name}}</strong></h2>
	</div>
  <table class="ui table segment">
    <thead>
      <tr>
	      <th class="six wide"></th>
        <th class="four wide"></th>
        <th class="two wide"></th>
        <th class="four wide"></th>
      </tr>
    </thead>
    <tbody>
    {{#each fundamentalProductFamily.products}}
      <tr>
	      <td><h2><i {{bind-attr class="iconClass :inverted :circular :heart :icon"}} ></i><strong>{{name}}</strong></h2></td>
        <td {{bind-attr class="subscription:positive"}}>{{#if subscription}}Tilmeldt{{/if}}</td>
        <td>
          {{#if subscription}}
            {{#if subscription.expiresAt}}
              Udløber d.{{dateFormat subscription.expiresAt 'short'}}
            {{/if}}
            {{#if subscription.nextRenewalAt}}
              Bliver fornyet d. {{dateFormat subscription.nextRenewalAt 'short'}}
            {{/if}}
          {{/if}}
        </td>
        <td><div class="small ui blue button expand">Læs mere</div></td>
      </tr>
      <tr class="collapsible ui hidden">
        <td>{{description}}</td>
        <td>
	        <ul>
            <li>Vi tager kommission:</li>
            <li>Egen profilside:</li>
            <li>Vurderinger på profilside:</li>
            <li>Antal undersider:</li>
            <li>Tilbudsbestilling fra profilside:</li>
            <li>Bindingsperiode:</li>
	        </ul>
        </td>
        <td>
          <ul>
            <li>{{commission}} %</li>
            <li><i class="checkmark icon"></i></li>
            <li><i class="checkmark icon"></i></li>
            <li>Kun forside</li>
            <li><i class="remove icon"></i></li>
            <li>Ingen</li>
          </ul>
        </td>
        <td class="text-center">
          <h3><strong>{{numberFormat price true true}}<br>/ {{tBillingPeriod}}<br></strong></h3>
          {{#unless controller.fundamentalProductFamily.subscriptionExist}}
            <div class="small ui green button" {{action 'signupSubscription' this }}>Opret medlemskab</div>
          {{/unless}}

          {{#if subscription}}
            {{#if subscription.expiresAt}}
              <div class="small ui green button" {{action 'reactivateSubscription' controller.fundamentalProductFamily this }}>Genaktiver medlemskab</div>
            {{else}}
              <div class="small ui red button" {{action 'cancelSubscription' controller.fundamentalProductFamily this}}>Afmeld medlemskab</div>
            {{/if}}
          {{else}}
            {{#if controller.fundamentalProductFamily.subscriptionExist}}
              <div class="small ui green button" {{action 'changeProduct' controller.fundamentalProductFamily this }}>Upgrader/Nedgrader</div>
            {{/if}}
          {{/if}}
        </td>
      </tr>
    {{/each}}
  </table>
</div>

{{! Only show components, if a fundamental subscription is present }}
{{#if fundamentalProductFamily.subscriptionExist}}
  <div class="sanatid ui segment">
    <div class="ui top attached label">
      <h2><strong>Tilkøbsprodukter</strong></h2>
    </div>
    <table class="ui table segment">
      <thead>
      <tr>
        <th class="six wide"></th>
        <th class="two wide"></th>
        <th class="four wide"></th>
        <th class="four wide"></th>
      </tr>
      </thead>
      <tbody>
      {{#each pf in nonFundamentalproductFamilies}}
        <tr>
          <td><h3><i {{bind-attr class="cf.iconClass :inverted :circular :extra :icon"}}></i>{{pf.name}}</h3></td>
          <td {{bind-attr class="cf.gotSubscription:positive"}}>{{#if pf.gotSubscription}}Tilmeldt{{/if}}</td>
          <td>
            {{#if pf.gotSubscription}}
              {{! components are billed with the fundamental subscription, there for only show if flagged for expire}}
              {{#if pf.expiresAt}}
                Udløber d.{{dateFormat pf.expiresAt 'short'}}
              {{/if}}

              {{#if pf.nextRenewalAt}}
                Bliver fornyet d. {{dateFormat pf.nextRenewalAt 'short'}}
              {{/if}}
            {{/if}}
          </td>
          <td></td>
        </tr>
        <tr>
          <td>{{pf.description}}</td>
          <td>
            <ul>
              {{#each pf.products}}
                <li>{{name}}</li>
              {{/each}}
            </ul>
          </td>
          <td>
            <ul>
              {{#each pf.products}}
                <li><span>{{numberFormat price true true}} </span> / {{tBillingPeriod}}</li>
              {{/each}}
            </ul>
          </td>
          <td>
            <ul class="pulled-right">
              {{#each p in pf.products}}
                {{! If company, have no subscription of this product, and no subscription to this family, then show sign up}}
                {{#unless p.subscription}}
                  {{#unless pf.gotSubscription}}
                  <li><div class="small ui green button" {{action 'signupSubscription' p }}>Opret medlemskab</div></li>
                  {{/unless}}
                {{/unless}}

                {{#if p.subscription}}
                  {{! If canceled, make reactivateable }}
                  {{#if p.subscription.expiresAt}}
                    <li><div class="small ui green button" {{action 'reactivateSubscription' pf p}}>Genaktiver</div></li>
                  {{else}}
                    <li><div class="small ui red button" {{action 'cancelSubscription' pf p}}>Afmeld medlemskab</div></li>
                  {{/if}}
                {{else}}
                {{! If company don't have a subscription to this product, but have to the family, show upgrade button}}
                  {{#if pf.gotSubscription}}
                    <li><div class="small ui green button" {{action 'signupSubscription' p }}>Upgrader/Nedgrader</div></li>
                  {{/if}}
                {{/if}}
              {{/each}}
            </ul>
          </td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
{{/if}}

{{! Modal activated on upgrade/downgrade & signup & reactivate }}
<div class="ui large modal confirm">
  <i class="close icon"></i>
  <div class="header"></div>
  <div class="content dimmable" style="min-height: 300px;">
    {{partial "partials/dimmer_loaders"}}

	  <div class="yellow ui message">
      Prisen reflekterer den månedlige betaling din praksis betaler.
      Hvis du opgradere eller nedgradere, vil den første faktura se anderledes ud.
      Der tages højde for hvad du allerede har betalt for dit nuværende produkt, og minusser det med denne måneds betaling af det nye produkt. Du kan kan se specifikt hvad der er blevet trukket på din faktura.
    </div>

    <table class="ui table segment">
      <thead>
      <tr>
        <th class="six wide">Produkt navn:</th>
        <th class="six wide">Beskrivelse:</th>
        <th class="four wide">Pris:</th>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{confirmProduct.name}}</td>
          <td>{{confirmProduct.description}}</td>
          <td>{{numberFormat confirmProduct.price true true}} / {{confirmProduct.tBillingPeriod}}</td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="actions">
    <div class="ui negative button">
      Fortryd
    </div>
    <div class="ui positive right labeled icon button">Bekræft
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>

