$(document).ready ->
  # Initialize some Semantic ui.
  $('.ui.dropdown').dropdown()
  $('.ui.checkbox').checkbox()

  # Initialize nicEdit.
  bkLib.onDomLoaded -> nicEditors.allTextAreas
    iconsPath : '<%= asset_path('nicEdit/nicEditorIcons.gif') %>'
    uploadURI: "http://#{window.location.host}/uploads"


  $('.product.menu .item').click ->
    $.get "/products/#{$(@).data('value')}.json", (result) =>
      $('.product').show()
      $('.product .name').html(result.product.name)
      $('.product .description').html(result.product.description)
      $('.product .price').html("#{result.product.price} #{result.product.billing_period}")
      $('.product .commission').html("#{result.product.commission}% commission")
      $('.field .price').val(result.product.price)
      $('.field .price-label').html("#{result.product.billing_period} price:")

