{{#if reviews}}

  <div class="huge avg-rating center" style="margin-top: 15px!important;">
    <header class="text-center">
      <strong>{{ratingStatus}} {{averageRating}}/10</strong>
    </header>

    <div class="wrapper">
      <div class="ui huge heart rating base">
        <i class="icon"></i>
        <i class="icon"></i>
        <i class="icon"></i>
        <i class="icon"></i>
        <i class="icon"></i>
      </div>

      <div class="ui heart huge rating fill-in">
        <div class="heart-wrapper">
          <i class="icon active"></i>
          <i class="icon active"></i>
          <i class="icon active"></i>
          <i class="icon active"></i>
          <i class="icon active"></i>
        </div>
      </div>
    </div>
    <footer class="text-center">
      {{reviewCount}} {{t "home.company_page.reviews.reviews"}}
    </footer>
  </div>

  <div class="ui divided list">
    {{#each reviews}}
      <div class="item" style="padding-top: 20px;">
        <div class="header" style="margin-bottom: 10px;"><span style="color: #D4D4D4; font-weight: normal;"> {{dateFormat createdAt 'short'}} </span> {{customer.name}}</div>
        <div class="ui heart rating" {{bind-attr data-rating=rating}}>
          <i class="icon active"></i>
          <i class="icon active"></i>
          <i class="icon active"></i>
          <i class="icon active"></i>
          <i class="icon active"></i>
        </div>
        <p>{{content}}</p>
      </div>
    {{/each}}
  </div>
{{else}}
  {{t 'home.company_page.reviews.noReviews' companyNameBinding=companyName}}
{{/if}}