<div class="grid_12">
  {{#if success}}
    <div class="message green">
      <h5 class="small">Tak for din booking!</h5>
      <p>Vi har givet {{companyName}} besked om din bestilling, og bør vende tilbage til dig hurtigst muligt.</p>
    </div>
  {{/if}}

  <table>
    <thead>
      <tr>
        <th style="width:42%"><i class="fa fa-list"></i> <strong>Ydelser</strong></th>
        <th style="width:22%"><i class="fa fa-heart-o"></i> Varighed</th>
        <th style="width:16%"><i class="fa fa-map-marker"></i> Pris</th>
        <th style="width:20%"></th>
      </tr>
    </thead>
    <tbody>
    {{#each menuItems}}
      <tr>
        <td class="text-left">{{name}}<br><small>{{description}}</small></td>
        <td class="text-center">{{duration}} minutter</td>
        <td class="text-center"><strong>{{numberFormat price true false}}</strong></td>
        <td class="text-right"><a {{action 'startBooking' this}} class="small blue button"><i class="fa fa-clock-o"></i> Book tid</a></td>
      </tr>
    {{else}}
      <tr>
        <td colspan="4">{{companyName}} har ikke udfyldt nogle ydelser.</td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>

<div class="medium modal order">
  <div class="content segment attached top">
    <h4 class="small no-margin text-center">Booking af tid hos {{companyName}}</h4>

    <h5 class="tiny">Du er ved at booke.</h5>
    <table>
      <tr>
        <td style="width:50%"  class="text-left">{{selectedService.name}}<br><small>{{selectedService.description}}</small></td>
        <td style="width:25%"  class="text-center">{{selectedService.duration}} minutter</td>
        <td style="width:25%"  class="text-center"><strong>{{numberFormat selectedService.price true false}}</strong></td>
      </tr>
    </table>

    {{#if bookingErrors.length}}
      <div class="message red">
        <h5 class="tiny">Hov, vi fandt nogle fejl i formen</h5>
        <ul class="medium">
          {{#each bookingErrors}}
            <li>
              * {{this}}
            </li>
          {{/each}}
        </ul>
      </div>
    {{/if}}

    <form>
      <label>
        Navn:
        {{input value=name}}
      </label>

      <label>
        Email:
        {{input value=email}}
      </label>

      <label>
        Telefon:
        {{input value=phone}}
      </label>

      <label>
        Ønsket dato:
        {{input class="date-field" value=startsAt}}
      </label>

      <label>
        Kommentar:
        {{textarea value=comment}}
      </label>

      <label>
        Tilmeld dig Sanatids nyhedsbrev
        {{input type="checkbox" checked=newsletter}}
      </label>

      <button class="button green huge fluid" {{action "completeBooking"}}>Book</button>
      <button class="button red huge fluid" {{action "cancelBooking"}}>Fortryd</button>
    </form>
  </div>
</div>