<%= form_for [:staff, @page], html: {class: 'ui form segment', multipart: true } do |f| %>
  <%= f.hidden_field :category, value: params[:category] %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :slug %>
    <%= f.text_field :slug %>
    <em>May only contain alphabetic chars, as well as - + _</em>
  </div>

  <div class="field">
    <%= f.label :parent %>
    <div class="ui selection fluid dropdown">
      <%= f.hidden_field :parent_id %>
      <div class="text"></div>
      <i class="dropdown icon"></i>
      <div class="menu">
        <div class="item">None</div>
        <% @parents.each do |parent| %>
          <div class="item" data-value="<%= parent.id %>"><%= parent.title %></div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <div class="field">
    <%= f.label :weight %>
    <%= f.text_field :weight %>
  </div>

  <div class="field">
    <div class="ui checkbox">
      <%= f.check_box :published %>
      <%= f.label :published %>
    </div>
  </div>

  <div class="field">
    <%= f.submit 'Save', class: 'ui green submit button' %>
    <%= link_to 'Cancel', staff_pages_path(category: params[:category]), class: 'ui blue submit button' %>
  </div>
<% end %>