<% content_for :statistics do %>
  <h4 class="stat"><em>Total <%= params[:category].humanize %> pages: <span><%= @pages.count %></span></em></h4>
<% end %>

<div class="content header">
  <%= link_to '<i class="add icon"></i> Add page'.html_safe, new_staff_page_path(category: params[:category]), class: 'ui small green labeled icon button pull-right' %>
  <h2><%= params[:category].humanize %> pages</h2>

</div>
<table class="ui table segment">
  <thead>
    <tr>
      <th width="30"></th>
      <th>Title</th>
      <th>Published</th>
      <th>Last updated</th>
      <th>Created</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @pages.each do |page| %>
    <tr>
      <td><% if page.children.present? %><i class="level down icon flipped"></i> <% end %></td>
      <td><%= page.title %></td>
      <td class="<%= page.published ? 'positive' : 'warning' %>"><%= page.published ? 'Yes' : 'No' %></td>
      <td><%= page.updated_at %></td>
      <td><%= page.created_at %></td>
      <td class="actions">
        <%= link_to '<i class="trash icon"></i> X'.html_safe, staff_page_path(page), class: 'ui icon button tiny labeled red pull-right', confirm: 'Are you sure?', method: :delete  %>
        <%= link_to '<i class="edit icon"></i> Edit'.html_safe, edit_staff_page_path(page, category: params[:category]), class: 'ui icon button tiny labeled blue pull-right'%>
      </td>
    </tr>
    <% page.children.each do |page| %>
      <tr>
        <td><i class="double angle right icon"></i></td>
        <td><%= page.title %></td>
        <td class="<%= page.published ? 'positive' : 'warning' %>"><%= page.published ? 'Yes' : 'No' %></td>
        <td><%= page.updated_at %></td>
        <td><%= page.created_at %></td>
        <td >
          <%= link_to '<i class="edit icon"></i> Edit'.html_safe, edit_staff_page_path(page, category: params[:category]), class: 'ui icon button tiny labeled blue'%>
          <%= link_to '<i class="trash icon"></i> Delete'.html_safe, staff_page_path(page), class: 'ui icon button tiny labeled red', confirm: 'Are you sure?', method: :delete  %>
        </td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>