// setting up the grid
$gridle-columns-count : 24;
$gridle-gutter-width : 20px;

// make the use of media queries really easy
@include gridle_register_state ( 'mobile' , null , 480px );
@include gridle_register_state ( 'tablet' , 481px , 1024px );
@include gridle_register_state ( 'desktop-small' , 1025px , 1500px );

// even with full custom queries :
@include gridle_register_state ( 'land', '(orientation : landscape)' );





// REMOVE END TEST //
.profiler-results {
  display: none;
}