
.bg {
  &.dark-gray {
    background-color: #e3e3e3;
  }
  &.gray {
    background-color: #efefef;
  }
  &.lighter-gray {
    background-color: #f9f9f9;
  }
  &.light-gray {
    background-color: #f5f5f5;
  }
  &.lighter-purple {
    background-color: #b978cc;
  }
  &.light-purple {
    background-color: #a356b9;
  }
  &.purple {
    background-color: #8C489F;
  }
  &.dark-purple {
    background-color: #6A307A;
    &.faded {
      background-color: rgba(#6A307A,0.3);
    }
  }
  &.light-green {
    background-color: #8cc640;
    &.faded {
      background-color: rgba(#8cc640, 0.8);
    }
  }
  &.dark-green {
    background-color: #7CB531;
    &.faded {
      background-color: rgba(#7CB531, 0.8);
    }
  }
}

