@import "compass/layout/sticky-footer";

html, * {
  font-family: 'Arial';
}

body, html {
  margin: 0;
  padding: 0;

}

#page {
  padding-right: 120px;
}

@include sticky-footer(110px, ".wrapper", ".footer-push", "footer");

// Globals.

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.fluid {
  width: 100% !important;
}

.clear {
  clear: both !important;
}

.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}

.show {
  display: block !important;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

.center {
  margin-right: auto !important;
  margin-left: auto !important;
  display: block !important;
  float: none !important;
}

.no-border {
  border: none !important;
}

.margin-y-5 {
  margin: 5px 0!important;
}

.margin-y-10 {
  margin: 10px 0!important;
}

.margin-y-15 {
  margin: 15px 0!important;
}

.margin-y-20 {
  margin: 20px 0!important;
}
.margin-y-25 {
  margin: 25px 0!important;
}
.margin-y-40 {
  margin: 40px 0!important;
}
.margin-l-5 {
  margin-left: 5px;
}

.margin-l-10 {
  margin-left: 10px;
}

.margin-l-15 {
  margin-left: 15px;
}
.padding-top-5 {
  padding-top: 5px!important;
}
.padding-top-10 {
  padding-top: 10px!important;
}
.padding-top-30 {
  padding-top: 30px!important;
}
.padding-top-50 {
  padding-top: 50px!important;
}
.padding-top-60 {
  padding-top: 80px!important;
}
.padding-y-10 {
  padding: 10px 0!important;
}
.padding-y-20 {
  padding: 20px 0!important;
}
.padding-y-25 {
  padding: 25px 0!important;
}
.padding-y-50 {
  padding: 50px 0!important;
}
.padding-30 {
 padding: 30px!important;
}
::selection {
  background: rgba(#8C489F,0.5); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: rgba(#8C489F,0.5); /* Gecko Browsers */
}
.relative {
  position: relative!important;
}
.border-right {
  border-right: 1px solid #ededed;
}