@import "compass/css3/images";

.button {
  padding: 10px 12px;
  border-radius: 5px;
  text-decoration: none;
  color: #FFF;

  &.light-gray {
    background-color: #ededed;
    color: #999;
  }
  &.gray {
    background-color: #444;
  }
  &.light-purple {
    background-color: #a356b9;
    &:hover {
      background-color: #8C489F;
    }
  }
  &.purple {
    background-color: #8C489F;
    color: #FFF;
  }

  &.yellow {
    background-color: #FFCC00;
  }

  &.green {
    background-color: #8cc640;
  }

  &:hover {
    cursor: pointer;
    color: #FFF;
  }

  &:active {
    cursor: pointer;
    border-bottom: none;
  }

  &.huge {
    height: 50px;
    font-size: 25px;
  }

  &.tiny {
    padding: 7px 10px;
    font-size: 15px;
  }

  &.block {
    margin: 10px;
    display: block;
  }
}
