input[type=radio] {
  display: none;
}

input[type=submit] {
  border: 0;
  font-weight: normal;
  font-size: 20px;
  color: #FFF;


  &.small {
    height: 36px;
    font-size: 16px;
    margin-left: 10px;
  }
}

input[type=radio]:checked + label {
  @include background-image(linear-gradient(#ffa632, #f28300));
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
  z-index: 1;
}

select {
  display: inline-block;
  padding: 10px 10px;
  border-radius: 5px;
  width: 100%;
  height: 49px;
  font-size: 16px;
  line-height: 28px;
  color: #333;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
  vertical-align: middle;
  background-color: rgba(255,255,255,0.8);
  cursor: pointer;
  border: 1px solid #ccc;
  border-color: rgba(0,0,0,0.2) rgba(0,0,0,0.2) rgba(0,0,0,0.5);
  -moz-box-shadow: 0 0 3px 1px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 0 3px 1px rgba(0,0,0,0.2);
  box-shadow: 0 0 3px 1px rgba(0,0,0,0.2);
  position: relative;
  z-index: 2;
}

input[type=text],
input[type=password] {
  border-radius: 5px;
  box-sizing: border-box;
  display:inline-block;
  padding: 10px 10px;
  font-size: 20px;
  line-height: 28px;
  height: 50px;
  color: #333;
  border: 0;
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
  vertical-align: middle;
  background-color: rgba(255,255,255,1);

  position: relative;
  z-index: 2;

  &.small {
    height: 36px;
    font-size: 16px;
    width: 224px;
  }
  &.tiny {
    height: 30px;
    font-size: 14px;
    line-height: 16px;
  }
}

textarea {
  padding: 15px;
  font-size: 13px;
  border-radius: 5px;
  border: 1px solid #aaa;
  &.big {
    width: 625px;
    max-width: 625px;
    height: 236px;
  }
}

.file-field {
  position: relative;

  .button {
    position: relative;
    z-index: 1
  }

  input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.field {
  margin-bottom: 10px;
  label {
    padding: 10px;
  }
  input {
    margin: 10px 0;
  }
  label span {
    width: 40%!important;
  }
}

.ui-datepicker {
  z-index: 60 !important;
}