
// generate classes :
@include gridle_generate_classes ( );

// manage container width :
.container {
  max-width : 1300px;
  margin : 0 auto;

  &.small {
    max-width: 800px;
  }
}


header {
  @include gridle ( 12 );
  background-color: #FFF;
}


#content {
  @include gridle ( 8 );
  @include gridle ( 12 , 'mobile' );
}
#sidebar {
  // sidebar will make 4 columns width
  @include gridle ( 4 );
  @include gridle ( 12 , 'mobile' );
  background : yellow ;

  // update sidebar look and feel for mobile and tablet
  @include gridle_state (  mobile tablet  ) {
    background : red;
  }
}