i {
  &.tiny {

  }

  &.small {
    font-size: 15px
  }

  &.medium {
    font-size: 25px
  }

  &.large {
    font-size: 40px
  }

  &.big {
    font-size: 90px
  }

  &.huge {
    font-size: 120px;
  }
}