.image {
  &.offer-one {
    background: image-url('info_images/bestil_tid.png') no-repeat;
    width: 140px;
    height: 140px;
  }
  &.offer-two {
    background: image-url('info_images/spar_tid_og_penge.png') no-repeat;
    width: 140px;
    height: 140px;
  }
  &.offer-three {
    background: image-url('info_images/alle_former_for_massage.png') no-repeat;
    width: 140px;
    height: 140px;
  }
  &.offer-four {
    background: image-url('info_images/brug_for_hjaelp.png') no-repeat;
    width: 140px;
    height: 140px;
  }
  &.offer-five {
    background: image-url('info_images/sociale_medier.png') no-repeat;
    width: 140px;
    height: 140px;
  }
  &.offer-six {
    background: image-url('info_images/tilmeld_nyhedsbrev.png') no-repeat;
    width: 140px;
    height: 140px;
  }
  &.small {
    background-size: 100%;
    width: 105px;
    height: 105px;
  }
}

