ul {
  padding-left: 0;
  margin-top: 15px;

  li {
    list-style-type: none;
  }

  a {
    text-decoration: none;
    color: #000;

    &:hover {
      text-decoration: underline;
    }
  }
  &.medium {
    font-size: 14px;

    li {
      line-height: 30px;
      vertical-align: middle;

      &:first-child {
        margin-top: 5px;
      }

      span {
        font-weight: bold;
        font-size: 26px;
        padding-left: 10px;
      }
    }
  }

  &.big {
    font-size: 14px;

    li {
      line-height: 45px;
      vertical-align: middle;

      &:first-child {
        margin-top: -5px;
      }
    }
  }
}

.inline-list li {
  display: inline-block;
}

.icon-list {
  margin-top: 0;

  li:first-child i {
    margin-left: 26px;
  }

  i {
    font-size: 36px;
    margin-left: 30px;
    color: #a356b9;

    &:hover {
      color: #6A307A;
      cursor: pointer;
    }
  }
}

.col-3 li {
  float: left;
  width: 33%
}

.label-items {
  margin: 0;
  &.popular-cities {
    li {
      font-weight: 200;
      border-radius: 5px;
    }
    a {
      color: #222;
    }
  }
  li {
    padding: 6px 10px;
  }
  &.services {
    padding: 15px 0 25px 0;
    li {
      padding: 15px 20px;
      margin: 5px;
      border-radius: 5px;

      &:first-child {
        background-color: #7CB531;
      }
      &:hover {
        background-color: #8cc640;
      }
      a {
        color: #FFF;
        font-size: 14px;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
