table {
  font-family: Arial, Helvetica, sans-serif;
  color: #666;
  font-size: 14px;
  text-shadow: 1px 1px 0px #fff;
  background: #eaebec;
  border: #ccc 1px solid;
  width: 100%;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 20px;

  a {
    font-size: 14px;
    text-decoration: none;
  }
}

th {
  padding: 12px 25px 11px 25px;
  background: #ededed;
  font-weight: normal;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
  background: -moz-linear-gradient(top,  #ededed,  #ebebeb);

  &:first-child {
    text-align: left;
    padding-left: 20px;
  }
}

tr {
  padding-left: 20px;

  &:nth-child(2n) td {
    background: #f5f5f5;
  }

  &.even td {
    background: #f6f6f6;
    background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
    background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
  }

  &:last-child td {
    border-bottom:0;
  }

  &:last-child td:first-child {
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  &:first-child th:first-child {
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
  }

  &:hover td {
    background: #f2f2f2;
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
    background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);
  }

  &.promoted td {
    border-top: 1px solid #FFC524;
    border-bottom: 1px solid #FFC524;
  }
}

td {
  padding:18px;
  font-size: 18px;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  background: #fafafa;
  background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
  background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);

  small {
    padding-top: 15px;
    font-size: 11px;
  }

  &:first-child {
    border-left: 0;
    padding: 20px 20px;

    img {
      border-radius: 25px 25px 25px 25px;
      width: 120px;
      height: 120px;
    }
  }
}


table.small {
  &.columns {
    tr td {
      padding: 0px 10px;
    }
  }
  tr td {
    padding: 10px;
    font-size: 12px;
    background: #e9e9e9;
    border-top: 1px solid #efefef;
  }

  th:first-child {
    padding-left:10px;
  }

  i.small {
    margin-right: 8px;
    width: 20px;
  }

  i.big {
    font-size: 20px;
    margin: 5px 0;
  }

  a {
    color: #000;

    &:hover, &.active {
      color: #f28300;
    }
  }
}