body, p, a {
  font-size: 13px;
}

h1, h2, h3, h4, h5 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif!important;
  // h1 equivalent.
  &.huge {
    font-size: 40px;
    margin: 30px 0;
  }

  // h2 equivalent.
  &.big {
    font-size: 34px;
    margin: 35px 0;
  }

  // h3 equivalent.
  &.medium {
    font-size: 28px;
    margin: 25px 0;
  }

  // h4 equivalent.
  &.small {
    margin: 15px 0;
    font-size: 22px;
  }

  // h5 equivalent.
  &.tiny {
    margin: 15px 0;
    font-size: 18px;
  }
}

p, a {
  &.big {
    font-size: 15px;
    margin: 10px;
    line-height: 20px;
    letter-spacing: 0.15px;
  }
}
.fat {
  font-weight: bold;
}
.normal {
  font-weight: normal;
}
.thin {
  font-weight: 200!important;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-shadow {
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.5);
}

.white {
  color: #FFF;
}

.black {
  color: #000;
}
.dark-gray {
  color: #444;
}
.gray {
  color: #999;
}

.purple {
 color: #8C489F;
}

.light-green {
  color: #8cc640;
}
.lightblue {
  color: #5d94e8;
}

a {
  text-decoration: none;
  color: #000;
}

a.blue {
  color: #FFF;
  text-shadow: none;
}

.gill-sans {
  font-family: "Gill Sans";
  font-style: italic;
}

.no-text-shadow {
  text-shadow: none;
}

.surfboard {
  border-bottom: 1px solid rgba(0,0,0,0.1);

}