<div class="container_16">
  <div class="grid_12">
	  {{#each}}
      <div class="segment attached top">
        <h1 class="small no-margin">{{title}}</h1>
	    </div>
	    <div class="segment">
		    <p class="no-margin">
        <small class="blue">{{t home.blog.by}} {{ staff.name }} <span class="pull-right black">{{ dateFormat createdAt }}</span></small>
        </p>
		    <h2 class="tiny">
          {{{summary}}}
		    </h2>
			  {{view Sanatid.SocialShareView}}
		    {{#link-to 'home.blog.show' this classNames="blue huge button float-right"}}
			    {{t home.blog.readMore}}
		    {{/link-to}}
		  </div>
	  {{/each}}
  </div>
  <div class="grid_4 segment">
	  {{#each dateSorted}}
		  {{#if blogs}}
        <div class="item">
				  {{month}}
          <div class="menu">
					  {{#each blogs}}
						  {{#link-to 'home.blog.show' this classNames="item"}}{{title}}{{/link-to}}
					  {{/each}}
          </div>
        </div>
		  {{/if}}
	  {{/each}}
  </div>
</div>

{{search-city globalInitFlow="globalInitFlow"}}