<div class="container_16">
  <div class="grid_12">
    <div class="segment attached top">
      <h1 class="small no-margin">{{title}}</h1>
    </div>
    <div class="segment">
      <p class="no-margin">
        <small class="blue">{{t home.blog.by}} {{ staff.name }} <span class="pull-right black">{{ dateFormat createdAt }}</span></small>
      </p>
      <h2 class="tiny">
				{{{summary}}}
      </h2>
      <p>{{{model.content}}}</p>
      {{view Sanatid.SocialShareView}}
    </div>
    <div id="fb-comments"style="margin-left: -2px;">
      <fb:comments href="https://sanatid.dk" numposts="5" colorscheme="light"></fb:comments>
    </div>
  </div>
  <div class="grid_4 segment">
	  {{#each blogs.dateSorted}}
		  {{#if blogs}}
        <div class="item">
				  {{month}}
          <div class="menu">
					  {{#each blogs}}
						  {{#link-to 'home.blog.show' this classNames="item"}}{{title}}{{/link-to}}
					  {{/each}}
          </div>
        </div>
		  {{/if}}
	  {{/each}}
  </div>
</div>

{{search-city globalInitFlow="globalInitFlow"}}
