<section class="padding-y-50">
  <div class="container">
    <h3 class="text-center thin huge purple">Har du brug for massage?</h3>
    <div class="grid-3 push-1 image offer-one"></div>
    <div class="grid-8 push-1"><h2 class="medium thin dark-gray no-margin padding-top-10">Bestil tid til massage</h2><p class="big thin gray no-margin">Slip for at google og ringe rundt til forskellige massageklinikker for at sammenligne priser. Sanatid.dk har gjort det nemt at søge blandt kvalitetsklinikker og bestille tid når du har udvalgt den rigtige klinik og massagetype.</p></div>

    <div class="grid-3 push-2 image offer-two"></div>
    <div class="grid-8 push-2"><h2 class="medium thin dark-gray no-margin padding-top-10">Spar tid og penge</h2><p class="big thin gray no-margin">Når du har udvalgt den massage og klinik der tiltaler dig mest, bestiller du blot tid hos klinikken, nævner i hvilket tidsrum de kan vende tilbage, hvorefter de kontakter dig pr. telefon, e-mail eller begge dele (det vælger du selv).</p></div>
  </div>
  <div class="container padding-top-30">
    <div class="grid-3 push-1 image offer-three"></div>
    <div class="grid-8 push-1"><h2 class="medium thin dark-gray no-margin padding-top-10">Få mere at vide</h2><p class="big thin gray no-margin">Der findes flere forskellige typer massage og disse kan somme tider være svære at finde rundt i. Hvis du har lyst til at vide mere kan du læse om forskellige massagetyper og hvordan de virker og gavner dig. <a class="purple" href="#">Læs mere her</a></p></div>

    <div class="grid-3 push-2 image offer-four"></div>
    <div class="grid-8 push-2"><h2 class="medium thin dark-gray no-margin padding-top-10">Brug for hjælp?</h2><p class="big thin gray no-margin">Er du i tvivl om hvilken form for massage du skal vælge, har du ikke modtaget svar på din bestilling, eller har du svært ved at navigere på siden? Vi sidder klar med support, hvis du har spørgsmål. <a class="purple" href="#">Skriv til os her</a></p></div>
  </div>
  <div class="container padding-top-30">
    <div class="grid-3 push-1 image offer-five"></div>
    <div class="grid-8 push-1"><h2 class="medium thin dark-gray no-margin padding-top-10">Følg os på de sociale medier</h2>
      <p class="big thin gray no-margin">Følg os på facebook og twitter, og hold dig opdateret med tilbud og når massageklinikker nær dig tilmelder sig sanatid.dk</p>
      <ul class="icon-list inline-list margin-y-15">
        <li><a href="https://www.facebook.com/sanatiddk" target="_blank"><i class="fa fa-facebook blue"></i></a></li>
        <li><a href="https://twitter.com/sanatid" target="_blank"><i class="fa fa-twitter blue"></i></a></li>
        <li><a href="https://www.linkedin.com/company/sanatid-dk" target="_blank"><i class="fa fa-linkedin blue"></i></a></li>
        <li><a href="https://plus.google.com/+SanatidDk" target="_blank"><i class="fa fa-google-plus blue"></i></a></li>
      </ul>
    </div>

    <div class="grid-3 push-2 image offer-six"></div>
    <div class="grid-8 push-2">
      <h2 class="medium thin dark-gray no-margin padding-top-10">Tilmeld vores nyhedsbrev</h2>
      <p class="big thin gray no-margin">Tilmeld dig vores nyhedsbrev og modtag relevant information, nyheder og gode tilbud på massage.</p>
      <div class="margin-y-15">
				{{input value=newsletterEmail placeholder="E-mail" class="dark-gray bg small pull-left"}}
        <input type="submit" class="small light-purple button pull-left" value="Tilmeld" {{action "newsletterSubscribe"}}>
      </div>
    </div>
  </div>
</section>