<div class="grid_8 push-down-20">
  <div class="grid_3 push_1 ">
    <ul class="big text-right no-margin">
      <li><strong>Dit navn:</strong></li>
      <li><strong>Praksissens navn:</strong></li>
      <li><strong>Tlf. nr.:</strong></li>
      <li><strong>E-mail:</strong></li>
      <li><strong>CVR (ikke et krav):</strong></li>
    </ul>
  </div>
  <form class="grid_4 push_1">
    <h2 class="medium text-center gold text-shadow"><strong>Tilmeld praksis</strong></h2>
		{{input value=name class="small margin-y-5 fluid"}}
		{{input value=companyName class="small margin-y-5 fluid"}}
		{{input value=phone class="small margin-y-5 fluid"}}
		{{input id="email" value=email class="small margin-y-5 fluid"}}
		{{input value=cvr class="small margin-y-5 fluid"}}
    <div class="field">
      <input type="submit" class="pull-right green small button margin-y-10" {{action 'signup'}} value="Tilmed din praksis">
    </div>
  </form>
</div>