<div class="ui inverted dimmer processing">
  <div class="content">
    <div class="center">
      <div class="ui text loader">Arbejder.</div>
    </div>
  </div>
</div>

<div class="ui inverted dimmer success">
  <div class="content">
    <div class="center">
      <h2 class="ui icon header">
        <i class="fa fa-check-circle-o"></i>
        Fuldført!
      </h2>
    </div>
  </div>
</div>