<section>
  <div class="how-to box big">
    <div class="container">
      <div class="four columns">
        <div class="bottom stop gradient overlay"></div>
        <div class="column white bg">
          <h4 class="black center text">Beskriv din situation</h4>
          <div class="splitter darkblue bg"></div>
          <i class="huge edit icon darkblue text"></i>
          <div class="callout">Du kan sikkert og trygt beskrive din situation og hvad du har brug for.</div>
        </div>
        <div class="column white bg">
          <h4 class="black center text">Skriv med praksisser</h4>
          <div class="splitter darkblue bg"></div>
          <i class="huge comment outline icon lightbrown text"></i>
          <i class="flipped big three comment icon lightbrown text"></i>
          <div class="callout">Praksisser kan stille spørgsmål til opgaven for at kunne give et passende tilbud.</div>
        </div>
        <div class="column white bg">
          <h4 class="black center text">Modtag 3 tilbud</h4>
          <div class="splitter darkblue bg"></div>
          <i class="huge empty heart icon lightred text"></i>
          <i class="big one heart icon lightred text"></i>
          <i class="big two heart icon lightred text"></i>
          <div class="callout">Praksisser nær dig byder samlet ind med 3 uforpligtende tilbud til dig.</div>
        </div>
        <div class="column white bg">
          <h4 class="black center text">Aftal sammen en tid</h4>
          <div class="splitter darkblue bg"></div>
          <i class="huge calendar icon lightgreen text"></i>
          <div class="callout">Du vælger den praksis og det tilbud der tiltaler dig mest, og i aftaler sammen en tid.</div>
        </div>
      </div>
    </div>
  </div>
</section>



