
<div class="information">
  <div class="ui vertically divided grid">
    <div class="four column row">
      <div class="column">
        <div class="content">
          <h3><i class="big info icon"></i><strong>Hvad er Sanatid.dk?</strong></h3>
          <p>Sanatid.dk faciliterer kontakt mellem praksisser og klienter i hele Danmark. Her kan du læse mere om hvem vi er, hvad vi laver og hvordan vi kan hjælpe dig som praksis eller klient.<br>
             <a href='/info/om-os'>Læs om os her</a></p>
        </div>
        <div class="icons">
          <i class="empty heart icon big"></i>
          <i class="users icon huge"></i>
          <i class="heart icon massive"></i>
        </div>
      </div>
      <div class="column">
        <div class="content">
          <h3><i class="big help icon"></i><strong>Hvordan virker det?</strong></h3>
          <p>Vi gør det nemt dig at oprette en opgave inden for coaching, massage eller terapi, bestille 3 gratis og uforpligtende tilbud, og vælge den praksis der tiltaler dig mest.<br>
            {{#link-to 'home.how'}}Læs mere her{{/link-to}}</p>
        </div>
        <div class="icons">
          <i class="chat icon big"></i>
          <i class="checked checkbox icon huge"></i>
          <i class="half empty star icon massive"></i>
        </div>
      </div>
      <div class="column">
        <div class="content">
          <h3><i class="big book basic icon"></i><strong>Hjælp til systembrug</strong></h3>
          <p>Har du brug for hjælp til at navigere i vores system, kan du her læse vores meget lette guides til systembrug. Der er guides til både klientens og praksissens kontrolpanel.<br>
            {{#link-to 'home.guides'}}Læs vores guides her{{/link-to}}</p>
        </div>
        <div class="icons">
          <i class="archive icon big"></i>
          <i class="book icon huge"></i>
          <i class="dashboard icon massive"></i>
        </div>
      </div>
      <div class="column">
        <div class="content">
          <h3><i class="big edit icon"></i><strong>Læs vores blog</strong></h3>
          <p>Gennem vores blogindlæg får du løbende information, uformelle indlæg og konkrete statistikker om sundhed og velvære. Disse er skrevet dels af kontoret og professionelle fagfolk.<br>
            {{#link-to 'home.blog'}}Læs vores blog her{{/link-to}}</p>
        </div>
        <div class="icons">
          <i class="browser icon big"></i>
          <i class="rss icon huge"></i>
          <i class="text file icon massive"></i>
        </div>
      </div>
    </div>
  </div>
</div>