<div class="landing-pages">
	<div class="ui vertically divided grid">
		<div class="three column row">
			{{#each serviceField in serviceFields}}
				<div {{bind-attr class=":column serviceField.name"}}>
	        <h2>{{#link-to 'home.wiki.service_field' serviceField.slug }} {{ serviceField.name }} {{/link-to}}</h2>
					<ul>
					{{#each service in serviceField.services}}
						<li>
              <i class="right white triangle icon"></i> {{#link-to 'home.wiki.service' serviceField.slug service.slug }}{{ service.name }}{{/link-to}}
            </li>
					{{/each}}
          </ul>
	      </div>
			{{/each}}
		</div>
	</div>
</div>