<div class="avg-rating center">
  <header class="text-center">
    <strong>{{averageRating}}/10</strong>
  </header>

  <div class="wrapper">
    <div class="ui heart rating base">
      <i class="icon"></i>
      <i class="icon"></i>
      <i class="icon"></i>
      <i class="icon"></i>
      <i class="icon"></i>
    </div>

    <div class="ui heart rating fill-in" style="width: calc({{unbound averageRating}} * 10%)">
      <div class="heart-wrapper">
        <i class="icon active"></i>
        <i class="icon active"></i>
        <i class="icon active"></i>
        <i class="icon active"></i>
        <i class="icon active"></i>
      </div>
    </div>
  </div>
  <footer class="text-center">
    {{reviewCount}} {{t "home.company_page.reviews.reviews"}}
  </footer>
</div>