<div class="grid_7 push_1 push-down-20">
  <h2 class="medium gill-sans">Det får du, når du tilmelder din praksis til <strong>Sanatid.dk</strong>:</h2>
  <ul class="medium gill-sans">
    <li><span>1.</span>) Jeres egen profilside med informationer i selv udfylder</li>
    <li><span>2.</span>) Praksis fremhævet på forsiden af Sanatid.dk</li>
    <li><span>3.</span>) Praksisprofil vist i søgeresultater når brugere søger</li>
    <li><span>4.</span>) Optimeret profilside på google og andre søgemaskiner</li>
    <li><span>5.</span>) Gratis oprettelse - uden forpligtelser</li>
  </ul>
</div>