<section>
  <header>
	  <div class="left"><%= image_tag 'logo/logo.png' %></div>
	  <div class="right">FAKTURA</div>
  </header>

  <section class="upper-section">
    <div class="left">
	    <div class="company">
		    Sanatid IVS<br>
		    Langdraget 27, ST TV<br>
		    2720 Vanløse<br>
		    Danmark<br>
		    53 61 73 31<br>
		    kontakt@sanatid.dk<br><br>
	    </div>
      <span>Faktura til:</span><br>
	    <address>
        <%= @invoice.company.company_name %><br>
        <%= @invoice.company.address %><br>
        <%= @invoice.company.email %><br>
        <%= @invoice.company.phone %>
	    </address>
    </div>
    <aside>
      <div class="left">
        Dato:<br>
        Faktura #:<br>
        Kunde ID:
      </div>
      <div class="right">
        <span><%= l @invoice.end_date, format: :clean %></span><br>
        <%= @invoice.reference_id %><br>
        <%= @invoice.company.id %><br>
      </div>
			<div class="paid">
        <%= @invoice.state == 'paid' ? '<span class="paid">BETALT</span>'.html_safe : '<span class="not-paid">IKKE BETALT</span>'.html_safe %>
			</div>
    </aside>
  </section>

  <section class="lower-section">
    <table>
      <thead>
      <tr>
        <th>Beskrivelse</th>
        <th>Antal</th>
        <th>Enhed</th>
        <th>Stk. pris</th>
        <th>Pris</th>
      </tr>
      </thead>
      <tbody>
      <% @invoice.invoice_line_items.each do |line_item| %>
        <tr>
          <td><%= line_item.description %></td>
          <td><%= line_item.quantity %></td>
          <td><%= line_item.quantity_type %></td>
          <td><%= (line_item.total / line_item.quantity).round(2) %></td>
          <td><%= line_item.total %> kr.</td>
        </tr>
      <% end %>
      <% @invoice.commission_lines.each do |line_item| %>
        <tr>
          <td colspan="4"><%= line_item.description %></td>
          <td><%= line_item.total %> kr.</td>
        </tr>
      <% end %>
      </tbody>
      <tfoot>
	      <tr>
	        <td colspan="3"></td>
	        <td>Sub total:</td>
	        <td><%= @invoice.total %> kr.</td>
	      </tr>
	      <tr>
	        <td colspan="3"></td>
	        <td>Moms</td>
	        <td><%= @invoice.total_vat %> kr.</td>
	      </tr>
	      <tr>
	        <td colspan="3"></td>
	        <td><strong>Total DKK</strong></td>
	        <td><strong><%= @invoice.total + @invoice.total_vat %> kr.</strong></td>
	      </tr>
      </tfoot>
    </table>
  </section>

  <footer>
    <p><em><strong>Består total af 0 kr., kan indkrævning ignoreres.</strong></em></p>
    <p>Faktura skal betales inden forfaldsdato <strong><%= l(@invoice.due_date, format: :clean) rescue 'ej bestemt' %></strong>.</p>
    <p style="font-size: 16px; border: none"><em>Beløb bedes indbetalt til Lån & Spar Bank på<br><em>Reg nr.:</em> <span><%= CONF['account_information']['registration_number'] %></span> <br> <em>Konto nr.:</em> <span><%= CONF['account_information']['account_number'] %></span></p>
    <p>Faktura #: <strong>"<%= @invoice.reference_id %>"</strong> bedes angivet sammen med overførslen.</p>
    <p>Ved betaling efter forfaldsdato, tilskrives rykkergebyr på 100,00 kr.</p>
  </footer>
</section>