html, body {
  font-family: Arial;
  margin: 0;
  padding: 0;
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}

.ui.tiered.menu .sub.menu {
  display: none;

  &.active {
    display: block;
  }

  a.active {
    font-weight: bold;
  }
}

header {
  height: 105px;
  width: 100%;
  background-color: #447bab;
  position: relative;

  .stats {
    position: absolute;
    left: 35%;
    border-radius: 0 0 5px 5px;
    padding: 5px 15px;
    background: #ffcb3f; /* Old browsers */
    background: -moz-linear-gradient(top, #ffcb3f 0%, #fc9f58 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffcb3f), color-stop(100%,#fc9f58)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffcb3f 0%,#fc9f58 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffcb3f 0%,#fc9f58 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffcb3f 0%,#fc9f58 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffcb3f 0%,#fc9f58 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcb3f', endColorstr='#fc9f58',GradientType=0 ); /* IE6-9 */

    h4 {
      margin: 5px;
      color: #444;
      font-weight: bold;
      text-shadow: 1px 1px rgba(255,255,255,0.5);
      span {
        font-size: 120%;
        color: #222;
      }
    }
  }
}

.container {
  width: 85%;
  margin: 0 auto;
  margin-bottom: 50px;
}

footer {
  width: 100%;
  background-color: #234e73;
  color: #fff;
  text-shadow: -1px -2px rgba(0,0,0,0.5);

  .information {
    width: 90%;
    padding: 0px;
    margin: 0 auto;
  }

  .ui.grid > .column, .ui.grid > .row > .column {
    padding: 10px;
  }
}

.logo-wrapper {
  width: 100%;
  height: 105px;

  .inner {
    width: 85%;
    margin: 0 auto;
  }
}
.logo {
  padding-top: 5px;
  font-size: 45px;
  height: 80px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 900;
  color: #9acefc;
  font-style: italic;
  float: left;
  text-decoration: none!important;
  span {
    color: #c9e6ff;
  }
}

.slogan {
  float: left;
  color: #FFFFFF;
  font-size: 20px;
  font-family: "Arial";
  font-weight: normal;
  padding-left: 20px;
}

.userbox {
  height: 70px;
  min-width: 260px;
  float: right;
  padding-top: 15px;
  color: blue;
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
  border-radius: 0 0 5px 5px;
  position: relative;
  padding-right: 15px;

  .logout {
    width: 90px;
    height: 30px;
    position: absolute;
    left: -100px;
    top: 10px;
    padding-left: 10px;
    line-height: 30px;
    color: white;
    background: #ff3019; /* Old browsers */
    background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ff3019 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ff3019 0%,#cf0404 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ff3019 0%,#cf0404 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ff3019 0%,#cf0404 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */


    &:hover {
      border-bottom: 2px solid #870000;
      cursor: pointer;
    }
    border-radius: 5px 0 0 5px;
    i {
      opacity: 1!important;
    }
    a {
      color: white;
      text-decoration: none;

    }
  }
}

.info {
  margin: 0;
  color: #222;
  font-size: 16px;
  text-shadow: 1px 1px rgba(255,255,255,0.9);
  margin-left: 10px;
  margin-top: -5px!important;

  i {
    opacity: 1!important;
    border: 1px solid #fff;
  }
  span {
    color: #4696db;
    font-size: 20px;
  }

}

.menu .header.item {
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}

.ui.form {
  .filter {
    .column {
      padding: 5px;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

}

.clip-actions {
  .button {
    width: 130px;
    margin: 2px;
  }
}

.twelve.wide.column {
  padding-right: 0;

  .ui.segment {
    width: 98%;
    margin: 0 auto;
    margin-top: 16px;
    .ui.table {
      margin-top: 0;
      margin-bottom: 15px;
    }
    .subheader {
      height: 46px;
      background: #ffffff;
      border-top: 1px solid #e9e9e9;
      border-left: 1px solid #e9e9e9;
      border-right: 1px solid #e9e9e9;
      border-radius: 5px 5px 0 0;
      width: 90%;
      margin: 0 auto;

      h3 {
        padding: 12px;
        margin: 0;
      }
      .button {
        height: 30px;
        padding: 8px;
        margin: 8px 8px 0 0;
        i {
          padding: 8px;
        }
      }
    }
  }
  .ui.table {

    width: 98%;
    margin: 0 auto;
    margin-top: 16px;

    td {
      padding: 10px;

      .button {
        padding: 10px;
        margin-left: 5px;
      }
    }

    .positive {
      background-color: rgba(110,217,110,0.2)!important;
    }
    .negative {
      background-color: rgba(#ba2c2c,0.2)!important;
    }
    .warning {
      background-color: rgba(#f8c78f,0.2)!important;
    }
    tr {
      background: #ffffff; /* Old browsers */
      background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* IE10+ */
      background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
    }
    thead tr th {
      text-shadow: 1px 1px rgba(255,255,255,0.7);

      &:last-child {
        text-align: right;
      }
    }
  }
  .content.header {
    border-radius: 5px;
    width: 100%;
    top: 0;
    height: 70px;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
    border: 1px solid #e3e3e3;
    text-shadow: 1px 1px rgba(255,255,255,0.9);

    h2 {
      margin: 0;
      line-height: 30px;
      padding: 21px;
    }

    .button {
      margin-top: 18px;
      margin-right: 18px;
      text-shadow: none;
    }

    .input {
      margin-top: 14px;
    }
  }
}

.ui.message.yellow {
  width: 640px;
  float: right;
  margin-top: 40px;
}
.ui.vertical.menu {
  width: 275px;
  float: right;
  text-shadow: 1px 1px rgba(255,255,255,0.9);
}

.text-right {
  text-align: right;
}

.red-bg {
  background: indianred;
  color: #FFF;
}

.text-center {
  text-align: center;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.fluent {
  width: 100%;
}

.hidden {
  display: none;
}

@media screen and (min-width: 1300px) and (max-width: 1400px) {
  .twelve.wide.column .content {
    width: 800px!important;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1300px) {
  .twelve.wide.column .content {
    width: 700px!important;
  }
}
@media screen and (min-width: 1100px) and (max-width: 1200px) {
  .twelve.wide.column .content {
    width: 600px!important;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1100px) {
  .twelve.wide.column .content {
    width: 500px!important;
  }
}
