<section>
  <div class="container_16">
    <div class="segment">
      <h1 class="no-margin small text-left">
        {{#if serviceField}}
          Massører i nærheden af dig <span class="float-right"><small class="blue">{{address}}, {{city}}</small></span>
        {{else}}
          Massører i nærheden af <span class="float-right"><small class="blue">{{address}}</small></span>
        {{/if}}
      </h1>
    </div>

    <table>
      <thead>
        <tr>
          <th style="width:16%"></th>
          <th style="width:38%"></th>
          <th style="width:14%"><i class="fa fa-map-marker"></i> Distance</th>
          <th style="width:14%"></th>
        </tr>
      </thead>
      <tbody>
      {{#each}}
        <tr>
          <td class="text-center"><img {{bind-attr src=logo}} alt="logo"></td>
          <td>{{companyName}}</td>
          <td class="text-center"><strong>{{distanceTo}} km</strong></td>
          <td class="">
            {{link-to 'Vis Ydelser' 'home.company.services' slug class="small blue button block"}}
          </td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
</section>