<div class="content header">
  <h2>Editing <%= @email.machine_name %> </h2>
</div>
<%= form_for [:staff, @email], html: {class: 'ui form segment' } do |f| %>
  <div class="ui segment">
    <h3 class="ui teal header">Description of <%= @email.machine_name %></h3>
    <%= @markdown.render(@email.description).html_safe %>
  </div>

  <div class="field">
    <%= f.label :subject %>
    <%= f.text_field :subject %>
    <br>
    <small>Subject of the email, shown in the recipients email list.</small>
  </div>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
    <br>
    <small>Will be shown as a header, in the top of the email.</small>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
    <br>
    <small>Content of the email, if there is any available tokens, i stated above in the description.</small>
  </div>

  <div class="field">
    <%= f.submit 'Save', class: 'ui green submit button' %>
    <%= link_to 'Cancel', staff_emails_path, class: 'ui blue submit button' %>
  </div>
<% end %>