<% content_for :statistics do %>
  <h4 class="stat"><em>Total System emails: <span><%= @emails.count %></span></em></h4>
<% end %>
<div class="content header">
	<h2>System emails</h2>
</div>
<table class="ui table segment">
  <thead>
    <tr>
      <th>Machine name</th>
      <th>Subject</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @emails.each do |email| %>
    <tr>
      <td><%= email.machine_name %></td>
      <td><%= email.subject %></td>
      <td><%= email.description.lines.first %></td>
      <td>
        <%= link_to '<i class="edit icon"></i> Edit'.html_safe, edit_staff_email_path(email), class: 'ui icon button tiny labeled blue pull-right'%>
        <%= link_to '<i class="unhide icon"></i> Preview'.html_safe, staff_email_path(email), class: 'ui icon button tiny labeled green pull-right'%>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>