<div class="content header">
  <%= link_to 'Back', staff_emails_path, class: 'ui small button pull-right' %>
  <h2>Viewing <%= @email.machine_name %></h2>
</div>


<div style="padding: 80px 0 150px">
  <%= render template: "emails/#{@email.machine_name}", layout: 'layouts/mail_layout' %>
</div>

