<% @lead.errors.messages.each { |e| puts e } if @lead.errors %>

<%= form_for [:staff, @lead], html: {class: 'ui form segment' } do |f| %>

  <div class="ui segment">
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :company_name %>
      <%= f.text_field :company_name %>
    </div>

    <div class="field">
      <%= f.label :phone %>
      <%= f.text_field :phone %>
    </div>

    <div class="field">
      <%= f.label :homepage %>
      <%= f.text_field :homepage %>
    </div>

    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>

    <div class="field">
      <%= f.label :cvr %>
      <%= f.text_field :cvr %>
    </div>

    <div class="field">
      <%= f.label :address %>
      <%= f.text_field :address %>
    </div>

    <div class="field">
      <%= f.label :city %>
      <%= f.text_field :city %>
    </div>
  </div>

  <div class="field">
    <%= f.submit 'Save', class: 'ui green submit button' %>
    <%= link_to 'Cancel', staff_leads_path, class: 'ui blue submit button' %>
  </div>
<% end %>