<% content_for :statistics do %>
  <h4 class="stat"><em>Total leads: <span><%= Lead.count %></span></em></h4>
<% end %>

<% content_for :scripts do %>
  <script>
    $(document).ready(function () {
      $('#mark_all').click(function (e) {
        var checked = $(this).prop('checked') ? true : false;

        $('input[type=checkbox]').prop('checked', checked);
      });
    });
  </script>
<% end %>


<div class="content header">
  <%= link_to '<i class="add icon"></i>Create Lead'.html_safe, new_staff_lead_path, class: 'ui small green labeled icon button pull-right' %>
	<h2>Leads</h2>
</div>

<%= form_tag staff_leads_path, method: 'GET', class: 'ui large form segment' do  %>
  <div class="ui six column grid filter">
	  <div class="column">
			<div class="field">
				<label>Service Field</label>
			  <%= select_tag(:service_field, options_for_select(@service_fields.map {|sf| [sf.name, sf.id] }, params[:service_field]), class: 'ui dropdown')%>
			</div>
	  </div>
	  <div class="column">
			<div class="field">
			  <label>Zip</label>
			  <%= select_tag(:zip, options_for_select(@zips, params[:zip])) %>
			</div>
	  </div>
    <div class="column">
      <div class="field">
        <label>Region</label>
        <%= select_tag(:region, options_for_select(@regions, params[:region])) %>
      </div>
    </div>
    <div class="column">
			<div class="field">
			  <label>Category</label>
        <%= select_tag(:category, options_for_select(@categories, params[:category])) %>
			</div>
	  </div>
    <div class="column">
      <div class="field">
        <label>Show only leads that hasn't been contacted in the past</label>
        <%= select_tag(:contacted, options_for_select([['All', 0], ['1 Month', 1], ['3 Months', 3], ['6 Months', 6], ['1 Year', 12]], params[:contacted])) %>
      </div>
    </div>
    <div class="column">
			<%= submit_tag :filter, name: nil, class: 'ui blue submit button' %>
	    <%= link_to 'Reset', staff_leads_path, class: 'ui red button' %>
	  </div>
  </div>
<% end %>

<%= form_tag staff_assign_leads_path, method: :post do %>
<div class="ui two column grid filter">
  <div class="column">
    <h3>Assign leads to Staff member.</h3>
    <div class="field">
      <div class="ui selection dropdown">
        <%= hidden_field_tag :staff_id %>
        <div class="text"></div>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item" data-value="">Unassigned</div>
          <% @staffs.each do |s| %>
            <div class="item" data-value="<%= s.id %>"><%= s.name %></div>
          <% end %>
        </div>
      </div>
      <%= button_tag :assign, id: :assign, class: 'ui button green' %>
    </div>
  </div>
  <div class="column">

  </div>
</div>

<table class="ui table segment">
  <thead>
    <tr>
      <th><%= check_box_tag :mark_all, id: :mark_all %></th>
      <th>Company name</th>
      <th>Service Field</th>
      <th>Phone</th>
      <th>Homepage</th>
      <th>Zip</th>
      <th>Region</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @leads.each do |lead| %>
    <tr>
      <td><%= check_box_tag 'ids[]', lead.id %></td>
      <td><%= lead.company_name %></td>
      <td><%= lead.service_field.name %></td>
      <td><%= lead.phone %></td>
      <td><%= link_to lead.homepage, lead.link, target: '_blank' %></td>
      <td><%= lead.city %></td>
      <td><%= lead.region %></td>
      <td>
        <%= link_to '<i class="unhide icon"></i> Details'.html_safe, staff_lead_path(lead), class: 'ui icon button tiny labeled green'  %>
        <%= link_to '<i class="edit icon"></i> Edit'.html_safe, edit_staff_lead_path(lead), class: 'ui icon button tiny labeled blue'%>
        <%= link_to '<i class="trash icon"></i> Delete'.html_safe, staff_lead_path(lead), class: 'ui icon button tiny labeled red', data: { confirm: 'Are you sure?', method: :delete } %>
      </td>
    </tr>
  <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="3" style="text-align: center;">
        <%= paginate @leads, window: 2 %>
      </th>
      <th colspan="3" style="text-align: center;">
        <%=   %>
      </th>
    </tr>
  </tfoot>
</table>
<% end %>