<% content_for :statistics do %>
  <h4 class="stat"><em>Recently: <span><%= Lead.count %></span></em></h4>
  <h4 class="stat"><em>Upcoming: <span><%= Lead.count %></span></em></h4>
<% end %>

<div class="content header">
  <h2>Fresh (Not contacted) leads assigned to you</h2>
</div>
<table class="ui table segment">
  <thead>
  <tr>
    <th>Company name</th>
    <th>Service Field</th>
    <th>Phone</th>
    <th>Website</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% current_user.leads.fresh.each do |lead| %>
    <tr>
      <td><%= lead.company_name %></td>
      <td><%= lead.service_field.name %></td>
      <td><%= lead.phone %></td>
      <td><%= lead.homepage %></td>
      <td>
        <%= link_to '<i class="unhide icon"></i> Details'.html_safe, staff_lead_path(lead), class: 'ui icon button tiny labeled green pull-right'  %>
        <%= link_to '<i class="trash icon"></i> X'.html_safe, staff_lead_path(lead), class: 'ui icon button tiny labeled red pull-right', data: { confirm: 'Are you sure?', method: :delete } %>
        <%= link_to '<i class="edit icon"></i> Edit'.html_safe, edit_staff_lead_path(lead), class: 'ui icon button tiny labeled blue pull-right'%>
      </td>
    </tr>
  <% end %>
  </tbody>
  <tfoot>
  <tr>
    <th colspan="6" style="text-align: center;">
      <%= paginate @lead_events, window: 2 %>
    </th>
  </tr>
  </tfoot>
</table>

<div class="ui two column grid">
  <div class="ui column">
	  <div class="content header">
      <h2>Recently interacted with</h2>
	  </div>
    <table class="ui table segment">
      <thead>
        <tr>
          <th>Company name</th>
          <th>Service Field</th>
          <th>Event type</th>
          <th>Interacted at</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
      <% @lead_events.each do |event| %>
        <tr>
          <td><%= event.lead.company_name %></td>
          <td><%= event.lead.service_field.name %></td>
          <td><%= event.event_type %></td>
          <td><%= event.created_at %></td>
          <td>
            <%= link_to '<i class="unhide icon"></i> Details'.html_safe, staff_lead_path(event.lead), class: 'ui icon button tiny labeled green pull-right'  %>
            <%= link_to '<i class="trash icon"></i> X'.html_safe, staff_lead_path(event.lead), class: 'ui icon button tiny labeled red pull-right', data: { confirm: 'Are you sure?', method: :delete } %>
            <%= link_to '<i class="edit icon"></i> Edit'.html_safe, edit_staff_lead_path(event.lead), class: 'ui icon button tiny labeled blue pull-right'%>
          </td>
        </tr>
      <% end %>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="6" style="text-align: center;">
            <%= paginate @lead_events, window: 2 %>
          </th>
        </tr>
      </tfoot>
    </table>
  </div>

  <div class="ui column">
    <div class="content header">
      <h2>Upcoming dates</h2>
	  </div>
    <table class="ui table segment">
      <thead>
      <tr>
        <th>Lead</th>
        <th>Comment</th>
        <th>Date</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <% @reminders.each do |reminder| %>
        <tr class="<%= 'negative' if reminder.date < Time.now %>">
          <td><%= reminder.lead.company_name %></td>
          <td><%= reminder.comment %></td>
          <td><%= reminder.date %></td>
          <td>
            <%= link_to '<i class="trash icon"></i> X'.html_safe, staff_reminder_path(reminder), class: 'ui icon button tiny labeled red pull-right', data: { confirm: 'Are you sure?', method: :delete } %>
            <%= link_to '<i class="unhide icon"></i> View lead'.html_safe, staff_lead_path(reminder.lead), class: 'ui icon button tiny labeled green pull-right'  %>
          </td>
        </tr>
      <% end %>
      </tbody>
      <tfoot>
      <tr>
        <th colspan="6" style="text-align: center;">
          <%= paginate @lead_events, window: 2 %>
        </th>
      </tr>
      </tfoot>
    </table>
  </div>
</div>