<div class="content header">
  <h1>Show lead for <%= @lead.company_name %></h1>
</div>
<div class="ui segment">
  <div class="ui divided list">
    <% @lead.attributes.each do |attr| %>
      <span class="item">
        <div class="ui blue horizontal label"><%= attr[0] %></div>
        <%= attr[1] %>
      </span>
    <% end %>
  </div>

  <%= link_to 'Convert lead to Company', new_staff_company_path(company: @convert_query), class: 'ui green tiny button' %>
  <%= link_to '<i class="edit icon"></i> Edit'.html_safe, edit_staff_lead_path(@lead), class: 'ui icon button tiny labeled blue' %>
</div>

<div class="ui segment">
  <%= form_for [:staff, @lead], html: {class: 'ui form segment' } do |f| %>
    <h3>Assign lead to Staff member.</h3>
    <div class="field">
      <div class="ui selection dropdown">
        <%= f.hidden_field :staff_id %>
        <div class="text"></div>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item" data-value="">Unassigned</div>
          <% @staffs.each do |s| %>
            <div class="item" data-value="<%= s.id %>"><%= s.name %></div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="field">
      <%= f.submit 'Save', class: 'ui green submit button' %>
      <%= link_to 'Cancel', staff_leads_path, class: 'ui blue submit button' %>
    </div>
  <% end %>
</div>

<div class="ui segment">

  <h3>Event log</h3>

  <% @lead.lead_events.each do |event| %>
    <div class="ui label green"><%= event.event_type %></div>
    <% if event.reason %><div class="ui label blue"><%= event.reason %></div> <% end %>
    <p><%= event.comment %></p>
    <em><%= event.created_at %></em>
  <% end %>

  <h4>Send presentation material</h4>
  <%= form_tag staff_lead_send_presentation_path(@lead), class: 'ui form segment' do  %>

    <div class="field">
      <%= label_tag :recipient %>
      <%= text_field_tag :recipient, @lead.email %>
    </div>

    <div class="field">
      <%= label_tag :reminder, 'Remind me in x days (only integers) - insert 0 if you do not wish a reminder' %>
      <%= text_field_tag :reminder, 7, pattern: '^\d{1,2}$' %>
    </div>

    <div class="field">
      <%= submit_tag 'Send material', class: 'ui blue button' %>
    </div>

  <% end %>

  <h4>Create new event</h4>
  <%= form_for [:staff, @lead_event], html: { class: 'ui form segment' } do |f| %>
    <%= f.hidden_field :lead_id, value: @lead.id %>

    <div class="field">
      <%= f.label :event_type %>
      <%= f.select :event_type, ['None', 'Don\'t want to contacted', 'Contacted', 'Denied offer', 'No contact', 'Wrong number', 'Phone busy'] %>
    </div>

    <div class="field lead-reason">
      <%= f.label :reason %>
      <%= f.select :reason, ['Too difficult to use', 'Too expensive', 'No room for extra clients', 'Other'], include_blank: true %>
    </div>

    <div class="field">
      <%= f.label :comment %>
      <%= f.text_area :comment %>
    </div>
    <div class="field">
      <%= f.submit 'Save event', class: 'ui blue button' %>
    </div>
  <% end %>

  <h4>Create new reminder</h4>
  <%= form_for [:staff, @reminder], html: { class: 'ui form segment' } do |f| %>
    <%= f.hidden_field :lead_id, value: @lead.id %>

    <div class="field">
      <%= f.label :date %>
      <%= f.datetime_select :date %>
    </div>

    <div class="field">
      <%= f.label :notify, 'Notify me - by mail' %>
      <%= f.check_box :notify %>
    </div>

    <div class="field">
      <%= f.label :comment %>
      <%= f.text_area :comment %>
    </div>
    <div class="field">
      <%= f.submit 'Create reminder', class: 'ui blue button' %>
    </div>
  <% end %>
</div>

<%= content_for :scripts do %>
  <script>
    $(document).ready(function (){
      $('.lead-reason').hide();
      $('#lead_event_event_type').change(function() {
        if($(this).val() == 'Denied offer') {
          $('.lead-reason').show();
        }else {
          $('#lead_event_reason').val('Select a reason');
          $('.lead-reason').hide();
        }
      });
    });
  </script>
<% end %>