<% content_for :statistics do %>
  <h4 class="stat"><em>Total leads: <span><%= Lead.count %></span></em></h4>
<% end %>

<div class="content header">
	<h2>Signup leads</h2>
</div>

<table class="ui table segment">
  <thead>
    <tr>
      <th>Name</th>
      <th>Company name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @leads.each do |lead| %>
    <tr>
      <td><%= lead.name %></td>
      <td><%= lead.company_name %></td>
      <td><%= lead.phone %></td>
      <td><%= lead.email %></td>
      <td>
        <%= link_to '<i class="unhide icon"></i> Details'.html_safe, staff_lead_path(lead), class: 'ui icon button tiny labeled green'  %>
        <%= link_to '<i class="edit icon"></i> Edit'.html_safe, edit_staff_lead_path(lead), class: 'ui icon button tiny labeled blue'%>
        <%= link_to '<i class="trash icon"></i> Delete'.html_safe, staff_lead_path(lead), class: 'ui icon button tiny labeled red', data: { confirm: 'Are you sure?', method: :delete } %>
      </td>
    </tr>
  <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="6" style="text-align: center;">
        <%= paginate @leads, window: 2 %>
      </th>
    </tr>
  </tfoot>
</table>