<% @customer.errors.messages.each { |e| concat e } if @customer.errors %>

<%= form_for [:staff, @customer], html: {class: 'ui form segment', multipart: true } do |f| %>

  <div class="ui segment">
    <h2>Personal / Owner</h2>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>

    <div class="field">
      <%= f.label :phone %>
      <%= f.text_field :phone %>
    </div>

    <div class="two fields">
      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= f.submit 'Save', class: 'ui green submit button' %>
    <%= link_to 'Cancel', staff_customers_path, class: 'ui blue submit button' %>
  </div>
<% end %>