<% content_for :statistics do %>
  <h4 class="stat"><em>Total customers: <span><%= @customers.count %></span></em></h4>
<% end %>
<div class="content header">
	<h2>Customers</h2>
</div>
<table class="ui table segment">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Register date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @customers.each do |customer| %>
    <tr>
      <td><%= customer.id %></td>
      <td><%= customer.name %></td>
      <td><%= customer.phone %></td>
      <td><%= customer.email %></td>
      <td><%= customer.created_at %></td>
      <td>
        <%= link_to '<i class="trash icon"></i> X'.html_safe, staff_customer_path(customer), class: 'ui icon button tiny labeled red pull-right', confirm: 'Are you sure?', method: :delete  %>
        <%= link_to '<i class="edit icon"></i> Edit'.html_safe, edit_staff_customer_path(customer), class: 'ui icon button tiny labeled blue pull-right'%>
        <%= link_to '<i class="unhide icon"></i> Details'.html_safe, staff_customer_path(customer), class: 'ui icon button tiny labeled green pull-right', style: 'margin-top: 5px; width: 197px'%>
      </td>
    </tr>
  <% end %>
  </tbody>
  <tfoot>
  <tr>
    <th colspan="7" style="text-align: center;">
      <%= paginate @customers, window: 2 %>
    </th>
  </tr>
  </tfoot>
</table>