<div class="ui segment">
  <div class="content header">
    <h2>Customer. <%= @customer.name %></h2>
	</div>
  <h5 class="ui dividing header">Email</h5>
  <p><%= @customer.email %></p>
  <h5 class="ui dividing header">Phone</h5>
  <p><%= @customer.phone %></p>
  <h5 class="ui dividing header">Registeret</h5>
  <p><%= l @customer.created_at, format: :short_time %></p>
</div>
