<%= form_for [:staff, @blog], html: {class: 'ui form segment', multipart: true } do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :summary %>
    <%= f.text_area :summary %>
  </div>

  <div class="field">
    <%= f.label :meta_description %>
    <%= f.text_area :meta_description %>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>

    <% if @blog.image? %>
      <p>Thumb:</p> <%= image_tag @blog.image_url(:avatar) %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <div class="field">
    <div class="ui checkbox">
      <%= f.check_box :published %>
      <%= f.label :published %>
    </div>
  </div>

  <div class="field">
    <%= f.submit 'Save', class: 'ui green submit button' %>
    <%= link_to 'Cancel', staff_blogs_path, class: 'ui blue submit button' %>
  </div>
<% end %>