<% content_for :statistics do %>
  <h4 class="stat"><em>Total Blogs: <span><%= @blogs.count %></span></em></h4>
<% end %>

<div class="content header">
  <%= link_to '<i class="add icon"></i> Write blog'.html_safe, new_staff_blog_path, class: 'ui small green labeled icon button pull-right' %>
	<h2>Blogs</h2>
</div>
<table class="ui table segment">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Last updated</th>
      <th>Created</th>
      <th>Published</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @blogs.each do |blog| %>
    <tr>
      <td><%= blog.title %></td>
      <td><%= blog.staff.name %></td>
      <td><%= blog.created_at.to_formatted_s(:short) %></td>
      <td><%= blog.updated_at.to_formatted_s(:short) %></td>
      <td class="<%= blog.published ? 'positive' : 'warning' %>"><%= blog.published ? 'Yes' : 'No' %></td>
      <td>
        <%= link_to '<i class="trash icon"></i> X'.html_safe, staff_blog_path(blog), class: 'ui icon button tiny labeled red pull-right', confirm: 'Are you sure?', method: :delete  %>
        <%= link_to '<i class="edit icon"></i> Edit'.html_safe, edit_staff_blog_path(blog), class: 'ui icon button tiny labeled blue pull-right'%>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>