.bullet-chooser {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 100px;
  height: 25px;
  li {
    display: inline-block;
    a {
      color: #999;
      text-shadow: 0 0 1px 0 #222;
      font-size: 22px;
      text-decoration: none;
      &.active {
        color: #8C489F;
      }
      &:hover {
        text-decoration: none;
        color: #888;
      }
    }
  }
}