.company-box {
  border-radius: 7px;
  background-color: #FFF;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  font-size: 13px;
  float: left;
  height: 300px;
  position: relative;
  width: 100%;

  .logo {
    border-radius: 5px;
    width: 173px;
    height: 160px;
    margin: 10px;
    float: left;
  }
  .title {
    float: left;
    font-size: 16px;
    text-align: center;
    font-weight: 200;
    margin: 4px 0 ;
    width: 100%;
  }
  .city {
    float: left;
    font-size: 14px;
    width: 100%;
    margin: 3px 0;
    text-align: center;
    color: #888;
  }

  .button {
    position: absolute;
    width: 153px;
    left: 10px;
    bottom: 10px;
    text-align: center;
  }

  a:hover {
    color: #888;
    background-color: #dfdfdf;
  }
}


