.dimmable {
  position: relative;

  .dimmer {
    display: none;
    position: absolute;
    top: 0 !important;
    left: 0 !important;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.85);
    z-index: 10;

    &.center-focus {
      width: 400px;
      height: 300px;
      top: 20% !important;
      left: 50% !important;
      margin-left: -200px;
      border-radius: 20px;
      box-shadow: 0 2px 10px rgba(0,0,0, 0.3);

      .content {
        position: relative;
        top: 50%;
        transform: translateY(-65%);
      }
    }

    > div {
      width: 100%;
      display: table;
      text-align: center;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      transform: translateY(-100%);
    }

    font-size: 16px;
    color: #888;

    > .success {
      display: none;
    }
  }
}