.heart-rating {
  font-size: 18px;

  .wrapper {
    position: relative;
    height: 20px;
    width: 110px;
    margin: 0 auto;
  }

  .heart-wrapper {
    width: 110px;
    text-align: left
  }

  .fill-in, .base {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
  }

  .fill-in {
    overflow: hidden;
  }

  &.huge {
    .wrapper {
      width: 192px;
      height: 30px;
    }

    .heart-wrapper {
      width: 192px;
    }
  }

  &.center {
    margin: 0 auto;
  }
}