
.how-to {
  padding: 20px 10px;
  .number {
    color: #999;
    width: 25%;
    height: 50px;
    float: left;

  }
  .description {
    color: #777;
    font-weight: 200;
    line-height: 18px;
    font-size: 16px;
    margin-top: 5px;
    vertical-align: middle;
    width: 75%;
    float: left;
    height: 45px;
    padding-top:7px;
  }

}
