.modal {
  display: none;
  position: fixed;
  top: 35%;
  left: 50%;
  z-index: 50;
  background: white;
  margin: 20px;
  padding: 20px;

  box-shadow: 0 0 40px 10px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 0 40px 10px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 0 40px 10px rgba(0,0,0,0.2);

  &.small {
    width: 400px;
    margin-left: -220px;
  }

  &.medium {
    width: 600px;
    margin-left: -320px;
  }
}

.shade {
  display: none;
  background: rgba(0, 0, 0, .2);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
}