.progress-bar {
  height: 20px;
  position: relative;
  background: #FFF;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  padding: 10px;
  -webkit-box-shadow: inset 0 -1px 1px rgba(0,0,0,0.3);
  -moz-box-shadow   : inset 0 -1px 1px rgba(0,0,0,0.3);
  box-shadow        : inset 0 -1px 1px rgba(0,0,0,0.3);

  > .bar {
    display: block;
    height: 100%;
    background-color: blue;
    position: relative;
    overflow: hidden;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.3);
    -moz-box-shadow   : inset 0 1px 1px rgba(0,0,0,0.3);
    box-shadow        : inset 0 1px 1px rgba(0,0,0,0.3);
  }

  &.complete > .bar {
    @include background-image(linear-gradient(#79C75F, #54A13A));
  }
}
