.segment {
  color: #222;
  font-size: 13px;
  text-shadow: 1px 1px 0px #fff;
  background: #e9e9e9;
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: inset 0 1px 2px #FFF;
  padding: 20px;
  margin-bottom: 20px;
  border: #ccc 1px solid;


  &.gray {
    background-color: #f2f2f2;
  }

  &.darkgray {
    background-color: #3f3f3f;
  }

  &.attached {
    &.top { margin-bottom: -5px; }
    &.bottom { margin-top: -5px; }
  }
}
