.splitter {
  color: #2e7bd1;
  font-size: 22px;
  border-bottom: 1px solid #d2d2d2;
  font-weight: 900;
  box-shadow: 0px -2px 5px 0px rgba(50, 50, 50, 0.2);

  .grid_16 {
    padding: 0;
  }

  [class^=grid_] {
    position: relative;
  }

  &.white {
    background: #fff;
  }

  &.no-top {
    box-shadow: none;
  }
}

.arrow {
  display: block;
  position: absolute;
  top: 29px;
  left: 60px;
  left: calc(50% - 12px);
  text-shadow: 0 2px 1px #d2d2d2;
  color: #FFF;
  font-size: 30px;
}