.window {
  min-height: 580px;
  position: relative;
  width: 100%;
  padding-top: 20px;

  &.sign-up {

    .background {
      background: image_url('background/woman_and_child_feeding_swans.jpg') no-repeat center;
      height: 600px;
      width: 100%;
      position: absolute;
      background-size: cover;
      margin-top: -30px;
      border-top: 1px solid #000;
      z-index: -1;
    }
    .overlay {
      width: 100%;
      height: 600px;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      @include background-image(linear-gradient(rgba(0,0,0,0.2), rgba(255,255,255,1)));
      z-index: 0;
      margin-top: -29px;
    }
    .content {
      padding-top: 10px;
      position: relative;
      z-index: 0;
    }
  }

  .background {
    background: image_url('background/window_massage_image.jpg') no-repeat top center;
    background-size: cover;
    height: 600px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
  }

  .color-overlay {
    width: 100%;
    height: 600px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    @include background-image(linear-gradient(transparent, rgba(0,0,0,0.3)));
  }

  .content {
    padding-top: 150px;
    position: relative;
    z-index: 0;
  }
}