<div id="wrapper" {{bind-attr class="isFrontpage:frontpage"}}>

  {{ outlet 'beforeContent' }}

  {{#if isDemoEnv}}
    <div class="ui green message float text-center"><i class="close icon"></i><p class="header">{{t 'demo.welcome'}}</p></div>
  {{/if}}

  {{#if isDemoEnv}}
    <div class="ui bottom attached yellow message text-center" style="margin-bottom: 0"><p><a class="blue" href="http://sanatid.dk">{{t 'demo.return'}}</a></div>
  {{/if}}

  {{ outlet }}

  <div class="footer-push"></div>
</div>
<footer class="light-purple bg">
  <div class="container padding-y-25">
	  <div class="grid-4 push-2">
		  <h5 class="small thin">Læs mere</h5>
		  <ul>
			  <li>{{#link-to 'home.blog'}}Blog{{/link-to}}</li>
        <li>{{#link-to 'home.employees'}}Medarbejdere{{/link-to}}</li>
			  <li><a href="#">Find massage</a></li>
        <li>{{#link-to 'home.wiki.service_field' 'massage'}}Læs om massage{{/link-to}}</li>
		  </ul>
	  </div>
    <div class="grid-4 push-2">
      <h5 class="small thin">Rene linjer</h5>
      <ul>
			  {{#each pages}}
          <li>{{#link-to 'home.pages.show' this.slug}}{{title}}{{/link-to}}</li>
			  {{/each}}
      </ul>
    </div>
    <div class="grid-5 push-2">
      <h5 class="small thin">For massageklinikker</h5>
      <ul>
        <li>{{#link-to 'home.products'}}Tilmeld din klinik{{/link-to}}</li>
        <li>{{#link-to 'home.login'}}Kontrolpanel{{/link-to}}</li>
      </ul>
    </div>

    <div class="grid-6 push-2 text-right">
      <h5 class="small fat">Sanatid.dk</h5>
      <ul>
			  <li><strong>Brug for hjælp?</strong></li>
        <li>Skriv til os på</li>
        <li><a href="mailto:kontakt@sanatid.dk" class="big light-green no-margin">kontakt@sanatid.dk</a></li>
      </ul>
    </div>
  </div>
	<div class="extra purple bg">
    <div class="container padding-y-25">
      <p class="text-center white big thin">Copyright © 2014 Sanatid.dk • Bakkegade 1B, 3300 Frederiksværk • CVR: 35660097 • Tlf. 53 61 73 31 • kontakt@sanatid.dk</p>
    </div>
	</div>
</footer>

<div class="site-navigation dark-purple bg">
  <ul class="nav top">
    <li><i class="fa fa-home"></i></li>
    <li><i class="fa fa-question-circle"></i></li>
    <li><i class="fa fa-envelope-square"></i></li>
    <li><i class="fa fa-info-circle"></i></li>
  </ul>

  <ul class="nav bottom">
    <li><i class="fa fa-comments-o"></i></li>
    <li><i class="fa fa-dashboard"></i></li>
  </ul>
</div>