<div class="ui grid">
  <div class="five wide column" style="min-height: 500px; width: 335px;">
    <div class="panel-menu blue-gradient inverted">
        <ul>
          <li>{{#link-to 'customer_panel.index'}}<i class="list layout icon"></i>{{t 'customer_panel.dashboard.title'}}{{/link-to}}</li>
          <li>{{#link-to 'customer_panel.jobs.index'}}<i class="briefcase icon"></i>{{t 'customer_panel.jobs.title'}}{{/link-to}}</li>
          <li>{{#link-to 'customer_panel.accepted_jobs'}}<i class="checked checkbox icon"></i>{{t 'customer_panel.accepted_jobs.title'}} {{/link-to}}</li>
          <div class="splitter"></div>
          <li>{{#link-to 'home.jobs.new'}}<i class="add sign box icon"></i>Opret ny opgave{{/link-to}}</li>
          <div class="splitter"></div>
          <li>{{#link-to 'customer_panel.settings'}}<i class="setting icon"></i>{{t 'customer_panel.settings.title'}} {{/link-to}}</li>
        </ul>
    </div>
  </div>
  <div class="eleven wide column" style="padding-right: 0;">
	  {{outlet}}
  </div>


<div class="ui large undecided-clip modal">
  <i class="close icon"></i>
  <div class="header">
    <i class="calendar icon"></i>Følgende praksisser har registreret dit besøg:
  </div>
  <div class="content dimmable">
    {{partial "partials/dimmer_loaders"}}

    {{#if reviewSuccess}}
      <div class="ui green message success">
        <i class="close icon"></i>
        <p>{{t 'some shit about success here'}}</p>
      </div>
    {{/if}}

    {{#if supportTicket}}
      <div class="ui form">
        <h2>Indsend klage</h2>
        <p>Mindes du ikke at have besøgt pågældene praksis omkring nævntet tidsrum? Eller mener du at du er blevet snydt?<br>
        Så bedes du beskrive din situation, og trykke på send knappen, så tager vi kontakt til dig, på din email/telefon som er knyttet til din profil</p>

        <div class="field text-center">
          {{textarea value=supportTicket.message placeholderTranslation="home.contact.message"}}
          {{#if supportTicketValidated}}
            {{#if supportTicket.errors.message}}
              <div class="ui red pointing above ui label fluid">
                {{#each supportTicket.errors.message}}
                  <p>{{this}}</p>
                {{/each}}
              </div>
            {{/if}}
          {{/if}}
        </div>
        <div class="field pulled-right">
          <input type="submit" class="ui tiny button" value="Fortryd" {{action "cancelTicketOrReview"}}>
          <input type="submit" class="ui tiny button green" value="Send" {{action "submitTicket"}}>
        </div>
      </div>
    {{else}}
      {{#if showReview}}
        <div class="ui form">
          <h2>Skriv en anmeldelse af dit besøg hos {{review.company.companyName}}</h2>
          <p>Hjælp andre brugere med at vælge deres praksis, og kom med feedback til {{review.company.companyName}}.</p>

          {{#if reviewValidated}}
            {{#if review.errors.rating}}
              <div class="ui red pointing below fluid ui label text-center"><p>{{review.errors.rating}}</p></div>
            {{/if}}
          {{/if}}
          <div class="field text-center">
            <div class="ui huge heart rating">
              <i class="icon"></i>
              <i class="icon"></i>
              <i class="icon"></i>
              <i class="icon"></i>
              <i class="icon"></i>
            </div>
            {{textarea value=review.content placeholderTranslation="customer_panel.undecided_clip_modal.review.review"}}
            {{#if reviewValidated}}
              {{#if review.errors.content}}
                <div class="ui red pointing above ui label fluid">
                  <p>{{review.errors.content}}</p>
                </div>
              {{/if}}
            {{/if}}
          </div>
          <div class="field pulled-right">
            <input type="submit" class="ui tiny button" value="Nej tak" {{action "cancelTicketOrReview"}}>
            <input type="submit" class="ui tiny button green" value="Send" {{action "submitReview"}}>
          </div>
        </div>
      {{else}}
        {{#each vouchers}}
          {{#each clips}}
            {{#if isUndecided}}
              <div class="sanatid ui segment">
                <table class="ui table segment compressed">
                  <thead>
                  <tr>
                    <th class="seven wide"></th>
                    <th class="three wide"></th>
                    <th class="six wide"></th>
                  </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Du har været besøg hos <strong>{{voucher.company.companyName}}</strong></td>
                      <td><h3 class="pulled-right">{{dateFormat createdAt 'calendar'}}</h3></td>
                      <td>
	                      <div class="field pulled-right">
                          <a class="ui tiny button green" {{action "acceptClip" this}}>Bekræft</a>
                          <a class="ui tiny button red" {{action "declineClip" this}}>Stemmer ikke</a>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            {{/if}}
          {{/each}}
        {{/each}}
      {{/if}}
    {{/if}}
  </div>
</div>

