{{#if view.visible}}
  <div class="ui medium right fixed-box blue segment dimmable">
    {{partial "partials/dimmer_loaders"}}
    <i class="big remove circle icon close" {{action "toggle" target="view"}}></i>
    <p>Har du fundet en fejl, eller har du brug for hjælp?
    Så udfyld felterne, så ser vi på sagen.</p>

    <form class="ui form">
      <div class="ui icon input field text-center">
        {{#if app.currentUser}}
          <input id="contact_name" type="text" value="{{unbound app.currentUser.name}}">
        {{else}}
          {{input type='text' value=name placeholderTranslation="home.contact.name" }}
        {{/if}}
        <i class="edit icon"></i>
        {{#if validated}}
          {{#if errors.name}}
            <div class="ui red pointing above ui label fluent"><p>{{errors.name}}</p></div>
          {{/if}}
        {{/if}}
      </div>

      <div class="ui icon input field text-center">
        {{#if app.currentUser}}
          <input id="contact_email" type="text" value="{{unbound app.currentUser.email}}">
        {{else}}
          {{input type='text' value=email placeholderTranslation="home.contact.email"}}
        {{/if}}
        <i class="mail outline icon"></i>
        {{#if validated}}
          {{#if errors.email}}
            <div class="ui red pointing above ui label fluent">
              {{#each errors.email}}
                <p>{{this}}</p>
              {{/each}}
            </div>
          {{/if}}
        {{/if}}
      </div>

      <div class="field">
        <div class="ui fluid selection dropdown">
          <input id="contact-subject" type="hidden">
          <div class="text">{{t home.contact.subject}}</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            {{#each subjects}}
              <div class="item" {{action "changeSubject" this}} {{bind-attr data-value=this}}>{{this}}</div>
            {{/each}}
          </div>
        </div>
        {{#if validated}}
          {{#if errors.subject}}
            <div class="ui red pointing left ui label"><p>{{errors.subject}}</p></div>
          {{/if}}
        {{/if}}
      </div>

      <div class="field text-center">
        {{textarea value=message placeholderTranslation="home.contact.message"}}
        {{#if validated}}
          {{#if errors.message}}
            <div class="ui red pointing above ui label fluent">
              {{#each errors.message}}
                <p>{{this}}</p>
              {{/each}}
            </div>
          {{/if}}
        {{/if}}
      </div>

      <input type="submit" {{translateAttr value="home.contact.send"}} class="ui success submit button" {{action "postSubmission"}}>
    </form>
  </div>

{{else}}
  <div class="right fixed-box text-center feedback trigger" {{action "toggle" target="view"}}>
    <div class="ui green large circular left labeled icon button">
      <i class="left inverted comment icon"></i>
      Feedback?
    </div>
  </div>
{{/if}}
