<section class="darkblue bg">
  <header>
    <div class="logo darkblue bg">
      <div class="white text">
        Sanatid
        <div class="callout">Sundhed og velvære på dine vilkår</div>
      </div>
      <div class="hearts">
        <i class="big empty heart icon white text"></i>
        <i class="small heart icon lightred text"></i>
      </div>
    </div>
    <nav>
      <ul>
        <li><a href="#"><i class="home icon"></i></a></li>
        <li><a href="#">Find praksisser</a></li>
        <li><a href="#">Hvordan virker det?</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Kontakt</a></li>
        <li class="lightgreen bg with shadow"><a href="#" class="black text bold">Log ind</a></li>
        <li class="yellow bg with shadow"><a href="#" class="black text bold">For praksisser</a></li>
      </ul>
    </nav>
  </header>
</section>
<section class="blue bg">
  <div class="slider">
    <i class="arrow left icon darkblue bg"></i>
    <i class="arrow right icon darkblue bg"></i>
    <div class="container">
      <h1 class="center white text">Få <span class="callout yellow text">gratis og uforpligtende</span> 3 tilbud</h1>
      <h2 class="center white text">Beskriv din situation og indhent 3 tilbud fra praksisser nær dig.</h2>
      <a href="#" class="center button big lightred bg with shadow"><div class="center white text">Få gratis 3 tilbud</div></a>
    </div>
  </div>
</section>
<section class="lightblue bg">
  <div class="how-to box big">
    <div class="container">
      <div class="four columns">
        <div class="bottom stop gradient overlay"></div>
        <div class="column lightblue bg">
          <h4 class="black center text">Beskriv din situation</h4>
          <div class="splitter darkblue bg"></div>
          <i class="huge edit icon darkblue text"></i>
          <div class="callout">Du kan sikkert og trygt beskrive din situation og hvad du har brug for.</div>
          <div class="guide arrow next yellow text">
            <i class="arrow right icon darkblue text"></i>
          </div>
        </div>
        <div class="column lightblue bg">
          <h4 class="black center text">Skriv med praksisser</h4>
          <div class="splitter darkblue bg"></div>
          <i class="huge comment outline icon lightbrown text"></i>
          <i class="flipped big three comment icon lightbrown text"></i>
          <div class="callout">Praksisser kan stille spørgsmål til opgaven for at kunne give et passende tilbud.</div>
          <div class="guide arrow next yellow text">
            <i class="arrow right icon darkblue text"></i>
          </div>
        </div>
        <div class="column lightblue bg">
          <h4 class="black center text">Modtag 3 tilbud</h4>
          <div class="splitter darkblue bg"></div>
          <i class="huge empty heart icon lightred text"></i>
          <i class="big one heart icon lightred text"></i>
          <i class="big two heart icon lightred text"></i>
          <div class="callout">Praksisser nær dig byder samlet ind med 3 uforpligtende tilbud til dig.</div>
          <div class="guide arrow next yellow text">
            <i class="arrow right icon darkblue text"></i>
          </div>
        </div>
        <div class="column lightblue bg">
          <h4 class="black center text">Aftal sammen en tid</h4>
          <div class="splitter darkblue bg"></div>
          <i class="huge calendar icon lightgreen text"></i>
          <div class="callout">Du vælger den praksis og det tilbud der tiltaler dig mest, og i aftaler sammen en tid.</div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="find companies">
  <div class="splitter darkblue bg">
    <div class="container">

    </div>
  </div>
</section>
<section class="promotion rows lightblue bg">
  <div class="splitter darkblue bg"></div>
  <div class="container">
    <h3 class="black text no bottom margin">Udvalgte praksisser</h3>
    <h5 class="black text">Vi har udvalgt praksisser i nærheden af dig, læs mere om hvad de tilbyder på deres profilside.</h5>
    <div class="promotion">
      <div class="banner darkblue bg"></div>
      <div class="name lightbrown bg"></div>
      <div class="ratings lightgreen bg"></div>
      <div class="logo turquoise bg"></div>
      <div class="quote lightred bg"></div>
    </div>
    <div class="promotion">
      <div class="banner darkblue bg"></div>
      <div class="name lightbrown bg"></div>
      <div class="ratings lightgreen bg"></div>
      <div class="logo turquoise bg"></div>
      <div class="quote lightred bg"></div>
    </div>
    <div class="promotion">
      <div class="banner darkblue bg"></div>
      <div class="name lightbrown bg"></div>
      <div class="ratings lightgreen bg"></div>
      <div class="logo turquoise bg"></div>
      <div class="quote lightred bg"></div>
    </div>
    <div class="promotion">
      <div class="banner darkblue bg"></div>
      <div class="name lightbrown bg"></div>
      <div class="ratings lightgreen bg"></div>
      <div class="logo turquoise bg"></div>
      <div class="quote lightred bg"></div>
    </div>
    <div class="promotion">
      <div class="banner darkblue bg"></div>
      <div class="name lightbrown bg"></div>
      <div class="ratings lightgreen bg"></div>
      <div class="logo turquoise bg"></div>
      <div class="quote lightred bg"></div>
    </div>
    <div class="promotion">
      <div class="banner darkblue bg"></div>
      <div class="name lightbrown bg"></div>
      <div class="ratings lightgreen bg"></div>
      <div class="logo turquoise bg"></div>
      <div class="quote lightred bg"></div>
    </div>
    <div class="promotion">
      <div class="banner darkblue bg"></div>
      <div class="name lightbrown bg"></div>
      <div class="ratings lightgreen bg"></div>
      <div class="logo turquoise bg"></div>
      <div class="quote lightred bg"></div>
    </div>
    <div class="promotion">
      <div class="banner darkblue bg"></div>
      <div class="name lightbrown bg"></div>
      <div class="ratings lightgreen bg"></div>
      <div class="logo turquoise bg"></div>
      <div class="quote lightred bg"></div>
    </div>
    <div class="promotion">
      <div class="banner darkblue bg"></div>
      <div class="name lightbrown bg"></div>
      <div class="ratings lightgreen bg"></div>
      <div class="logo turquoise bg"></div>
      <div class="quote lightred bg"></div>
    </div>
    <div class="promotion">
      <div class="banner darkblue bg"></div>
      <div class="name lightbrown bg"></div>
      <div class="ratings lightgreen bg"></div>
      <div class="logo turquoise bg"></div>
      <div class="quote lightred bg"></div>
    </div>
    <div class="promotion">
      <div class="banner darkblue bg"></div>
      <div class="name lightbrown bg"></div>
      <div class="ratings lightgreen bg"></div>
      <div class="logo turquoise bg"></div>
      <div class="quote lightred bg"></div>
    </div>
    <div class="promotion">
      <div class="banner darkblue bg"></div>
      <div class="name lightbrown bg"></div>
      <div class="ratings lightgreen bg"></div>
      <div class="logo turquoise bg"></div>
      <div class="quote lightred bg"></div>
    </div>
    <div class="promotion">
      <div class="banner darkblue bg"></div>
      <div class="name lightbrown bg"></div>
      <div class="ratings lightgreen bg"></div>
      <div class="logo turquoise bg"></div>
      <div class="quote lightred bg"></div>
    </div>
    <div class="promotion">
      <div class="banner darkblue bg"></div>
      <div class="name lightbrown bg"></div>
      <div class="ratings lightgreen bg"></div>
      <div class="logo turquoise bg"></div>
      <div class="quote lightred bg"></div>
    </div>
    <div class="promotion">
      <div class="banner darkblue bg"></div>
      <div class="name lightbrown bg"></div>
      <div class="ratings lightgreen bg"></div>
      <div class="logo turquoise bg"></div>
      <div class="quote lightred bg"></div>
    </div>
  </div>
</section>
<section class="find companies">
  <div class="splitter darkblue bg">
    <div class="container">

    </div>
  </div>
</section>
<section class="landing pages lightblue bg">
  <div class="splitter darkblue bg"></div>
  <div class="container">
    <h3 class="black text no bottom margin">Find information om coaching, massage og terapi</h3>
    <h5 class="black text">Vi har skrevet nogle nyttige artikler om de ydelser vores praksisser leverer, skulle du være i tvivl om hvad du har brug for.</h5>
    <div class="category">
      <a class="main" href="#">Coaching</a>
      <a href="#">NLP coaching</a>
      <a href="#">ADHD coaching</a>
      <a href="#">Teamcoaching</a>
      <a href="#">Livscoaching</a>
      <a href="#">Sportscoaching</a>
      <a href="#">Stresscoaching</a>
      <a href="#">Business coaching</a>
    </div>
    <div class="category">
      <a class="main" href="#">Massage</a>
      <a href="#">Fodmassage</a>
      <a href="#">Sportsmassage</a>
      <a href="#">Rygmassage</a>
      <a href="#">Ansigtsmassage</a>
      <a href="#">Oliemassage</a>
      <a href="#">Thai massage</a>
      <a href="#">Graviditetsmassage</a>
    </div>
    <div class="category">
      <a class="main" href="#">Terapi</a>
      <a href="#">Akupunktur</a>
      <a href="#">Ergoterapi</a>
      <a href="#">Familieterapi</a>
      <a href="#">Parterapi</a>
      <a href="#">Fysioterapi</a>
      <a href="#">Kiropraktisk behandling</a>
      <a href="#">Zoneterapi</a>
    </div>
  </div>
  <div class="splitter darkblue bg"></div>

</section>
<section class="lightblue bg">
  <div class="container">
    <div class="bottom callout">
      <a href="#" class="center button normal lightbrown bg with shadow"><div class="center black text">Tilmeld praksis</div></a>
      <a href="#" class="center button normal lightred bg with shadow"><div class="center black text">Få gratis 3 tilbud</div></a>
      <div class="social">
        <i class="facebook sign icon darkgray text"></i>
        <i class="twitter sign icon darkgray text"></i>
        <i class="google sign plus icon darkgray text"></i>
        <i class="linkedin sign icon darkgray text"></i>
      </div>
    </div>
  </div>
</section>

<section class="lightblue bg">
  <div class="splitter black bg"></div>
  <footer>
    <div class="container">
      HELLO
    </div>
  </footer>
</section>
<section class="copyright darkgray bg">
  <div class="splitter black bg"></div>
  <div class="container">
    <div class="actual">
      f
    </div>
    <div class="go to top center text">
      <i class="arrow up icon"></i>
    </div>
    <div class="about">
      f
    </div>
  </div>
</section>


