<% @staff.errors.messages.each { |e| puts e } if @staff.errors %>

<%= form_for [:staff, @staff], html: {class: 'ui form segment', multipart: true } do |f| %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :job_title %>
    <%= f.text_field :job_title %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>

    <% if @staff.image? %>
      <p>Avatar:</p> <%= image_tag @staff.image_url(:avatar) %>
      <p>Small avatar:</p> <%= image_tag @staff.image_url(:small_avatar) %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="two fields">
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>
  </div>

  <% if current_user.has_role?('administrator') %>
    <div class="field">
      <%= f.label :staff_role_id, 'Role' %>
      <% selected = @staff.staff_role.present? ? @staff.staff_role.id : 0 %>
      <%= f.select :staff_role_id, @roles.collect { |role| [role.name.humanize, role.id] }, selected: selected %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label :twitter %>
    <%= f.text_field :twitter %>
  </div>

  <div class="field">
    <%= f.label :linkedin %>
    <%= f.text_field :linkedin %>
  </div>

  <div class="field">
    <div class="ui checkbox">
      <%= f.check_box :published %>
      <%= f.label :published %>
    </div>
  </div>

  <div class="field">
    <%= f.submit 'Save', class: 'ui green submit button' %>
    <%= link_to 'Cancel', staff_staffs_path, class: 'ui blue submit button' %>
  </div>
<% end %>