<% content_for :statistics do %>
  <h4 class="stat"><em>Total Staff Members: <span><%= @staffs.count %></span></em></h4>
<% end %>
<div class="content header">
  <%= link_to '<i class="add icon"></i> Add staff member'.html_safe, new_staff_staff_path, class: 'ui small green labeled icon button pull-right' %>
	<h2>Staff members</h2>
</div>

<table class="ui table segment">
  <thead>
    <tr>
      <th>Name</th>
      <th>Job title</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Published</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @staffs.each do |staff| %>
    <tr>
      <td><strong><%= staff.name %></strong></td>
      <td><%= staff.job_title %></td>
      <td><%= staff.email %></td>
      <td><%= staff.phone %></td>
      <td class="<%= staff.published ? 'positive' : 'warning' %>"><%= staff.published ? 'Yes' : 'No' %></td>
      <td>
        <%= link_to '<i class="trash icon"></i> X'.html_safe, staff_staff_path(staff), class: 'ui icon button tiny labeled red pull-right', confirm: 'Are you sure?', method: :delete  %>
        <%= link_to '<i class="edit icon"></i> Edit'.html_safe, edit_staff_staff_path(staff), class: 'ui icon button tiny labeled blue pull-right'%>

        <%= link_to '<i class="unhide icon"></i> View details'.html_safe, staff_staff_path(staff), class: 'ui icon button tiny labeled green pull-right', style: 'margin-top: 5px; width: 197px'%>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>