<div class="content header">
  <h1>Details for <%= @staff.name %></h1>
</div>
<% if @staff.image? %>
  <%= image_tag @staff.image_url(:avatar) %>
<% end %>

<div class="ui divided list">
  <span class="item">
    <div class="ui blue horizontal label">Job title</div>
    <%= @staff.job_title %>
  </span>

  <div class="item">
    <div class="ui blue horizontal label">Description</div>
    <%= @staff.description %>
  </div>

  <div class="item">
    <div class="ui blue horizontal label">Email</div>
    <%= @staff.email %>
  </div>

  <div class="item">
    <div class="ui blue horizontal label">phone</div>
    <%= @staff.phone %>
  </div>

  <div class="item">
    <div class="ui blue horizontal label">published</div>
    <%= @staff.published ? 'Yes' : 'No' %>
  </div>

  <div class="item">
    <div class="ui blue horizontal label">twitter</div>
    <%= @staff.twitter %>
  </div>

  <div class="item">
    <div class="ui blue horizontal label">linkedin</div>
    <%= @staff.linkedin %>
  </div>
</div>