<%# Replace Tokens %>
<% @email.title.gsub!('{{customer-name}}', @customer.name) if @customer%>
<% @email.content.gsub!('{{company-name}}', @company.company_name) if @company %>
<% @email.content.gsub!('{{clip-date}}', l(@clip.created_at, format: :short_time)) if @clip %>

<h1><%= @email.title %></h1>
<%= @email.content.html_safe %>

