<%# Replace Tokens %>
<%  if @commission_line %>
  <% @email.content.gsub! '{{company-name}}', @commission_line.company.company_name %>
  <% @email.content.gsub! '{{month}}', Date::MONTHNAMES[@commission_line.month] %>
  <% @email.content.gsub! '{{year}}', @commission_line.year.to_s %>
  <% @email.content.gsub! '{{amount}}', @commission_line.amount.to_s %>
<% end %>

<h1><%= @email.title %></h1>
<%= @email.content.html_safe %>