<%# Replace Tokens %>
<% @email.content.gsub!('{{company-name}}', @booking.company.company_name) if @booking.company.company_name %>
<% @email.content.gsub!('{{company-phone}}', @booking.company.phone.to_s) if @booking.company.phone %>
<% @email.content.gsub!('{{customer-name}}', @booking.name) if @booking.name %>
<% @email.content.gsub!('{{starts-at}}', l(@booking.starts_at, format: :short) ) if @booking.starts_at %>
<% @email.content.gsub!('{{menu-item-name}}', @booking.menu_item.name) if @booking.menu_item.name %>
<% @email.content.gsub!('{{menu-item-price}}', @booking.menu_item.price.to_s) if @booking.menu_item.price %>
<% @email.content.gsub!('{{menu-item-duration}}', @booking.menu_item.duration.to_s) if @booking.menu_item.duration %>

<%# Content %>
<%= @email.content.html_safe %>
