<%# Replace Tokens %>
<% if @message %>
  <% @email.content.gsub! '{{order-id}}', @message.job.to_s %>
  <% @email.content.gsub! '{{customer-name}}', @message.recipient.name %>
  <% @email.content.gsub! '{{dispatcher-company-name}}', @message.dispatcher.company_name %>
  <% @email.content.gsub! '{{date}}', l(@message.created_at, format: :short_time) %>
  <% @email.content.gsub! '{{job-link}}', "http://sanatid.dk/panel/customer/accepted/#{@message.job.id}" %>
<% end %>

<h1><%= @email.title %></h1>
<%= @email.content.html_safe %>