<%# Replace Tokens %>
<% @email.content.gsub!('{{company-name}}', @review.company.company_name) if @review %>
<% @email.content.gsub! '{{review-link-url}}', "http://sanatid.dk/#{@review.company.slug}/reviews" if @review %>

<h1><%= @email.title %></h1>
<%= @email.content.html_safe %>
