<%# Replace Tokens %>
<% @email.content.gsub! '{{staff-name}}', @reminder.staff.name if @reminder %>
<% @email.content.gsub! '{{reminder-date}}', l(@reminder.date, format: :short_time) if @reminder %>
<% @email.content.gsub! '{{lead-url}}', "http://staff.sanatid.dk/leads/#{@reminder.lead.id}" if @reminder %>
<% @email.content.gsub! '{{lead-company-name}}', @reminder.lead.company_name if @reminder %>
<% @email.content.gsub! '{{reminder-comment}}', @reminder.comment if @reminder%>

<h1><%= @email.title %></h1>
<%= @email.content.html_safe %>
