<%# Replace Tokens %>
<% @email.content.gsub!('{{user-name}}', @user.name) if @user %>
<% @email.content.gsub!('{{password}}', @password) if @password %>

<h1><%= @email.title %></h1>
<%= @email.content.html_safe %>
