<%# Replace Tokens %>
<% @email.content.gsub!('{{lead-company-name}}', @lead.company_name) if @lead.company_name %>
<% @email.content.gsub!('{{staff-name}}', @staff.name) if @staff.name %>
<% @email.content.gsub!('{{staff-email}}', @staff.email) if @staff.email %>

<h1><%= @email.title %></h1>
<%= @email.content.html_safe %>
