<%# Replace Tokens %>
<% @email.title.gsub!('{{company-name}}', @invoice.company.name) if @invoice %>
<% @email.content.gsub!('{{company-name}}', @invoice.company.name) if @invoice %>
<% @email.content.gsub!('{{start-date}}', l(@invoice.start_date, format: :short)) if @invoice %>
<% @email.content.gsub!('{{end-date}}', l(@invoice.end_date, format: :short)) if @invoice %>

<h1><%= @email.title %></h1>
<%= @email.content.html_safe %>
