<%# Replace Tokens %>
<%  if @subscription %>
  <% @email.content.gsub! '{{subscription-name}}', @subscription.item.name %>
  <% @email.content.gsub! '{{renewal-date}}', @subscription.renewed_at.to_s %>
  <% @email.content.gsub! '{{subscription-name}}', @subscription.item.name %>
  <% @email.content.gsub! '{{next-renewal-date}}', l(@subscription.next_renewal_at, format: :short) %>
<% end %>

<h1><%= @email.title %></h1>
<%= @email.content.html_safe %>