<%# Replace Tokens %>
<%  if @subscription %>
  <% @email.title.gsub! '{{subscription-name}}', @subscription.item.name %>
  <% @email.content.gsub! '{{subscription-name}}', @subscription.item.name %>
  <% @email.content.gsub! '{{expire-date}}', l(@subscription.expires_at, format: :short) %>
  <% @email.content.gsub! '{{company-name}}', @subscription.company.company_name %>
<% end %>

<h1><%= @email.title %></h1>
<%= @email.content.html_safe %>