<%# Replace Tokens %>
<% @email.title.gsub!('{{customer-name}}', @customer.name) if @customer %>
<% @email.content.gsub!('{{customer-name}}', @customer.name) if @customer %>

<h1><%= @email.title %></h1>
<%= @email.content.html_safe %>
