<%# Replace Tokens %>
<% @email.content.gsub!('{{company-name}}', @company.name) if @company %>
<% @email.content.gsub!('{{email}}', @company.email) if @company %>
<% @email.content.gsub!('{{password}}', @password) if @password %>

<h1><%= @email.title %></h1>
<%= @email.content.html_safe %>
