<div class="panel-title">
{{#if openJobs}}
  <i class="briefcase icon"></i>{{t 'customer_panel.dashboard.openJobsTitle'}}
{{else}}
  <div class="ui header no-margin center aligned">{{t 'customer_panel.dashboard.noOpenJobsTitle' tagName="h2"}}</div>
  {{#link-to 'home.jobs.new' class="ui button green no-margin center aligned"}}{{t 'customer_panel.dashboard.newJobButton'}}{{/link-to}}
{{/if}}
</div>

{{#each openJobs}}
  <div class="ui horizontal divider">
    <i class="empty heart icon"></i>
  </div>
  <div class="ui top attached button">
	  <h3 class="ui left aligned header"> {{ serviceField.name }}</h3>
  </div>
	<div class="ui attached stacked segment single-job">
    <div class="ui circular segment job-offer">
      <header>
        <h3 class="ui header">{{t 'customer_panel.dashboard.jobOfferTitle'}}</h3>
      </header>
      <div class="content">
	      {{offerCount}}/3
      </div>
      <footer>
        <h3 class="ui header">{{t 'customer_panel.dashboard.jobOffer'}}</h3>
      </footer>
    </div>
			<h2 class="ui header no-top-margin">
		  {{#each services}}
        <div class="ui blue label">{{name}}</div>
		  {{/each}}
      </h2>
      <h2 class="ui header">{{t 'customer_panel.dashboard.jobDescriptionTitle'}}</h2>
    <div class="ui grid">
      <div class="twelve wide column without margin">
        <p class="without margin">{{description}}</p>
      </div>
    </div>
    {{#if gotUnansweredQuestion}}
      <div class="ui message warning">
        <i class="attention icon"></i>
        Du har ubesvaret spørgsmål til denne opgave.
      </div>
    {{/if}}
  </div>
  {{#link-to 'customer_panel.jobs.show' this.id classNames="ui bottom attached green button"}}{{t 'customer_panel.dashboard.showJobButton'}}{{/link-to}}
{{/each}}
