<nav>
  <ul>
    <li>{{#link-to 'customer_panel'}}{{name}}{{/link-to}}</li>
    <li>{{#link-to 'home.guides'}}<i class="help icon"></i>F.A.Q.{{/link-to}}</li>
    <li><a href="" class="logout" {{action 'logout'}}><i class="red remove icon"></i>Log ud</a></li>
  </ul>
</nav>