<div class="ui blue message">
	{{t 'customer_panel.settings.description'}}
</div>
<form class="ui form dimmable">
  {{partial "partials/dimmer_loaders"}}

	<div class="ui two column grid">
		<div class="column" style="margin-top: 1rem;">
      <div class="field">
        <label>{{t 'customer_panel.settings.name'}}</label>
				{{input type="text" value=name}}
      </div>
      <div class="field">
        <label>{{t 'customer_panel.settings.phone'}}</label>
				{{input type="text" value=phone}}
      </div>
		</div>
    <div class="column">
      <div class="field">
        <label>{{t 'customer_panel.settings.email'}}</label>
		    {{input type="text" value=email}}
      </div>
      <div class="field ui segment">
        <div {{action 'subscribeNewsletter'}}>
			    {{#if newsletter}}
            <i class="checked checkbox icon"></i>
			    {{else}}
            <i class="empty checkbox icon"></i>
			    {{/if}}
          <label>{{t 'company_panel.settings.account.newsletterDescription' }}</label>
        </div>
      </div>
    </div>
	</div>
  <div class="two fields">
    <div class="field">
      <label>{{t 'customer_panel.settings.password'}}</label>
      {{input type="password" value=password}}
    </div>
    <div class="field">
      <label>{{t 'customer_panel.settings.passwordAgain'}}</label>
      {{input type="password" value=passwordConfirmation}}
    </div>
  </div>

  <div class="field">
    <button type="submit" class="ui button green" {{action saveAccount}}>{{t 'customer_panel.settings.saveButton'}}</button>
  </div>
</form>