# See http://www.robotstxt.org/wc/norobots.html for documentation on how to use the robots.txt file
#
# To ban all spiders from the entire site uncomment the next two lines:
<% unless Rails.env.production? %>
  User-agent: *
  Disallow: /
<% end %>
Sitemap: http://sanatid.dk/sitemap.xml
