<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#">
<head>
  <title>Sanatid.dk | Find den bedste massage nær dig</title>
  <meta name="description" content="Sanatid.dk">
  <meta name="fragment" content="!">
  <%= stylesheet_link_tag 'application-primary', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body id="page">

  <div id="fb-root"></div>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '454104861357079',
        status     : true,
        xfbml      : true
      });
    };

    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/da_DK/all.js";
    fjs.parentNode.insertBefore(js, fjs);
    })(document, 'script', 'facebook-jssdk');

    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
  </script>

  <%= yield %>


  <script>
    <% if Rails.env.production? %>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-47202356-1', 'auto');
    <% end %>

    // Set env variable for js as well.
    window.env = '<%= Rails.env %>'
  </script>
  <%= javascript_include_tag 'application-primary' %>
  <%#= javascript_include_tag "i18n/#{@current_domain.to_s}.js" %>
</body>
</html>
