<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#">
<head>
  <title>Sanatid.dk</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <style>
		html {
			Margin: 0;
			Padding: 0;
			font-family: Georgia, 'lucida grande',tahoma,verdana,arial,sans-serif;
		}
		a {
			color: #000;
			text-decoration: none;
		}
		h2 {
			margin: 10px 0;
		}
		section {
			margin: 0 auto;
			width: 860px;
			margin-top: 25px;
		}
		header {
			height: 90px;
		}
		header .right {
			float: left;
			width: 400px;
			font-size: 50px;
			color: #4696db;
			text-align: right;
			margin-top: 20px;
		}
		header .left {
			float: left;
			width: 460px;
		}
		address {
			padding-top: 5px;
			padding-left: 10px;
		}
		.company {
			font-size: 13px;
		}
		.upper-section .left {
			width: 660px;
			float: left;
		}
		.upper-section .left span {
			color: #4696db;
			font-size: 18px;
		}
		.upper-section aside {
			width: 200px;
			float: left;
		}
		.upper-section aside .paid {
			font-size: 30px;
			height: 100px;
			padding-top: 130px;
		}
		.upper-section aside .paid span.paid{
			color: green;
		}
		.upper-section aside .paid span.not-paid{
			color: red;
		}
		.upper-section aside .left {
			width: 100px;
			float: left;
		}
		.upper-section aside .right {
			width: 100px;
			float: left;
			text-align: center;
		}
		.upper-section aside .right span {
			background-color: #e9e9e9;
			line-height: 20px;
		}
		table {
			width: 100%;

		}
		thead {
			background-color: #f2f2f2;
			font-weight: 200;
		}
		thead th{
			padding: 5px;
			font-weight: 200;
			font-size: 14px;
			border: 1px solid #c9c9c9;
		}
		td:last-child {
			text-align: right;
		}
		td {
			padding: 5px 0 5px 5px;

		}
		tbody td {
			border: 1px solid #e9e9e9;
		}
		tbody tr:nth-child(1n) td {
			background-color: #f9f9f9;
		}
    tbody tr:nth-child(2n) td {
      background-color: #f1f1f1;
    }
		tfoot td:first-child {
			border-bottom: none;
		}
		tfoot td {
			border-bottom: 1px solid #888888;
		}
		footer {
			font-size: 14px;
			padding: 10px;
			border: 1px solid #c9c9c9;
			background-color: #f9f9f9;
			width: 450px;
			margin-top: 40px;
		}
	  footer p {
		  border-bottom: 1px solid #e1e1e1;
		  line-height: 20px;
	  }
		footer p span{
			font-weight: bold;
		}
	</style>
</head>
<body>
		<%= yield %>
</body>
</html>