<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Sanatid.dk | Tilmelding til nyhedsbrev</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0; background-color: #e9e9e9; font-family: arial; padding: 100px 0 250px;">
  <table align="center" border="0" cellpadding="0" cellspacing="0" width="530" style="border-collapse: collapse; border-style: hidden;">
    <tr style="width: 100%">
      <th border="0" style="width:25%; margin-left: 10px"></th>
      <th border="0" style="width:25%"></th>
      <th border="0" style="width:25%"></th>
      <th border="0" style="width:25%"></th>
    </tr>
    <tr>
      <td align="center" bgcolor="#ffffff" style="height: 115px" colspan="4">
        <%= image_tag 'mail/sanatid_logo.png', width: 530, height: 85, style: 'display:block;' %>
      </td>
    </tr>
    <tr bgcolor="#4696db" style="height: 20px; width: 100%; color: #FFFFFF; text-align: center">
      <td style="padding: 10px 0px">
        <a href="http://sanatid.dk/blog" style="color: #FFFFFF;text-decoration: none;">Blog</a>
      </td>
      <td style="padding: 10px 0px">
        <a href="http://sanatid.dk/wiki/coaching" style="color: #FFFFFF;text-decoration: none;">Coaching</a>
      </td>
      <td style="padding: 10px 0px">
        <a href="http://sanatid.dk/wiki/massage" style="color: #FFFFFF;text-decoration: none;">Massage</a>
      </td>
      <td style="padding: 10px 0px">
        <a href="http://sanatid.dk/wiki/terapi" style="color: #FFFFFF;text-decoration: none;">Terapi</a>
      </td>
    </tr>
    <tr bgcolor="#ffffff">
      <td colspan="4" style="padding: 35px">
        <%= yield %>
      </td>
    </tr>
    <tr>
      <td colspan="2" bgcolor="#78b8f0" style="padding-left: 25px; padding-top: 5px;">
        <a href="https://twitter.com/sanatid" style="text-decoration: none;">
          <%= image_tag 'mail/icon-twitter-white.png', width: 40, height: 40, style: 'display: inline-block; margin-left: 10px;'%>
        </a>
        <a href="https://www.facebook.com/sanatiddk" style="text-decoration: none;">
          <%= image_tag 'mail/icon-facebook-white.png', width: 40, height: 40, style: 'display: inline-block; margin-left: 10px;'%>
        </a>
        <a href="http://www.linkedin.com/company/sanatid-dk" style="text-decoration: none;">
          <%= image_tag 'mail/icon-linkedin-white.png', width: 40, height: 40, style: 'display: inline-block; margin-left: 10px;'%>
        </a>
        <a href="https://plus.google.com/+SanatidDk" style="text-decoration: none;">
          <%= image_tag 'mail/icon-googleplus-white.png', width: 40, height: 40, style: 'display: inline-block; margin-left: 10px;'%>
        </a>
      </td>
      <td colspan="2" bgcolor="#78b8f0" style="padding: 25px; font-size: 12px; color: #FFFFFF; text-align: right">
        Copyright &copy; 2014 - <a href="http://sanatid.dk" style="color: #FFFFFF;text-decoration: none;">Sanatid.dk</a>
      </td>
    </tr>
  </table>
</body>
</html>