<!DOCTYPE html>
<html>
<head>
  <title>Sanatid | Staff Administration panel</title>
  <%= stylesheet_link_tag "application-staff", media: "all" %>
  <%= javascript_include_tag "application-staff" %>
  <%= csrf_meta_tags %>

  <%= yield :scripts %>
</head>
<body>
<header>
  <div class="stats">
    <%= yield :statistics %>
  </div>
	<div class="logo-wrapper">
	  <div class="inner">
	    <a href="/" class="logo">Sana<span>tid</span>
	      <div class="slogan">Staff Administration Panel</div>
	    </a>
	    <% if current_user %>
	    <div class="userbox">
        <h5 class="info">
          <i class="square user icon"></i> <%= current_user.name %><br>
	        <i class="square mail icon"></i> <%= current_user.email %>
        </h5>
        <%= link_to staff_logout_path, class: 'item' do %>
          <div class="logout">
            <i class="close sign icon"></i> Logout
          </div>
        <% end %>
	    </div>
	    <% end %>
	  </div>
	</div>
</header>
<div class="container">

	<div class="ui grid">
		<div class="twelve wide column">
			<div class="content">
			  <% flash.each do |key, value| %>
			    <div class="ui message <%= flash_class(key) %>">
			      <%= value %>
			    </div>
			  <% end %>

			  <%= content_for?(:content) ? yield(:content) : yield  %>
			</div>
		</div>


		<div class="four wide column">
		  <% if current_user %>
		    <div class="ui vertical menu">
          <% if current_user.has_role? 'administrator' %>
            <div class="header item"><i class="globe icon"></i>Site administration</div>
            <%= link_to 'Staff members', staff_staffs_path, class: 'item' %>
            <%= link_to 'Form submissions', staff_submissions_path, class: 'item' %>
            <%= link_to 'Newsletter subscribers', staff_newsletter_subscribers_path, class: 'item' %>
            <%= link_to 'Products', staff_products_path, class: 'item' %>
            <%= link_to 'System emails', staff_emails_path, class: 'item' %>
          <% end %>

          <% if current_user.has_role? 'writer' %>
            <div class="header item"><i class="archive icon"></i>Content Management</div>
            <%= link_to 'Service categories', staff_service_fields_path, class: 'item' %>
            <%= link_to 'Blogs', staff_blogs_path, class: 'item' %>
            <%= link_to 'Pages', staff_pages_path(category: 'footer'), class: 'item' %>
            <%= link_to 'Guides', staff_pages_path(category: 'guide'), class: 'item' %>
          <% end %>

          <% if current_user.has_role? 'writer' %>
            <div class="header item"><i class="users icon"></i>Users</div>
            <%= link_to 'Companies', staff_companies_path, class: 'item' %>
            <%= link_to 'Company map', staff_company_map_path, class: 'item' %>
            <%= link_to 'Customers', staff_customers_path, class: 'item' %>
          <% end %>

          <% if current_user.has_role? 'seller' %>
            <div class="header item"><i class="certificate icon"></i>Sales</div>
            <%= link_to 'My leads', staff_my_leads_path, class: 'item' %>
            <%= link_to 'Leads', staff_leads_path, class: 'item' %>
            <%= link_to 'Signup leads', staff_leads_signups_path, class: 'item' %>
          <% end %>

          <% if current_user.has_role? 'supporter' %>
            <div class="header item"><i class="tags icon"></i>Support</div>
            <%= link_to 'Subscriptions', staff_product_subscriptions_path, class: 'item' %>
            <%= link_to 'Unaccepted clips', staff_clips_path(type: :declined), class: 'item' %>
          <% end %>
			  </div>
		  <% end %>
		</div>
	</div>
</div>
  <footer>
    <div class="information">
      <div class="ui three column grid">
        <div class="column">
          <h2>Værdier</h2>
          <p>Hos Sanatid gælder følgende værdier:<br>
            <em>”Troværdighed, positivitet og ansvarlighed”</em><br><br>
            • <strong>Troværdighed:</strong><br>
            <em>”Hos Sanatid er vi åbne og ærlige. Vi stoler på mennesker og er åbne overfor forskellighed.
            Vi betragter verden som en subjektiv oplevelse og har derfor al respekt for at andres
            billeder af verden kan være forskellige fra vores”</em><br><br>
            • <strong>Positivitet:</strong><br>
            <em>”Vi er begejstrede for teknologi, sundhed og velvære, og hvad dette kan gøre for vore
            medmennesker. Vi betragter problemer som udfordringer og står sammen som et team for
            at løse disse. Vi tager vores arbejde alvorligt, men gør det med et smil. Vi opmuntrer vores
            interessenter og bliver enormt glade ved andres resultater”</em><br><br>
            • <strong>Ansvarlighed:</strong><br>
            <em>”Vi bygger vores forretning på sikkerhed og pålidelighed. Vi holder hvad vi lover
            og mere til. Vi sætter en stor ære i anstændighed og gennem en ansvarlig personalepolitik,
            skaber vi tjenester der giver mest værdi for vores interessenter. Vi står til ansvar, hvis det
            ikke går som forventet – men det gør det som regel”</em></p>
        </div>
        <div class="column">
          <h2>Mission</h2>
          <p><em>”Sanatid består af en gruppe kompetente, engagerede og livsglade mennesker,
            der hver dag arbejder på en mere gennemskuelig tilgang til sundhed og velvære”</em><br><br>
            • <em>”Vi vil facilitere kontakten mellem praksisser og klienter”</em><br><br>
            • <em>”Vi vil give vores interessenter den opmærksomhed de fortjener, og spare dem
            for både tid og penge”</em><br><br>
            • <em>”Vi vil tage udgangspunkt i et globalt markede – med nationale kerneværdier og lokal
            tilstedeværelse”</em><br><br>
          </p>
        </div>
        <div class="column">
          <h2>Vision</h2>
          <p><em>”Sanatid ønsker at blive det stærkeste varemærke inden for sundhed og velvære
            på det globale markede. <br>Vi er en virksomhed der vil forbedre livskvaliteten hos
            mennesker, ved at mestre brugervenlighed og overskuelighed. Sanatid skal opfattes
            som verdens mest ansvarlige og kompetente virksomhed inden for facilitering af
            sundheds- og velværeydelser"</em></p>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>